/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

@mixin grid($columns) {
  display: grid;
  grid-template-columns: $columns;
}

@mixin grid--two {
  @include grid(1fr 1fr);
}

@mixin grid--three {
  @include grid(1fr 1fr 1fr);
}

@mixin grid--four {
  @include grid(1fr 1fr 1fr 1fr);
}

@mixin gridgap--two {
  grid-gap: 2rem;
}

@mixin gridgap--three {
  grid-gap: 3rem;
}

@mixin gridgap--four {
  grid-gap: 4rem;
}

@mixin standard-transition($element, $type, $time:0.375s) {
  -webkit-transition: $element $type $time;
  -moz-transition: $element $type $time;
  transition: $element $type $time;
}

@mixin standard-gradient($from, $to, $deg) {
  background: $from;
  background: -moz-linear-gradient($deg, $from 0%, $to 100%);
  background: -webkit-linear-gradient($deg, $from 0%, $to 100%);

  @if $deg=="top" {
    background: linear-gradient(to bottom, $from 0%, $to 100%);
  }

  @if $deg=="-45deg" {
    background: linear-gradient(135deg, $from 0%, $to 100%);
  }

  @if $deg=="across" {
    background: linear-gradient(to right, $from 0%, $to 100%);
  }

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=0);
}

@mixin font-caps {
  text-transform: uppercase;
  font-family: $font-caps;
  font-weight: normal;
}

@mixin header-style {
  letter-spacing: -.0125rem;
  font-family: $font-header;
  font-weight: $bold-weight;
}

@mixin vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin circle($unit) {
  width: $unit;
  height: $unit;
  border-radius: $unit;
}

@mixin flex-grid($gap: 0, $help: false, $align: false, $justify: false, $cols: 0) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  @if ($align == center) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @if ($justify == center) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  @if ($justify == right) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  @if ($justify == space-between) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  @if ($help == true) {
    position: relative;
    border: 1px solid green;

    &::before {
      content: 'flex-grid';
      position: absolute;
      top: 0;
      left: 0;
      background-color: green;
      color: white;
      font-size: 11px;
      padding: 0 3px;
    }
  }

  @if ($gap > 0) {
    margin: -$gap;

    > * {
      margin: $gap;

      @if ($help == true) {
        border: solid 1px green;
      }
    }
  }

  @if ($cols > 0) {

    > * {
      @if ($gap > 0) {
        width: calc(#{100% / $cols} - #{$gap * 2});
      }
      @else {
        width: calc(#{100% / $cols});
      }
    }
  }
}

@mixin flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}