/*
*************************************************

Reset Styles

*************************************************
*/

/*------------------------------------*\
    #BOX-SIZING
	* Apply a natural box layout model to all elements e.g. instead of .this { width:90%; padding:5%; } 
	* it's now .this { width:100%; padding:0; }
\*------------------------------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*------------------------------------*\
    #RESET
\*------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;cursor:pointer}
a:focus,a:hover,a:active {outline: none}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
input,select{vertical-align:middle}
address{font-style: normal;}
/*------------------------------------*\
    #BROWSERS
\*------------------------------------*/
/* remove FF dotted outlines on links, objects and other things */ 
a { text-decoration:none; }
a, a:visited, a:hover, a:focus, a:active, object, embed, a img { outline: none !important;}
img { border:0; }
button::-moz-focus-inner { border: 0;}

/*------------------------------------*\
    #SNIPPETS
\*------------------------------------*/
hr			{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}

html {font-size: 100%;}

/* responsive images */
img {  max-width: 100%;  vertical-align: middle;  border: 0;  -ms-interpolation-mode: bicubic; height:auto; }

/* accessibility */
#skip-to-main { display:none; }

/* wrap */
.wrap 			{float:left; width:100%;}
%wrap			{float:left; width:100%;}
/* auto remove styles on ul and ol lists */
.reset--list 	{margin:0; padding:0; list-style-type:none;}
/* clears */
.clr-l 	{clear:left;}
.clr-r 	{clear:right;}
.clr-b 	{clear:both;}
.centered 		{ text-align:center; }
/* Required * on forms */
.required {  font-style:normal; color:#f00;}

/*------------------------------------*\
    #EXTERNAL
	* fix external widgets e.g. gmap, twitter iframes, etc
\*------------------------------------*/

/*fix twitter scrollbar*/
iframe[name="twttrHubFrame"] {
display: none !important;
}
#fb-root > div { left:0 }

/*------------------------------------*\
    #INPUTS
	* general input styles
\*------------------------------------*/
button,input[type="button"],input[type="reset"],input[type="submit"] { cursor: pointer;  -webkit-appearance: button;}

.uneditable-input,input[type=text],input[type=url],input[type=search],input[type=tel],input[type=color],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],textarea{
    border-radius:4px;
    padding:.5em;background-color:#fff;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05);-webkit-transition:border linear .2s,box-shadow linear .2s;-moz-transition:border linear .2s,box-shadow linear .2s;-o-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s}

.uneditable-input:focus,input[type=text]:focus,input[type=url]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=color]:focus,input[type=password]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=date]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus,input[type=number]:focus,input[type=email]:focus,textarea:focus{border-color:rgba(82,168,236,.8);outline:0;outline:dotted thin\9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)}