@import 'variables';
@import 'mixins';

/*------------------------------------*\
    #TEMPLATE
\*------------------------------------*/

.section.intro {
  margin: 70px 0;

  &--contact {
    margin-bottom: 0;
  }
}
.section.contact-details {
  margin-bottom: 50px;
}
.section.location-cta {
  margin: 60px 0;
}
.section.faqs {
  margin-bottom: 200px;
}
.section.page {
  margin-bottom: 180px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -40px;
    right: 40%;
    bottom: -80px;
    left: -100%;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.section.about-intro {
  padding: 0 0 70px 0;
}
.section.about-content {
  padding-bottom: 100px;
}

.intro__image {
  margin-top: -100px;
  position: relative;
}

/*------------------------------------*\
    #EVENT LISTING
\*------------------------------------*/

.events__container {
  margin-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.event-listing {
  margin: 0 15px;
  position: relative;
  padding: 34px 0 0;
  width: 33%;

  &::before {
    background: url('/images/diagonalpattern.svg');
    content: '';
    height: initial;
    left: 0;
    position: absolute;
    top: 40px;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    width: 100%;
    z-index: -1;
    bottom: 0;
  }
}
.event-listing__content {
  margin-top: -23px;
  position: relative;
  min-height: 240px;
  padding: 0 1rem;
}
.event-listing__title-wrap {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0 0 10px 15px;
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  overflow: hidden;
  height: 88px;
}
.event-listing__title {
  font-size: 40px;
  display: inline;
  -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  color: $clr-dark;
  background-color: #fff;
  padding: 0 5px 3px;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
  margin: 0 0 1.5rem;
  min-height: 90px;
}
.event-listing__detail {
  @include flex-row;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 24px;
}
.event-listing__detail__icon {
  width: 35px;
  font-size: 24px;
  vertical-align: middle;
}
.event-listing__detail__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}
.event-listing__action {
  border-top: 1px dotted #706E7F;
  font-family: $font-header;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem 0;
  text-align: center;

  a {
    color: #fff;
    font-size: 20px;
  }

  i {
    color: $clr-primary;
    font-size: 24px;
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
}

.events {
  &--no-upcoming {
    // .events--no-upcoming
    padding: 2rem;
    background: url('/images/bg-diagonal.svg');
    text-align: center;
    margin-bottom: 7rem;
  }

  &__front {
    // .events__front
    max-width: 66%; 
    margin: 0 auto;
  }

  .social-media {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top:1em;
  }
}

/*------------------------------------*\
    #XMAS
\*------------------------------------*/

.xmas__title {
  font-size: 100px;
  line-height: 78px; 
}
.xmas__time {
  font-size: 18px;
  line-height: 26px;
  margin: 30px 0;

  i {
    margin-right: 5px;
    font-size: 24px;
    vertical-align: middle;
  }
}
.xmas__title {
  padding-right: 1rem;
}
.xmas__content {
  padding-left: 1rem;
}
.section.xmas-specials {
  padding: 4rem 0;
}
.section.xmas-content {
  padding-bottom: 4rem;
}

.food-carousel .menu-item {
  margin: 0;
  width: 100%;
  padding: 0 1rem;
}

/*------------------------------------*\
    #FLEET
\*------------------------------------*/

.section.fleet-allergens {
  padding: 120px 0 100px;
}
.fleet {
  padding-top: 4rem;
}
.fleet-listing {
  position: relative;
  margin-top: 6rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10%;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }

  &:nth-child(even) .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  &:nth-child(even)::before {
    right: 10%;
    left: 0;
  }
}
.fleet-listing__thumb {
  img {
    -webkit-box-shadow: 0px 0px 34px $clr-dark;
    box-shadow: 0px 0px 34px $clr-dark;
    display: block;
    width: 100%;
  }
}
.fleet-listing:nth-child(even) {
  .fleet-listing__thumb img {
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  .fleet-listing__content {
    padding-left: 4rem;
  }
}
.fleet-listing:nth-child(odd) {
  .fleet-listing__thumb img {
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  .fleet-listing__content {
    padding-right: 4rem;
  }
}
.fleet-listing__title {
  font-size: 40px;
  line-height: 34px;
  text-transform: uppercase;
}

/*------------------------------------*\
    #FLEET CTA
\*------------------------------------*/

.fleet-cta {
  padding-bottom: 100px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 15%;
    right: 15%;
    bottom: 20%;
    left: 25%;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.fleet-cta__container {
  @include flex-row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fleet-cta__container-col {
  width: 50%;
}
.fleet-cta__title {
  font-size: 100px;
  line-height: 78px;
  -webkit-transform: translateY(-1.25rem);
  -ms-transform: translateY(-1.25rem);
  transform: translateY(-1.25rem);
}
.fleet-cta__image {
  width: 585px;
  margin-top: 30px;
  transform: translateY(3rem);
}
.fleet-cta .page-content {
  margin: 0;
}
.fleet-cta__socials {
  @include flex-row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 50%;
  margin-left: 50%;

  span {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

/*------------------------------------*\
    #PAGE PORTALS
\*------------------------------------*/

.page-portals {
  padding-bottom: 6rem;
  position: relative;
}
.page-portals__container {
  @include flex-row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page-portal {
  margin: 0 2rem 0.5rem;
  width: 33.333%;
  width: calc(33.333% - 4rem);
}
.page-portal__thumbnail {
  display: block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(1.75rem, 1.75rem);
    -ms-transform: translate(1.75rem, 1.75rem);
    transform: translate(1.75rem, 1.75rem);
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.page-portal__title-wrap {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0 0 10px 15px;
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  height: 34px;
  overflow: hidden;
  top: -1.5rem;

  @supports (font-family: 'Hackney-Vector') {
    height: 45px;
  }
}
.page-portal__title {
  font-size: 32px;
  display: inline;
  -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  color: $clr-dark;
  background-color: #fff;
  padding: 0 5px 3px;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 40px;
    padding: 0 5px 3px;
  }

  a {
    color: $clr-dark !important;
  }
}

.page-portals__listing {
  border-top: 1px dotted #706e7f;

  &:last-child {
    border-bottom: 1px dotted #706e7f;
  }
}
.page-portals__listing__link {
  @include horizontal-center;
  padding: 1.25rem 0;
}
.page-portals__listing__title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0;
  text-transform: uppercase;

  a {
    color: #fff;
  }
}
.page-portals__listing__icon {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, 
    -webkit-transform 200ms ease;
  margin-right: 1rem;
}
.page-portals__listing:hover .page-portals__listing__icon {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.page-portal__illustrations {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 280px;
  width: 100%;
  z-index: -1;
}
.page-portal__illustration {
  position: absolute;
  height: 280px;
  width: 280px;
  bottom: -45px;

  &.first {
    left: -1rem;
  }

  &.second {
    right: -1rem;
  }
}

/*------------------------------------*\
    #NEWSLETTER
\*------------------------------------*/

.section.newsletter {
  padding: 0 0 100px;
}
.newsletter__wrap {
  background: url('/images/bg-diagonal.svg');
  padding: 4rem 15% 6rem;
  text-align: center;
}
.newsletter__title {
  font-size: 70px;
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  display: inline-block;
  margin-bottom: 2rem;
  max-width: 768px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 80px;
  }
  
  span {
    display: inline;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: $clr-dark;
    padding: 0 12px;
  }
}
.newsletter__tagline {
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: $clr-dark;
  display: inline;
}
.newsletter__form {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3rem;
  text-align: left;
}
.newsletter__field {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 2rem;
}
.newsletter__field__label {
  display: block;
  font-family: $font-header;
  font-size: 26px;
  line-height: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 30px;
    line-height: 27px;
  }
}
.newsletter__field__input {
  font-size: 18px;
  line-height: 26px;
  border: none !important;
  outline: none;
  border-radius: 2px;
  padding: 10px 15px;
  background-color: #303034 !important;
  border-bottom: solid 2px #53525D !important;
  color: #fff;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  width: 100%;
  background-clip: padding-box;
  -webkit-transition: border-color 150ms ease-in-out,
    -webkit-box-shadow 150ms ease-in-out;
  transition: border-color 150ms ease-in-out,
    -webkit-box-shadow 150ms ease-in-out;
  -o-transition: border-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
  transition: border-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
  transition: border-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out,
    -webkit-box-shadow 150ms ease-in-out;
}
.newsletter__action .button {
  margin-top: 0;
}

/*------------------------------------*\
    #EVENT-HIRE
\*------------------------------------*/

.section.event-hire {
  padding: 0 0 100px;
}
.event-hire__wrap {
  @extend .newsletter__wrap;
}
.event-hire__title {
  @extend .newsletter__title;
}
.event-hire__tagline {
  @extend .newsletter__tagline;
}

/*------------------------------------*\
    #WHY-US
\*------------------------------------*/

.why-us__cards {
  margin: 100px 0;
}
.why-us__card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 2rem;
  text-align: center;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.why-us__icon {
  @include vertical-center;
  background: url('/images/circle.svg') no-repeat;
  margin: 0 auto;
  height: 55px;
  width: 55px;
  font-size: 28px;
}
.why-us__title {
  margin-top: 25px;
  font-size: 32px;
  line-height: 28px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 40px;
    line-height: 34px;
  }
}
.why-us__tagline {
  margin-top: 25px;
}

/*------------------------------------*\
    #REWARDS
\*------------------------------------*/

.section.rewards {
  margin: 100px 0;
  text-align: center;
}
.rewards__title {
  @extend .newsletter__title;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.rewards__wrap {
  padding: 120px 130px 95px 130px;
}
.rewards__cards {
  margin-top: 75px;
}
.reward-card {
  @extend .why-us__card;
  margin: 0 1rem;

  &--middle {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
}
.reward-card__icon {
  @include vertical-center;
  background: url('/images/cluster.svg') center center/cover no-repeat;
  font-family: $font-header;
  font-size: 40px;
  line-height: 32px;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
.reward-card__tagline {
  margin-top: 40px;
  
  span {
    -webkit-box-decoration-break: clone;
    -moz-box-direction-break: clone;
    box-decoration-break: clone;
    background-color: $clr-dark;
    padding: 0 7px 5px 7px;
  }
}
.rewards__action {
  margin-top: 40px;
}

/*------------------------------------*\
    #REVIEWS
\*------------------------------------*/

.section.reviews {
  margin-bottom: 100px;
}

.review {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15%;
    right: 0;
    bottom: 0;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.review__column {
  width: 50%;
  padding: 3rem;
}
.review__content {
  margin: 1.5rem 0;
}
.review__author {
  font-family: $font-header;
  font-size: 30px;
  line-height: 36px;
}
.review__illustration--desktop {
  display: block;
}
.review__illustration--mobile {
  display: none !important;
}

/*------------------------------------*\
    #BLOG / ARTICLES
\*------------------------------------*/

.article-listing {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.article-listing:nth-child(even) {
  -webkit-box-orient: horizontal; 
  -webkit-box-direction: reverse; 
  -ms-flex-direction: row-reverse; 
  flex-direction: row-reverse;

  &::before {
    right: initial;
    left: 0;
  }
}
.article-listing__image {
  width: 58%;

  a {
    display: block;
  }

  img {
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out,
      -webkit-transform 300ms ease-in-out;
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  &:hover img {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.article-listing:nth-child(even) .article-listing__image {
  img {
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  &:hover img {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.article-listing__content {
  padding: 2rem;
  width: 42%;
}
.article-listing__title {
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 40px;
    line-height: 34px;
  }

  a {
    color: #fff !important;
  }
}
.article-listing__abstract {
  margin: 30px 0 25px;
}

.blog__articles {
  margin-bottom: 6rem;
}
.blog__summary {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  .showing {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.pagination {
  @include flex-row;
}
.pagination__item {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}
.pagination__link {
  @include vertical-center;
  border: solid 1px $clr-primary;
  font-size: 14px;
  height: 30px;
  width: 30px;
  vertical-align: middle;

  &:hover {
    border-color: darken($clr-primary, 15%);
  }

  &.active {
    background-color: $clr-primary;
    color: $clr-dark;

    &:hover {
      background-color: darken($clr-primary, 15%);
      border-color: darken($clr-primary, 15%);
    }
  }
}

.section.article {
  padding: 0 0 100px 0;
}
.article__aside {
  width: 90px;

  .social-media {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .social-media__item {
    margin: 0 0 15px;
  }
  .social-media__item--cta {
    font-family: $font-header;
    font-size: 34px;
    line-height: 30px;
    margin: 0;
    text-align: right;
    -webkit-transform: rotate(-90deg) translate(-2.25rem, -38px);
    -ms-transform: rotate(-90deg) translate(-2.25rem, -38px);
    transform: rotate(-90deg) translate(-2.25rem, -38px);
    width: 125px;
  }
}
.article__main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 120px;
  max-width: 768px;
}

/*------------------------------------*\
    #MAP
\*------------------------------------*/

.map {
  padding-top: 48%;
  position: relative;
}
.map__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map__button {
  bottom: 3rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.zoom-links {
  position: absolute !important;
  top: 40px !important;
  left: 30px !important;
  background-color: $clr-dark !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  border-radius: 100px;
}
.zoom-in,
.zoom-out {
  @include vertical-center;
  width: 32px;
  padding: 7px 0;
  text-align: center;
  color: #53525d;
  cursor: pointer;
  font-size: 24px;
}
.zoom-out {
  border-top: 1px solid #1E1E20;
}

/*------------------------------------*\
    #LOCATION (CARDS)
\*------------------------------------*/

.location-card {
  @include horizontal-center;
  margin-top: 70px;
  padding: 50px 0;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 100px);
    background: url('/images/bg-diagonal.svg') repeat top center;
    z-index: -1;
  }

  &:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    &::before {
      right: initial;
      left: 0;
    }
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 140px;
  }
}
.location-card__thumbnail {
  -webkit-box-shadow: 0px 0px 34px $clr-dark;
  box-shadow: 0px 0px 34px $clr-dark;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 590px;
  will-change: transform;
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out,
    -webkit-transform 250ms ease-in-out;

    &:hover {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }

  img {
    width: 100%;
  }
}
.location-card:nth-child(odd) .location-card__thumbnail {
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);

  &:hover {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
.location-card__content {
  margin-top: -23px;
  position: relative;
  padding: 3rem 30px 3rem 30px;
  width: 50%;
}
.location-card__title-wrap {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0 0 10px 15px;
  overflow: hidden;
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  height: 81px;
}
.location-card__title {
  display: inline;
  -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  color: $clr-dark;
  background-color: #fff;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
  font-size: 80px;
  line-height: 70px;
  padding: 0 5px 3px;
  margin-left: 0;
}
.location-card:nth-child(odd) .location-card__title-wrap {
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.location-card__coming-soon,
.location-card__concession {
  -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  display: inline-block;
  font-family: $font-header;
  left: 20px;
  margin-bottom: 0;
  position: absolute;
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  z-index: 5;
  background-color: $clr-dark;
  padding: 4px 8px 6px;
  margin-top: 0;
}
.location-card__concession {
  left: 50px;
  top: 14px;
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  font-size: 25px;
  padding: 2px 4px 3px;
  line-height: 35px;
}
.location-card:nth-child(odd) .location-card__concession {
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}
.location-card__details {
  color: #fff;
  margin-top: 20px;
  min-height: 175px;
}
.location-card__detail {
  @include flex-row;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 24px;
}
.location-card__detail__icon {
  width: 35px;
  font-size: 24px;
  vertical-align: middle;
}
.location-card__detail__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;

  a {
    color: inherit;
  }
  a:hover {
    color: $clr-primary;
  }
}
.location-card__actions {
  @include flex-row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}
.location-card__action {
  @include vertical-center;
  border-right: 2px dotted #706e7f;
  position: relative;
  width: 25%;

  &:last-child {
    border-right: 0;
  }
}
.location-card__action__inner {
  display: inline-block;
  margin: 0 auto;
  max-width: 50px;
  text-align: center;

  i {
    font-size: 32px;
    vertical-align: middle;
  }
  
  span {
    color: #fff;
    display: block;
    font-family: $font-header;
    font-size: 16px;
    line-height: 12px;
    margin-top: 5px;
  }
}
.location-card__illustration {
  position: absolute;
  right: -45px;
  bottom: -110px;
}
.location-card:nth-child(odd) .location-card__illustration {
  right: initial;
  left: -45px;
}

/*------------------------------------*\
    #LOCATION (PAGE)
\*------------------------------------*/

.location {
  height: 720px;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
}
.location__overlay {
  left: 0;
  padding: 0.5rem 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.location-details {
  @include horizontal-center;
  padding: 0.5rem 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: url('/images/bg-diagonal.svg');
  }

}
.location-details__main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.location-details__concession {
  background-color: $clr-dark;
  color: #fff;
  line-height: 20px;
  margin-top: 0;
  padding: 2px 8px 5px;
  font-size: 40px;
  left: 20px;
  padding: 6px 10px 12px;
  top: -68px;
  z-index: 5;
}
.location-details__title {
  margin: 0;
  position: relative;
  -webkit-transform: translateY(-1.5rem);
  -ms-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
  z-index: 5;
}
.location-details__title__first {
  @extend .location-card__title;
  display: inline-block;
  -webkit-transform: translateY(-10px) rotate(-1deg);
  -ms-transform: translateY(-10px) rotate(-1deg);
  transform: translateY(-10px) rotate(-1deg);
  z-index: 3;
}
.location-details__title__second {
  @extend .location-card__title;
  display: inline-block;
  -webkit-transform: translateX(-5px) rotate(1deg);
  -ms-transform: translateX(-5px) rotate(1deg);
  transform: translateX(-5px) rotate(1deg);
  top: -20px;
}
.location-details__links {
  padding: 4rem 0 5rem;
}

.amenities {
  @include horizontal-center;
  color: #fff;
  font-size: 18px;
  
  i {
    font-size: 24px;
    vertical-align: middle;
  }
}
.amenities__icon {
  display: inline-block;
  margin-left: 16px;
  position: relative;
  -webkit-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  transition: color 250ms linear;

  &::after {
    font-family: $font-body;
    font-size: 14px;
    font-weight: $bold-weight;
    content: attr(data-content);
    position: absolute;
    left: 50%;
    top: -35px;
    background-color: $clr-primary;
    color: $clr-dark;
    padding: 4px 8px;
    width: auto;
    white-space: nowrap;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    border-radius: $border-radius;
    letter-spacing: 1px;
    z-index: 10;
  }

  &::before {
    background-color: $clr-primary;
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 10px;
    height: 10px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    color: $clr-primary;
  }
  &:hover::after,
  &:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

/*------------------------------------*\
    #CONTACT
\*------------------------------------*/

.contact-cta {
  margin: 50px 0 140px;

  .feature {
    margin-bottom: 0;
  }

  .social-media {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.contact-cta__actions {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
}
.contact-cta__card {
  margin: 0 2rem;
  text-align: center;
  width: 40%;
}
.contact-cta__title {
  font-size: 32px;
  line-height: 28px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 40px;
    line-height: 34px;
  }
}
.contact-cta__email {
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}

/*------------------------------------*\
    #CONTACT DETAILS (LOCATION PAGE)
\*------------------------------------*/

.contact-details__container {
  @include flex-row;
}
.contact-details__group-wrap {
  position: relative;
  z-index: 1;
}
.contact-details__group {
  padding: 1rem 3rem 1rem;
  position: relative;
}
.contact-details__group:nth-child(1) {
  padding: 100px 0;
  position: relative;
  width: 66.666%;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 10000px;
    height: 100%;
    background: url('/images/bg-diagonal.svg');
    z-index: 1;
  }
}
.contact-details__group:nth-child(2) {
  padding: 100px 0 100px 3rem;
  width: 33.333%;
}
.contact-details__title {
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 2rem;
}
.contact-details__detail {
  @include flex-row;
  margin-bottom: 14px;
  color: #fff;
  font-size: 18px;
  line-height: 26px;

  a {
    color: #fff;
  }

  &:hover a {
    color: $clr-primary;
  }
}
.contact-details__detail__link {
  color: $clr-primary !important;
  font-family: $font-header;
  font-size: 26px;
  line-height: 32px;

  i {
    vertical-align: middle;
  }
}
.contact-details__detail__icon {
  width: 35px;
  font-size: 24px;
  vertical-align: middle;
}
.contact-details__detail__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}
.social-media--align-left {
  margin-top: 2rem;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.contact-details__illustration {
  position: absolute;
  right: -1rem;
  bottom: -2rem;
  z-index: 2;
}

.page-content--pad-top {
  padding-top: 6rem;
}
.page-content__container {
  @include flex-row;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 120px;
    bottom: 0;
    width: 10000px;
    background: url('/images/bg-diagonal.svg');
    z-index: 1;
  }
}
.page-content__group {
  width: 50%;
  position: relative;
  z-index: 1;

  &:nth-child(2) {
    padding: 160px 0 100px;
  }
}
.page-content {
  h2,h3,h4,h5,h6 {
    margin: 2.5rem 0;
    text-transform: uppercase;
  }
  h2 {
    font-size: 36px;

    @supports (font-family: 'Hackney-Vector') {
      font-size: 40px;
    }
  }
  h3 {
    font-size: 26px;

    @supports (font-family: 'Hackney-Vector') {
      font-size: 30px;
    }
  }
  h4 {
    font-size: 22px;

    @supports (font-family: 'Hackney-Vector') {
      font-size: 26px;
    }
  }
  h5 {
    font-size: 18px;

    @supports (font-family: 'Hackney-Vector') {
      font-size: 22px;
    }
  }
  h6 {
    font-size: 16px;

    @supports (font-family: 'Hackney-Vector') {
      font-size: 20px;
    }
  }
  ul {
    margin: 1.75rem 0;
    padding: 0;
  }
  li {
    padding-left: 2rem;
    position: relative;
    list-style: none;
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 100%;
      top: 9px;
    }
  }
}
.page-content__text {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.page-content__socials {
  @include vertical-center;
  font-size: 18px;
  line-height: 26px;
  padding-top: 100px;

  &--justify-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .social-media {
    margin: 0 0 0 1rem;
  }
}

.page-content__title {
  font-size: 100px !important;
  line-height: 78px !important;
  margin: -40px 0 100px;
}

/*------------------------------------*\
    #LOCATION CARDS (CONTACT PAGE)
\*------------------------------------*/

.locations .feature {
  margin-bottom: 30px;
}

.locations__listings {
  .location-card {
    @include horizontal-center;
    margin-top: 70px;
    padding: 50px 0;
    position: relative;
    width: 90%;
    display: unset;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: url('/images/bg-diagonal.svg') repeat top center;
      z-index: -1;
    }

    &::before {
      right: initial;
      left: 0;
    }

    &:last-child {
      margin-bottom: 140px;
    }

    & a {
      max-width: 100%;
      & img {
        margin-top: -50px;
      }
    }
    
    &__content {
      margin-top: -80px;
    }
  }
  .location-card__thumbnail {
    -webkit-box-shadow: 0px 0px 34px $clr-dark;
    box-shadow: 0px 0px 34px $clr-dark;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 590px;
    will-change: transform;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out,
      -webkit-transform 250ms ease-in-out;

    img {
      width: 100%;
    }
  }
  .location-card .location-card__thumbnail {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .location-card__content {
    margin-top: -23px;
    position: relative;
    padding: 3rem 30px 3rem 30px;
    width: 100%;
  }
  .location-card__title {
    display: inline;
    -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
    box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
    color: $clr-dark;
    background-color: #fff;
    padding: 0 5px 0 0;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
    font-size: 45px;
    line-height: 70px;
    margin-left: 0;
  }
  .location-card .location-card__title-wrap {
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  .location-card__coming-soon {
    background-color: $clr-primary;
    -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
    box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
    color: $clr-dark;
    font-size: 50px;
    line-height: 38px;
    padding: 1px 10px 7px;
    top: 48px;
    z-index: 2;
  }
  .location-card__concession {
    background-color: $clr-dark;
    color: #fff;
    font-size: 30px;
    line-height: 20px;
    margin-top: 0;
    padding: 2px 8px 5px;
    z-index: 3;
    left: 60px;
    top: 30px;
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  .location-card .location-card__concession {
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  .location-listing__details {
    margin-top: 50px;
  }
  .slick-slide {
    margin: 0 10px;
    padding-bottom: 0px;
  }
  .slick-list {
    margin-top: 50px;
  }
}

/*------------------------------------*\
    #CAREERS
\*------------------------------------*/

.career-location {
  margin: 8rem 0;
  position: relative;

  &__title {
    font-size: 68px;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;

    @supports (font-family: 'Hackney-Vector') {
      font-size: 80px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -50px;
    height: 190px;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }

  &:nth-child(odd)::before {
    left: -100%;
    right: -50px;
  }

  &:nth-child(even)::before {
    left: -50px;
    right: -100%;
  }
}

.section--job {
  padding: 140px 0 130px;
}

.job-title {
  font-size: 32px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0;
  padding: 1.25rem 0 1.75rem;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 40px;
  }

  &__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
  }
}

.job {
  border-top: 1px dotted #706e7f;
  display: block;

  &:first-of-type {
    border-top: none;
  }

  &-details {
    margin-top: 25px;
  }

  &-content {
    height: 0px;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    &__wrap {
      padding: 40px 60px;
    }

    &__summary {
      margin-bottom: 2rem;
    }

    &__actions {
      @include horizontal-center;
      margin-top: 2rem;

      .button {
        margin: 0 2rem 0 0;
      }
    }
  }
}

/*------------------------------------*\
    #MENU
\*------------------------------------*/

.hero {
  height: 800px;
  overflow: hidden;
  position: relative;
  margin-bottom: 4rem;
}
.hero__image {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  @supports (-o-object-fit: cover) or (object-fit: cover) {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }
}
.hero__overlay {
  @include vertical-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.hero__content {
  max-width: 720px;
}
.hero__title {
  font-size: 140px;
  line-height: 100px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 180px;
    line-height: 140px;
  }
}

// ILLUSTRATION

.illustration__inner {
  position: relative;
}
.illustration__image {
  position: absolute;
  top: 45px;
  right: 0;
  width: 140px;
}

// MENU

.menu--convenience {
  padding-top: 40px;
}
.menu__nav {
  background-color: #1e1e20;
}
.menu__nav__list {
  @include flex-row;
}
.menu__nav__button {
  display: inline-block;
  color: white;
  font-family: $font-header;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 20px 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    -webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out,
    -webkit-box-shadow .15s ease-in-out;

  &.active {
    background: url('/images/bg-diagonal.svg');
  }

  i {
    color: $clr-primary;
    font-size: 24px;
    position: relative;
    top: 4px;
    margin-right: 2px;
  }
}

.menu__allergy {
  padding-bottom: 2rem;
}
.menu__allergy-info {
  background: url('/images/bg-diagonal.svg');
  padding: 1rem 1.25rem 0.9rem 1.25rem;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 25px;

  img {
    position: relative;
    top: -2px;
    margin-right: 0.75rem;
  }
}

.section.menu {
  padding-bottom: 120px;
}
.menu-section {
  border-top: 1px dotted #706e7f;

  &:last-child {
    border-bottom: 1px dotted #706e7f;
  }
}
.menu-section__header {
  @include vertical-center;
  cursor: pointer;
}
.menu-section__title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 40px;
  margin-bottom: 0;
  padding: 1.25rem 0 1.75rem;
  text-transform: uppercase;
}
.menu-section__description {
  margin-bottom: 2rem;
}
.menu-section__button {
  background-color: transparent;
  border: 0;
  color: $clr-primary;
  font-size: 24px;
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease,
    -webkit-transform 300ms ease;
}
.menu-section__content {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 600ms ease;
  -o-transition: height 600ms ease;
  transition: height 600ms ease;

  &::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    height: 50%;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.menu-section__items {
  @include flex-row();
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu-section__hidden {
  padding-bottom: 3rem;
}

.menu-item {
  margin: 0 16% 3rem 0;
  width: 42%;

  &:nth-child(even) {
    margin-right: 0;
  }
}
.menu-item__thumbnail {
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.menu-item__title {
  font-size: 40px;
  text-transform: uppercase;
}
.menu-item__details {
  @include horizontal-center;
  width: 100%;
}
.menu-item__price {
  color: #fff;
  font-weight: $bold-weight;
  font-size: 22px;
}
.menu-item__info {
  @include flex-row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1rem;
}
.menu-item__info__wrap {
  margin-left: 1rem;
  position: relative;

  &--toggle {
    cursor: pointer;
    will-change: transform;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;

    &:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &--tooltip {
    @extend .amenities__icon;

    &::after {
      top: -35px;
    }
  }
}
.menu-item__description {
  margin-top: 1.5rem;
}
.menu-item__details {
  @include horizontal-center;
  color: #53525e;
}
.menu-item__detail--tooltip {
  @extend .amenities__icon;
  display: inline-block;
  margin-left: 0.5rem;

  &:first-child {
    margin-left: 0;
  }
}

.menu__hippo-hour {
  margin-top: 100px;

  .feature {
    margin-bottom: 0;
    padding: 0;
  }
  .feature__tagline {
    margin-top: 1rem;
  }
}

.category-cta {
  width: 100%;
  margin-top: 3rem;
  background: url('/images/bg-diagonal.svg');
  position: relative;
  font-family: $font-header;
  font-weight: 500;
  padding-top: 2rem;

  &__title {
    // .category-cta__title
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    line-height: initial;
    position: absolute;
    top: -25px;
  }

  &__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 1rem 0;
  }

  &__item {
    // .category-cta__link
    width: 25%;
    text-align: center;
    padding: 30px 20px;
    font-size: 1.15em;
    border-left: dashed 1px #fff;
    border-color: rgba(#fff, 0.3);

    &:first-child {
      border-left: 0;
    }
  }

  &__link {
    display: inline-block;
    max-width: 58px;
    margin: 0 auto;

    &__icon {
      // .category-cta__link__icon
      display: block;
      font-size: 24px;
      margin-bottom: 5px;
    }

    &__text {
      // .category-cta__link__text
      display: block;
      color: #fff;
      text-transform: uppercase;
      line-height: 15px;

      &:hover {
        color: $clr-primary;
      }
    }

  }
}

/*------------------------------------*\
    #PAGE
\*------------------------------------*/

.main-content {
  position: relative;
  margin-bottom: 6em;

  &::before {
    content: '';
    display: block;
    width: 75%;
    height: 100%;
    background: transparent url('/images/bg-diagonal.svg') repeat top center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &.inner {
    width: 45%;
  }
}

/*------------------------------------*\
    #ALLERGENS
\*------------------------------------*/

.allergens__title {
  font-size: 80px;
  margin-top: 200px;
  line-height: 68px;
  min-height: 234px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 100px;
    line-height: 78px;
  }
}
.allergens__image {
  position: relative;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  width: 100%;
  z-index: -1;

  &--rev {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
  }
}
.allergens__content {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/images/bg-diagonal.svg');
    z-index: -3;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: scale(1.2) translate(-20%, 10%);
    -ms-transform: scale(1.2) translate(-20%, 10%);
    transform: scale(1.2) translate(-20%, 10%);
  }

  &--left::before {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(1.2) translate(20%, 20%);
    -ms-transform: scale(1.2) translate(20%, 20%);
    transform: scale(1.2) translate(20%, 20%);
  }
}
.allergens__illustration {
  margin-top: 3rem;
}

/*------------------------------------*\
    #READY TO EAT
\*------------------------------------*/

.ready-to-eat {
  margin-bottom: 60px;
}
.ready-to-eat__inner {
  margin-top: 60px;
  padding-bottom: 45px;
  position: relative;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.ready-to-eat__title {
  font-size: 60px;
  line-height: 44px;
  margin-bottom: 35px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 64px;
    line-height: 48px;
  }
}
.ready-to-eat__action {
  border-right: dotted 2px #706E7F;
  font-family: $font-header;
  font-size: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 25%;
  line-height: 16px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 23px;
    line-height: 18px;
  }

  i {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }

  span {
    color: #fff;
  }

  &:hover span {
    color: $clr-primary;
  }

  &:last-child {
    border-right: 0;
  }
}
.ready-to-eat__link {
  position: relative;
  display: block;
}

/*------------------------------------*\
    #FAQs
\*------------------------------------*/

.faqs {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 40%;
    bottom: 140px;
    left: -100%;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.faq {
  border-bottom: dotted 2px #303034;
  padding: 30px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}
.faq__header {
  @include horizontal-center;
  cursor: pointer;
}
.faq__title {
  font-size: 34px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0;
  line-height: 30px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 40px;
    line-height: 34px;
  }
}
.faq__answer {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.faq__wrap {
  padding: 40px 60px 15px;
}

/*------------------------------------*\
    #PAGE NOT FOUND
\*------------------------------------*/

.page-not-found {
  padding: 140px 0;
  text-align: center;
}
.page-not-found__title {
  font-family: $font-body;
  font-size: 18px;
  line-height: 26px;
}
.page-not-found__tagline {
  font-family: $font-header;
  font-size: 80px;
  line-height: 68px;
  margin: 10px 0 25px;
}

/*------------------------------------*\
    #MEDIA QUERIES
    We group media queries as much as 
    possible to prevent duplication and 
    keep the amount of breakpoints to 
    a minimum.
\*------------------------------------*/

@media screen and (max-width: 1400px) {

  /*------------------------------------*\
    #PAGE PORTALS
  \*------------------------------------*/

  .page-portal__illustration {
    width: 280px;
  }

}

@media screen and (max-width: 1200px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .intro__image-wrap {
    text-align: center;
    width: 100%;
  }
  .intro__image {
    margin: 0 0 2rem;
  }

  .job-page .masthead__title {
    font-size: 80px;
    line-height: 68px;
  }

  /*------------------------------------*\
    #MASTHEAD
  \*------------------------------------*/

  .masthead {
    height: 450px;
  }
  .masthead__title {
    font-size: 120px;
    line-height: 85px;
  }

  /*------------------------------------*\
    #LOCATION CARDS
  \*------------------------------------*/

  .locations {
    padding-bottom: 70px;
  }

  .location-card {
    padding: 45px 0;

    &:last-child {
      margin-bottom: 75px;
    }
  }
  .location-card__content {
    padding: 1rem 30px;
  }
  .location-card__title-wrap {
    height: 44px;
    margin: 0;
  }
  .location-card__title {
    font-size: 44px;
    line-height: 38px;
    margin-bottom: 0;
  }
  .location-card__concession {
    left: 35px;
    font-size: 20px;
    line-height: 16px;
    top: -7px;
    padding: 3px 5px 6px;
  }
  .location-card__action__inner i {
    font-size: 24px;
  }

  .location-listing__actions {
    margin-top: 0;
  }
  .location-card__illustration {
    height: 140px;
    width: 140px;
  }
  .location-card:nth-child(odd) .location-card__illustration {
    left: -75px;
  }
  .location-card:nth-child(even) .location-card__illustration {
    right: -75px;
  }

  /*------------------------------------*\
    #LOCATION PAGE
  \*------------------------------------*/

  .location {
    height: 700px;
  }
  .location-details {
    display: block;
    text-align: center;
  }
  .location-details__amenities {
    padding-bottom: 1rem;
  }
  .amenities {
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .amenities__title {
    margin-bottom: 0.5rem;
  }
  .amenities__icon::after,
  .menu-item__detail--tooltip::after,
  .menu-item__info__wrap--tooltip::after {
    font-size: 12px;
    padding: 3px 7px;
  }
  .location-details__title__first,
  .location-details__title__second {
    padding-bottom: 6px;
  }
  .location-details__concession {
    font-size: 24px;
    left: 37%;
    padding: 2px 6px 8px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -60px;
  }

  /*------------------------------------*\
    #MENU
  \*------------------------------------*/

  .hero__title {
    font-size: 120px;
    line-height: 90px;
  }

  // ILLUSTRATION

  .illustration__image {
    width: 120px;
  }

  /*------------------------------------*\
    #EVENT HIRE CTA
  \*------------------------------------*/

  .event-hire__wrap {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .event-hire__title {
    font-size: 40px;
    line-height: 43px;
  }

  /*------------------------------------*\
    #PAGE PORTALS
  \*------------------------------------*/

  .page-portals {
    padding-bottom: 15rem;
  }
  .page-portal__illustration {
    &.first {
      left: 50%;
    }
    &.second {
      right: 50%;
    }
  }

  /*------------------------------------*\
    #WHY US CARDS
  \*------------------------------------*/

  .why-us__cards {
    margin: 40px 0;
  }

  /*------------------------------------*\
    #READY TO EAT
  \*------------------------------------*/

  .ready-to-eat__inner {
    padding-bottom: 35px;
    margin-top: 50px;

    &::before {
      top: 20px;
    }
  }
  .ready-to-eat__title {
    font-size: 40px;
    line-height: 34px;
    margin-bottom: 25px;
  }

}

@media screen and (max-width: 990px) {

  /*------------------------------------*\
    #REWARDS
  \*------------------------------------*/

  .rewards__wrap {
    padding: 100px 120px;
  }

  /*------------------------------------*\
    #LOCATION CARDS
  \*------------------------------------*/

  .location-card {
    margin-top: 45px;
  }
  .location-card__content {
    width: 60%;
  }
  .location-card__title-wrap {
    height: 44px;
    margin: 0;
  }
  .location-card__title {
    font-size: 44px;
    line-height: 38px;
    margin-bottom: 0;
  }
  .location-card__illustration {
    height: 125px;
    width: 125px;
    right: -40px;
    bottom: -100px;
  }
  .location-card__thumbnail img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  /*------------------------------------*\
    #LOCATION PAGE
  \*------------------------------------*/

  .location {
    height: 505px;
  }
  .location img {
    @supports (-o-object-fit:cover) or (object-fit:cover) {
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
    }
  }
  .contact-details__group:nth-child(1) {
    width: 60%
  }
  .contact-details__group:nth-child(2) {
    width: 40%;
  }
  .contact-details__group-wrap {
    max-width: 320px;
  }
  .contact-details__title {
    font-size: 30px;
    line-height: 24px;
  }
  .contact-details__detail__text {
    font-size: 15px;
  }

  /*------------------------------------*\
    #WHY US CARDS
  \*------------------------------------*/

  .why-us__cards {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .why-us__card {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    margin: 0;
    width: 50%;
    padding: 1rem;
  }

  /*------------------------------------*\
    #REVIEWS
  \*------------------------------------*/

  .container.review {
    display: block;
  }
  .review__column {
    width: 100%;
  }
  .review__illustration--mobile {
    display: inline-block !important;
    width: 50%;
  }
  .review__illustration--desktop {
    display: none !important;
  }
  .review__column--images {
    @include flex-row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 1rem;
  }
  .review__image {
    width: 60%;
  }
  .review__illust {
    text-align: right;
    width: 40%;
  }
  .review__column--text {
    padding-bottom: 2rem;
    padding-top: 0;
  }

  /*------------------------------------*\
    #EVENTS
  \*------------------------------------*/

  .event-listing {
    width: 48%;
    margin: 0 1%;
  }

  /*------------------------------------*\
    #PAGE PORTALS
  \*------------------------------------*/

  .page-portal {
    width: 50%;
    width: calc(50% - 4rem);
  }

  /*------------------------------------*\
    #PAGE
  \*------------------------------------*/

  .section.intro .container {
    display: block;
  }
  .section.intro .container__column:nth-child(2) {
    padding: 0 3rem;
    width: 100%;
  }

  /*------------------------------------*\
    #NEWSLETTER
  \*------------------------------------*/

  .newsletter__action {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
  }
  .newsletter__field:nth-child(2) {
    margin-right: 0;
  }
  .newsletter__wrap {
    padding: 55px 10% 60px;
  }
  .newsletter__title {
    font-size: 40px;
    line-height: 34px;
  }
  .newsletter__field__label {
    font-size: 22px;
    line-height: 22px;
  }

  /*------------------------------------*\
    #ARTICLES / NEWS
  \*------------------------------------*/

  .article-listing {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }
  .article-listing__content {
    padding: 0 2rem;
  }

  .masthead--article .masthead__title {
    font-size: 60px;
    line-height: 48px;
  }
  .masthead--article {
    height: auto;
    min-height: auto;
    padding-bottom: 40px;
  }

  /*------------------------------------*\
      #PAGE NOT FOUND
  \*------------------------------------*/

  .page-not-found {
    padding: 80px 0;
  }
  .page-not-found__title {
    font-family: $font-body;
    font-size: 15px;
    line-height: 23px;
  }
  .page-not-found__tagline {
    font-size: 60px;
    line-height: 48px;
  }

  /*------------------------------------*\
    #ALLERGENS
  \*------------------------------------*/

  .allergens__title,
  .xmas__title {
    font-size: 64px;
    line-height: 48px;
    margin-top: 30px;
    min-height: 0;
  }

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .intro__image {
    margin-top: -120px;
  }

  .page-content--pad-top {
    padding-top: 8rem;
  }

  /*------------------------------------*\
    #CONTACT PAGE
  \*------------------------------------*/

  .contact-cta__image {
    height: 70px;
    width: 70px;
  }
  .contact-cta__title {
    font-size: 30px;
    line-height: 24px;
  }

  /*------------------------------------*\
    #JOB PAGE
  \*------------------------------------*/

  .section--job {
    padding: 0 0 130px;
  }
  .article__main {
    margin-left: 60px;
  }
  .job-page .masthead__title {
    font-size: 60px;
    line-height: 48px;
  }

  /*------------------------------------*\
    #MODAL
  \*------------------------------------*/

  .modal__dialogue__button {
    height: 48px;
    width: 48px;
    line-height: 48px;
    position: relative;
    z-index: 999;
  }

  /*------------------------------------*\
    #MENU
  \*------------------------------------*/

  .illustration__image {
    width: 100px;
    top: 26px;
  }

}

@media screen and (max-width: 768px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .section.menu {
    padding-bottom: 50px;
  }

  .page-content .button {
    width: 100%;
  }

  .contact-cta {
    margin: 30px 0;
  }
  .contact-cta__actions {
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
  }
  .contact-cta__card {
    width: 100%;
  }

  /*------------------------------------*\
    #HERO
  \*------------------------------------*/

  .hero {
    height: 505px;
  }
  .hero__title {
    font-size: 64px;
    line-height: 48px;
  }
  .hero__content {
    max-width: 540px;
  }

  /*------------------------------------*\
    #READY TO EAT
  \*------------------------------------*/

  .ready-to-eat__action {
    font-size: 16px;
    line-height: 12px;

    i {
      margin: 0;
    }

    span {
      display: block;
      margin-top: 5px;
      padding: 0 10px;
    }
  }

  /*------------------------------------*\
    #CATEGORY CTA
  \*------------------------------------*/

  .category-cta__item {
    padding: 15px 10px;
  }
  .category-cta__link {
    padding: 0;
  }

  /*------------------------------------*\
    #REWARDS
  \*------------------------------------*/

  .rewards__wrap {
    padding: 80px 100px;
  }
  .rewards__title {
    line-height: 40px;
  }
  .rewards__cards {
    margin-top: 0;
  }
  .reward-card__icon {
    font-size: 30px;
    line-height: 24px;
    width: 80px;
    height: 80px;
  }
  .rewards__action {
    margin-top: 20px;
  }

  /*------------------------------------*\
    #LOCATION CARDS
  \*------------------------------------*/

  .location-card {
    display: block;
    margin-top: 60px; 
    padding: 0;

    &::before {
      width: 100%;
    }
  }
  .location-card__thumbnail {
    display: block;
  
    img {
      padding: 0 1rem;
      margin-top: -1rem;
      transform: initial;
    }
  }
  .location-card__content {
    font-size: 13px;
    margin-top: -40px;
    padding-bottom: 1rem;
    width: 100%;
  }
  .location-card__illustration {
    display: none;
  }

  /*------------------------------------*\
    #LOCATION PAGE
  \*------------------------------------*/

  .map {
    padding-top: 360px;
  }

  .location .button {
    margin-top: 10px;
  }
  
  .locations .feature--left .feature__title {
    font-size: 64px;
    line-height: 48px;
    max-width: 185px;
    margin-bottom: 1rem;
  }
  .locations .feature--left .feature__image {
    margin-top: 30px;
  }

  .location {
    height: 325px;
  }
  .location-details__concession {
    left: 32%;
  }

  .contact-details__container {
    display: block;
  }
  .contact-details__group:nth-child(1),
  .contact-details__group:nth-child(2),
  .contact-details__group:nth-child(1)::before {
    width: 100%;
  }
  .contact-details__group:nth-child(1),
  .contact-details__group:nth-child(2) {
    padding: 2rem;
  }
  .contact-details__illustration {
    height: 100px;
    width: 100px;
    pointer-events: none;
  }

  /*------------------------------------*\
    #PAGE CONTENT
  \*------------------------------------*/

  .page-content__container {
    display: block;
  }
  .page-content__group {
    width: 100%;
  }
  .page-content__title {
    font-size: 64px !important;
    line-height: 48px !important;
    margin-bottom: 20px;
  }
  .page-content__illustration {
    width: 100%;
  }
  .page-content__group:nth-child(2) {
    padding: 2rem 0;
  }
  .page-content__text {
    font-size: inherit;
    line-height: inherit;
  }
  .page-content__socials {
    display: block;
    text-align: center;
    padding-top: 40px;
    font-size: inherit;
  }
  .page-content__socials .social-media {
    margin: 1rem 0 0 0;
  }
  .social-media--align-left {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact-details__group .social-media--align-left {
    justify-content: flex-start;
  }
  .page-content__actions {
    .button {
      width: 100%;
    }
  }
  .page-content h2 {
    font-size: 30px;
    line-height: 24px;
    margin: 2rem 0;
  }

  /*------------------------------------*\
    #MENU
  \*------------------------------------*/

  .illustration__image {
    width: 70px;
    top: 45px;
  }

  .menu__allergy-info {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 19px;
    padding: 1rem 18%;
    text-align: left;

    img {
      margin-right: 1rem;
    }
  }
  .menu-section__items {
    display: block;
  }
  .menu-section__title {
    font-size: 22px;
    line-height: 26px;
    padding: 8px 0 14px;
  }
  .menu-item {
    @include flex-row;
    width: 100%;
    margin-bottom: 1rem;
  }
  .menu-item__thumbnail {
    margin-bottom: 0;
    width: 25%;
  }
  .menu-item__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 1rem;
  }
  .menu-item__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
  }
  .menu-item__price {
    font-size: 15px;
    line-height: 23px;
  }
  .menu-item__description,
  .menu-item__details {
    font-size: 12px;
    line-height: 15px;
    margin-top: 1rem;
  }
  .menu-item__info {
    margin-right: 0;
  }

  .menu__nav__button {
    font-size: 16px;
    line-height: 11px;
    display: flex;
    flex-flow: column;
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    width: 25%;
  }
  .menu__nav__button i {
    margin: 0 0 5px 0;
  }

  .menu-item__detail--tooltip::after,
  .menu-item__info__wrap--tooltip::after {
    top: -28px;
  }

  .menu-item__info__wrap--tooltip::before,
  .menu-item__detail--tooltip::before {
    top: -12px;
  }

  /*------------------------------------*\
    #FLEET
  \*------------------------------------*/

  .flex-container--fleet {
    @include flex-grid($cols:1, $gap:2rem);
  }
  .fleet-listing:nth-child(odd) .fleet-listing__content {
    padding-right: 0;
  }
  .fleet-listing:nth-child(even)::before {
    right: -2rem;
    left: -2rem;
    bottom: 1rem;
  }
  .fleet-listing:nth-child(even) .fleet-listing__content {
    padding-left: 0;
  }
  .fleet-listing::before {
    left: -2rem;
    right: -2rem;
    bottom: -1rem;
  }
  .fleet-listing__content {
    margin-top: 0;
  }
  .section.fleet-allergens,
  .section.fleet-cta {
    padding: 40px 0;
  }
  .fleet-cta__container {
    display: block;
  }
  .fleet-cta__container-col {
    width: 100%;
  }
  .fleet-cta__title {
    font-size: 64px;
    line-height: 48px;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
  .fleet-cta__image {
    margin: 30px 0;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    width: 100%;
  }
  .fleet-cta::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .fleet-cta__socials {
    display: block;
    max-width: 100%;
    margin-left: 0;
    margin-top: 80px;
    text-align: center;

    span {
      margin: 0 0 20px 0;
    }

    .social-media {
      justify-content: center;
    }
    .social-media__item {
      margin-bottom: 0;
    }
  }

  /*------------------------------------*\
    #MASTHEAD
  \*------------------------------------*/

  .masthead {
    height: initial;
    padding-top: 0;

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .masthead .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .masthead__column--text,
  .masthead__column--image {
    width: 100%;
  }
  .masthead__image {
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
  .masthead__text {
    padding: 0;
  }
  .masthead__title {
    font-size: 64px;
    margin-top: -20px;
    line-height: 48px;
  }

  .about-intro .container {
    display: block;
  }
  .page-content--pad-top {
    padding-top: 0;
  }
  .about-intro .container__column,
  .about-intro .container__column img {
    width: 100%;
  }

  /*------------------------------------*\
    #EVENT HIRE CTA
  \*------------------------------------*/

  .section.about-content,
  .section.event-hire {
    padding-bottom: 50px;
  }
  .newsletter__wrap,
  .event-hire__wrap {
    padding: 55px 18px;
  }

  /*------------------------------------*\
    #WHY US CARDS
  \*------------------------------------*/

  .why-us__card {
    width: 100%;
  }
  .why-us__cards {
    margin-bottom: 40px;
  }

  /*------------------------------------*\
    #EVENTS
  \*------------------------------------*/

  .events__container {
    display: block;
  }
  .event-listing {
    width: 100%;
    margin: 0;
  }
  .events__container {
    margin-bottom: 4rem;
  }
  .event-listing__content {
    margin-top: -14px;
  }
  .event-listing__title-wrap {
    height: 76px;
  }
  .event-listing__title {
    font-size: 30px;
  }

  /*------------------------------------*\
    #NEWSLETTER
  \*------------------------------------*/

  .newsletter__field {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    width: 100%;
  }
  .newsletter__field:first-child {
    margin-right: 0;
  }
  .newsletter__action {
    text-align: left;
  }

  /*------------------------------------*\
    #ARTICLE LISTING / NEWS
  \*------------------------------------*/

  .container.article-listing {
    display: block;
    position: relative;
    padding-top: 2.5rem;
  }
  .article-listing__image,
  .article-listing__content {
    padding: 0 1rem;
    width: 100%;
  }
  .article-listing__title {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .article-listing::before {
    width: 100%;
  }
  .article-listing__abstract {
    margin: 25px 0 15px;
  }

  .masthead--article {
    min-height: auto;
    padding: 40px 0;
  }
  .masthead--article .masthead__title {
    font-size: 40px;
    line-height: 34px;
    margin-bottom: 0.5rem;
  }
  .article__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
  .article__main {
    padding: 40px 0;
  }
  .masthead--article .masthead__column--text {
    margin-top: 1rem;
  }
  #breadcrumb {
    margin-bottom: 2rem;
  }

  .newsletter__form {
    margin-top: 2rem;
  }
  .newsletter__field {
    margin-top: 1rem;
  }

  /*------------------------------------*\
    #CONTACT PAGE
  \*------------------------------------*/

  .contact-cta__card {
    margin: 0 1rem;

    &:first-child {
      margin-bottom: 3rem;
    }
  }
  .contact-cta__email {
    margin-top: 0;
  }

  /*------------------------------------*\
    #ALLERGENS
  \*------------------------------------*/

  .allergens__text-strip {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
  .allergens__image {
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
  .allergens__title,
  .xmas__title {
    margin-top: 0;
  }
  .allergens__content {
    margin-top: -2rem;
    position: initial;

    &::before {
      -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
      transform-origin: top center;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  .about-intro .inner {
    position: relative;
  }
  .allergens__image-wrap {
    margin-bottom: 2rem;
  }
  .allergens__content--left {
    margin: 0 0 -2rem 0;
  }
  .allergens__illustration {
    width: 250px !important;
  }

  .xmas__content {
    padding-left: 0;
  }

  /*------------------------------------*\
    #CONTACT PAGE
  \*------------------------------------*/

  .section.intro--contact {
    margin: 30px 0 70px;
  }
  .intro__image {
    margin: 0 0 2rem;
  }
  .intro__image-wrap {
    text-align: center;
  }
  .container__column {
    width: 100%;
  }

  /*------------------------------------*\
    #CAREERS
  \*------------------------------------*/

  .career-location {
    margin: 5rem 0;
  }
  .career-location::before {
    height: 130px;
  }
  .career-location__title {
    font-size: 40px;
    line-height: 34px;
  }
  .job-title {
    font-size: 22px;
    line-height: 26px;
    padding: 15px 0;
  }
  .job-content__wrap {
    padding: 30px 0;
  }

  /*------------------------------------*\
    #JOB PAGE
  \*------------------------------------*/

  .section--job {
    padding: 40px 0 60px;
  }
  .article__main {
    margin-left: 0;
  }
  .job-page .masthead__title {
    font-size: 40px;
    line-height: 34px;
  }
  .container--job {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .article__aside {
    margin-top: 40px;
    width: 100%;
  }
  .article__aside .social-media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article__aside .social-media__item {
    margin: 0 0.5rem 0;
  }
  .article__aside .social-media__item--cta {
    font-size: 30px;
    line-height: 24px;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    width: auto;
  }

  /*------------------------------------*\
    #FAQ
  \*------------------------------------*/

  .faq {
    padding: 15px 0;
  }
  .faq__title {
    font-size: 22px;
    line-height: 26px;
  }
  .faq__wrap {
    padding: 20px 0;
  }

  /*------------------------------------*\
    #HIPPO HOUR
  \*------------------------------------*/

  .menu__hippo-hour {
    margin-top: 50px;
  }
}

@media screen and (max-width: 575px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .page-content {
    h2,h3,h4,h5,h6 {
      margin: 1.5rem 0;
    }
  }

  .section.intro {
    margin-top: 30px;
  }
  .section.about-intro {
    padding: 0 0 30px;

    &:last-child {
      padding-bottom: 60px;
    }
  }
  .about-intro .inner {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .about-intro .page-content,
  .allergens__title,
  .allergens__illustration-wrap {
    padding: 0 2rem;
  }

  .section.intro .container__column:nth-child(2) {
    padding: 0;
  }

  .ready-to-eat {
    margin-bottom: 30px;
  }

  .fat-hippo-fleet-allergens {
    display: none;
  }

  .plain-masthead .feature__title {
    padding: 0 50px;
  }

  /*------------------------------------*\
    #MASTHEAD
  \*------------------------------------*/

  .masthead .inner {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .masthead__text {
    padding: 0 2rem;
  }

  /*------------------------------------*\
    #MENU
  \*------------------------------------*/

  .menu-item__info__wrap {
    margin-left: 0.5rem;
  }

  /*------------------------------------*\
    #PAGE PORTALS
  \*------------------------------------*/

  .page-portal {
    margin-bottom: 1.5rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  /*------------------------------------*\
    #CONTACT PAGE
  \*------------------------------------*/

  .contact-cta__actions {
    margin-top: 40px;
  }
  .contact-cta__card {
    width: 100%;
  }

  /*------------------------------------*\
    #ARTICLE PAGE
  \*------------------------------------*/

  .masthead--article {
    padding: 0 0 20px;
  }
  .masthead--article .inner {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
  .masthead--article .masthead__text {
    padding: 0 1.5rem;
  }
  .article__main {
    padding: 20px 0 40px;
  }

  /*------------------------------------*\
    #LOCATION PAGE
  \*------------------------------------*/

  .location-details__concession {
    left: 50%;
  }
  .locations__actions,
  .locations__container,
  .about-intro .feature {
    padding: 0 1rem;
  }

  /*------------------------------------*\
    #REWARDS
  \*------------------------------------*/

  .rewards__wrap {
    padding: 50px 80px;
  }
  .reward-card__tagline {
    margin-top: 20px;
  }
  .reward-card--middle {
    margin: 20px 0;
  }

  /*------------------------------------*\
    #ALLERGENS
  \*------------------------------------*/

  .allergens__text-strip img {
    padding: 0 1rem;
  }

  /*------------------------------------*\
    #NEWSLETTER
  \*------------------------------------*/

  .section.newsletter {
    padding-bottom: 50px;
  }
  .newsletter__title {
    line-height: 40px;
  }

}

@media screen and (max-width: 425px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .contact-details__group:nth-child(1),
  .contact-details__group:nth-child(2) {
    padding: 2rem 1rem 4rem 1rem;
  }

  /*------------------------------------*\
    #LOCATIONS
  \*------------------------------------*/

  .location-card__content {
    padding: 20px 10px 30px;
  }

  /*------------------------------------*\
    #MENU
  \*------------------------------------*/

  .menu__allergy-info {
    padding: 1rem;
  }

  /*------------------------------------*\
    #EVENTS
  \*------------------------------------*/

  .events--no-upcoming {
    margin-bottom: 4rem;
    padding: 2rem 2rem 1rem 2rem;
  }
  .events__front {
    max-width: 100%;
  }

}

@media screen and (max-width: 400px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .social-media__link {
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 48px;
  }

  /*------------------------------------*\
    #LOCATION CARDS
  \*------------------------------------*/

  .locations {
    padding-bottom: 50px;
  }
  .location-card__content {
    padding: 1rem;
  }
  .location-card__concession {
    left: 20px;
  }
  .location-card:last-child {
    margin-bottom: 0;
  }

  /*------------------------------------*\
    #MENU
  \*------------------------------------*/

  .menu__allergy-info {
    margin-bottom: 0;
  }
  .menu__nav__list {
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
  .menu__nav__button {
    width: 50%;
    padding: 11px;
  }
  .menu-item__info__wrap {
    img {
      height: 20px;
      width: 20px;
    }
  }
  .menu-item__detail--tooltip {
    width: 20px;
    height: 20px;
  }
  .amenities-icon::after,
  .menu-item__detail--tooltip::after,
  .menu-item__info__wrap--tooltip::after {
    font-size: 11px;
  }

  /*------------------------------------*\
    #EVENT LISTING
  \*------------------------------------*/

  .event-listing__title-wrap {
    height: 76px;
  }
  .event-listing__title {
    line-height: 30px;
  }

  /*------------------------------------*\
    #JOB LISTINGS
  \*------------------------------------*/

  .job-content__actions {
    display: block;

    .button,
    .inline-button {
      width: 100%;
    }
    .inline-button {
      margin-top: 1rem;
      text-align: center;
    }
  }

  /*------------------------------------*\
    #REWARDS
  \*------------------------------------*/

  .rewards__wrap {
    padding: 50px;
  }

  /*------------------------------------*\
    #FOOTER
  \*------------------------------------*/

  .footer {
    padding-top: 45px;
  }

}

@media screen and (max-width: 375px) {

  .category-cta {
    padding: 1rem 0;
  }
  .category-cta__link {
    font-size: 16px;
    line-height: 12px;
    padding: 1rem 9px;

    i {
      font-size: 24px;
      margin-bottom: 5px;
    }
  }

}