@import 'reset';
@import 'variables';
@import 'mixins';
@import 'slick';

/*------------------------------------*\
    #FONTS
\*------------------------------------*/

body {
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  background: $clr-dark;
  overflow-x: hidden;
  color: #fff;
  font: normal 18px/1.6 $font-body;
  height: 100%;
  overflow-y: auto;
}

li {
  clear: left; // chrome li fix
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-family: $font-header;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 1rem 0;
  padding: 0;
}

input,
select,
option,
textarea,
button {
  font: normal 18px/1.5 $font-body;
}

b,
strong {
  font-weight: bold;
}

p {
  margin: 1rem 0 0;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: $font-xxl;
}

h2 {
  font-size: $font-xl;
}

h3 {
  font-size: $font-large;
}

h4 {
  font-size: $font-medium;
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
.faux-link {
  color: $clr-primary;
  cursor: pointer;
}

a:hover,
a:active,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
.faux-link:hover {
  color: lighten($clr-primary, 5%);
}

.button {
  border: 0;
  background-color: $clr-dark;
  border: 2px $clr-dark solid;
  border-radius: 32px;
  color: $clr-primary;
  cursor: pointer;
  display: inline-block;
  font-family: $font-header;
  font-size: 22px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 28px;
  position: relative;
  padding: 10px 30px 12px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease;
  -o-transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease;
  transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 26px;
    line-height: 31px;
    padding: 12px 30px 18px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.button--small {
  display: inline-block;
  padding: 0 12px 4px;

  svg {
    display: inline-block;
    height: 18px;
    margin-right: 4px;
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    width: 18px;
    vertical-align: middle;
  }

  &:hover svg {
    -webkit-transform: translateX(-12.5%);
    -ms-transform: translateX(-12.5%);
    transform: translateX(-12.5%);
  }
}
.button:hover {
  color: #fff;
}
.button--rev {
  background-color: $clr-secondary;
  border-color: $clr-secondary;

  &:hover {
    background-color: lighten($clr-secondary, 10%);
    border-color: lighten($clr-secondary, 10%);
  }
}
.button--outlined {
  background: none;
  border-color: $clr-primary;
  color: #fff;
}
.button--outlined:hover {
  border-color: $clr-dark;
  color: $clr-primary;
}
.button--disabled,
.button:disabled {
  cursor: text !important;
  opacity: .25;
}

// INLINE BUTTON

.inline-button {
  font-family: $font-header;
  display: inline-block;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 26px;
    line-height: 32px;
  }

  i {
    vertical-align: middle;
  }

  svg {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;

    @supports (font-family: 'Hackney-Vector') {
      height: 20px;
      width: 20px;
    }
  }
}

// SMALL BUTTON

.small-button {
  @include vertical-center;
  background-color: transparent;
  border: 0;
  color: $clr-primary;
  font-size: 24px;
  height: 30px;
  position: relative;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
  width: 30px;
  vertical-align: middle;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*------------------------------------*\
    #TEMPLATE
\*------------------------------------*/

#page-wrap {
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.main {

  @supports (position: sticky) {
    padding-top: 110px;
  }
}

.inner {
  width: 94%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;

  &--narrow {
    max-width: 800px;
  }
}

.bg-diagonal {
  background: url('/images/bg-diagonal.svg');
}

// pseudo element to overlay on top on inner content
// this is to prevent click events triggering on children
// instead of parent element.
.inner-overlay {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

/*------------------------------------*\
    #MASTHEAD
\*------------------------------------*/

.masthead {
  padding-top: 75px;
  position: relative;
  height: 500px;

  &--article {
    height: auto;
    min-height: 600px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 180px;
    left: 25%;
    right: 40%;
    bottom: -20%;
    background: url('/images/bg-diagonal.svg');
    z-index: -1;
  }
}
.masthead__title {
  font-size: 124px;
  line-height: 90px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 140px;
    line-height: 102px;
  }
}
.masthead__tagline {
  margin-top: 1rem;
}
.masthead__column--text {
  width: 70%;
}
.masthead--article .masthead__column--text::before {
  bottom: 50%;
  left: 25%;
  height: 125%;
  right: 0;
  top: -65%;
  width: 100%;
}
.masthead__column--image {
  width: 30%;
}
.masthead__text {
  position: relative;
  padding: 2rem 0 3.5rem 0;
  width: 100%;
  z-index: 1;
}
.masthead__image {
  display: block;
  width: 100%;
  -webkit-transform: scale(2.65) translate(-45%, -7%);
  -ms-transform: scale(2.65) translate(-45%, -7%);
  transform: scale(2.65) translate(-45%, -7%);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.masthead__date {
  padding-top: 1rem;

  i {
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.plain-masthead {
  padding: 3rem 0;
}
.plain-masthead .feature {
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
    #FEATURE
\*------------------------------------*/

.feature {
  color: #fff;
  margin-bottom: 75px;
  padding: 1rem 0;
  position: relative;
  text-align: center;

  &--left {
    text-align: left;
  }
}
.feature__back {
  color: #2D2F33;
  font-family: $font-header;
  font-size: 268px;
  margin: -15px 0 0 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
  width: 200%;
  text-transform: uppercase;
}
.feature__front {
  margin: 0 auto;
  max-width: 66.666%;
}
.feature__title,
.feature__front h1,
.feature__front h2,
.feature__front h3,
.feature__front h4,
.feature__front h5,
.feature__front h6 {
  font-size: 80px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 100px;
  }

  &--large {
    font-size: 120px;
    line-height: 120px;

    @supports (font-family: 'Hackney-Vector') {
      font-size: 140px;
    }
  }
}
.feature__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 140px;
  width: 140px;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  background: $clr-dark;
  padding: 1.1rem 0;

  @supports (position: sticky) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.header__inner {
  max-width: 1145px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo__link {
  display: block;
  z-index: 1000;
}

.header__logo__image {
  width: 98px;
}

.header__nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.header,
.__nav__subnav {
  z-index: 100;
}

/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
  background: $clr-dark;
  padding: 1em 0;
  position: relative;
}
.mobile-nav,
.nav__toggle {
  display: none;
}

.nav__item {
  display: inline-block;
  margin-left: 25px;
  position: relative;

  &:hover {
    color: $clr-primary;
  }
}

.nav__link {
  @include horizontal-center;
  color: rgba(#fff, .875);
  color: #fff;
  display: block;
  font-family: $font-header;
  font-size: 20px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 23px;
  }

  &:hover .nav__parent-icon {
    color: $clr-primary;
  }

  i {
    color: $clr-primary;
    font-size: 24px;
    vertical-align: middle;
    margin-right: 4px;
  }
}
.nav__list--secondary .nav__link {
  text-transform: initial;
}

.nav__item:hover {
  .nav__link {
    color: $clr-primary;
  }
  .nav__link::before {
    border-top-color: $clr-primary;
  }
}

.nav__link:hover,
.nav__item:hover .nav__link:hover,
.nav__item:hover .nav__parent-icon {
  color: $clr-primary;
}

.nav__parent-icon {
  color: rgba(white, .5);
  margin-left: 0.25em;
  position: relative;
  top: -1px;
  padding-right: 0.5em;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 55%;
    right: 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
  }
}
.nav__item:hover .nav__parent-icon::before {
  border-top-color: $clr-primary;
}

.nav__link--active {
  border-bottom-color: $clr-primary;
}

.__nav__group {
  font-family: $font-body;
  font-size: 1em;
  float: left;
  left: 50%;
  padding: .75em 0 .875em 0;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  top: auto;
  visibility: hidden;
  width: 158px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: $clr-dark;
  text-align: center;
  -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, .125);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .125);
  z-index: 999;
}

.nav__item:hover .__nav__group {
  visibility: visible;
  opacity: 1;
}

@media (hover: hover) {

  // Transform/Animations don't seem to work on iPad/Safari 
  // so we only use them for devices that can utilise hover
  .__nav__group {
    -webkit-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
  }

  .nav__item:hover .__nav__group {
    -webkit-transition-delay: 0s, 0s, 0.1s;
    -o-transition-delay: 0s, 0s, 0.1s;
    transition-delay: 0s, 0s, 0.1s;
  }
}

.nav__link-icon {
  color: $clr-primary;
  margin-left: .5em;
}

.nav__group__link {
  color: #fff;
  font-family: $font-header;
  display: block;
  font-size: 20px;
  padding: .25em 1.125em;
  position: relative;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 23px;
  }
}

.nav__group__link:last-child {
  border-bottom: 0;
}

.nav__group__sublink {
  color: $clr-dark;
  display: block;
  font-size: .875em;
  padding: .25em 1.25em;
}

.nav__group__sublink--packs {
  font-weight: bold;
}

.nav__group__link:hover,
.nav__group__sublink:hover {
  color: $clr-primary;
}

/*------------------------------------*\
    #BREADCRUMB
\*------------------------------------*/

#breadcrumb {
  color: #fff;
  margin-bottom: 1rem;
  padding: 0;
}

.breadcrumb__item {
  display: inline-block;
  position: relative;
  margin-right: 1.5em;

  &:after {
    color: darken($clr-shade, 20%);
    border-color: darken($clr-shade, 20%);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    left: -1rem;
    position: absolute;
    top: 12px;
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

.breadcrumb__item:first-child:after {
  display: none;
}

.breadcrumb__item:last-of-type {
  margin-right: 0;
}

.breadcrumb__link {
  color: $clr-primary;
  font-size: .875em;
  letter-spacing: 1px;
}

.breadcrumb__link:hover {
  text-decoration: none;
}

/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/

.bottom-edge {
  position: relative;

  &::before {
    bottom: -1px;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background: url('/images/bottomedge.svg') center center/cover no-repeat;
    height: 25px;
    z-index: 3;
  }
}

.carousel {
  position: relative;
  height: 800px;
  overflow: hidden;
}
.carousel__slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  height: 800px;

  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    @supports ((-o-object-fit: cover) or (object-fit: cover)) {
      top: 0;
      left: 0;
      height: 100%;
      -webkit-transform: initial;
      -ms-transform: initial;
      transform: initial;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
.carousel__slide__overlay {
  @include vertical-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel__slide__content {
  max-width: 960px;
  text-align: center;
}
.carousel__slide__title {
  color: #fff;
  font-family: $font-header;
  font-size: 150px;
  line-height: 140px;
  margin-bottom: 0;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 180px;
    line-height: 140px;
  }
}
.carousel__slide__button {
  margin-top: 40px;
}
.carousel__arrows {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
  z-index: 2;

  .inner {
    @include flex-row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.carousel__dots {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 30px;
  z-index: 2;
}