@import 'variables';
@import 'mixins';

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
  background-color: $clr-dark;
  color: #fff;
}
.footer__upper {
  border-top: solid 5px;
  border-image: url('/images/bg-diagonal.svg') 10% round;
  padding: 130px 0;
}
.footer__container {
  @include flex-row;
}
.footer__col--eat {
  width: 25%;
}
.footer__col--learn {
  min-width: 330px;
}
.footer__col--social {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}
.footer__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 30px;
    line-height: 36px;
  }
}
.footer__nav {
  margin-top: 25px;
}
.footer__nav--learn {
  columns: 2;
}
.footer__nav__link {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  padding: 5px;
}
.footer__illustration {
  margin-top: 35px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 120px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
footer .social-media {
  max-width: 400px;
  margin-left: 100px;
}
.social-media__item {
  display: inline-block;
  margin: 0 0 15px 15px;

  &:first-child {
    margin-left: 0;
  }
}
.social-media__link {
  @include vertical-center;
  height: 55px;
  width: 55px;
  text-align: center;
  background: transparent url('/images/circle.svg') center center/cover no-repeat;
  color: #fff !important;
  font-size: 28px;
  line-height: 56px;

  svg {
    display: block;
    height: 25px;
    width: 25px;
  }
}

.footer__lower {
  border-top: solid 5px;
  border-image: url('/images/bg-diagonal.svg') 10% round;
  padding: 20px 0 25px 0;
}
.footer__copyright,
.footer__credit {
  margin: 0;

  a {
    color: $clr-primary !important;
  }
}
.footer__copyright {
  flex: 1;
  margin-right: 2rem;
  
  p {
    margin: 0;
  }
}
.footer__copyright {
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  text-align: left;
}
.footer__credit {
  color: #888d96;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
}

/*------------------------------------*\
    #CARDS (QUICK LINKS)
\*------------------------------------*/

.quick-links {
  padding: 3rem 0;
  position: relative;
}
.quick-links__title {
  margin: 0;
  padding: 0;
}

.card {
  @include horizontal-center;
  min-width: 240px;
  position: relative;
}
.card__icon__image {
  width: 140px;
}
.card__title {
  font-size: 48px;
  line-height: 32px;
  margin: 0;
  -webkit-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  text-transform: uppercase;
  padding-right: 20px;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 60px;
    line-height: 32px;
    min-width: 207px;
    padding-right: 0;
  }
}
.card:hover .card__title {
  color: $clr-primary;
}
.card__title__one {
  line-height: inherit;
}
.card__title__two {
  font-size: 28px;
  line-height: 32px;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 35px;
    line-height: 32px;
  }
}
.card__title__three {
  display: block;
  line-height: inherit;
}
.card__arrow__image {
  height: 50px;
  width: 50px;
}

/*------------------------------------*\
    #LOCATIONS
\*------------------------------------*/

.locations {
  padding-top: 2rem;
}
.locations__actions,
.locations__controls {
  @include horizontal-center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.locations__actions {
  margin-bottom: 2rem;
}
.locations__container {
  margin: 0 -15px;
  min-height: 508px;
  overflow: hidden;
}

.location-listing {
  margin: 0 15px;
  padding: 0 20px 30px;
  position: relative;

  &::before {
    background: url('/images/diagonalpattern.svg');
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(1.25rem);
    width: 100%;
    z-index: -1;
  }
}
.location-listing__thumbnail {
  display: block;

  img {
    width: 100%;
  }
}
.location-listing__content {
  min-height: 260px;
  margin-top: 1rem;
  position: relative;
}
.location-listing__content__title {
  margin: -30px 0 30px;
  padding: 0 12px;
  position: relative;
}
.location-listing__title-wrap {
  position: relative;
  z-index: 2;
  display: inline-block;
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  height: 29px;
  overflow: hidden;

  @supports (font-family: 'Hackney-Vector') {
    height: 45px;
  }
}
.location-listing__title {
  font-size: 28px;
  display: inline;
  -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  color: $clr-dark;
  background-color: #fff;
  padding: 7px 5px 0;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 40px;
    padding: 0 5px 3px;
  }
}

.location-listing__coming-soon,
.location-details__coming-soon,
.location-listing__concession,
.location-details__concession {
  -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  display: inline-block;
  font-family: $font-header;
  margin-bottom: 0;
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  left: 15px;
  z-index: 5;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 30px;
  }
}
.location-listing__concession,
.location-details__concession {
  background-color: $clr-dark;
  color: #fff;
  font-size: 24px;
  line-height: 20px;
  margin-top: 0;
  padding: 3px 4px 7px;
  top: -28px;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 30px;
  }
}
.location-listing__coming-soon,
.location-details__coming-soon {
  background-color: $clr-primary;
  -webkit-box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  box-shadow: 3px 3px 0 0 rgba($clr-dark, 0.15);
  color: $clr-dark;
  font-size: 20px;
  padding: 1px 3px 3px;
  line-height: 20px;
  bottom: -18px;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 24px;
    line-height: 22px;
  }
}
.location-listing__details {
  color: #fff;
  margin-top: 20px;
}
.location-listing__detail {
  @include flex-row;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 24px;
}
.location-listing__detail__icon {
  width: 35px;
  font-size: 24px;
  vertical-align: middle;
}
.location-listing__detail__text {
  flex: 1;
  color: #fff;
}
.location-listing__actions {
  @include flex-row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}
.location-listing__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  border-right: 2px dotted #706e7f;
  position: relative;
  width: 25%;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  font-family: $font-header;
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 18px;
    line-height: 15px;
  }

  i {
    font-size: 28px;
    color: $clr-primary;
    display: block;
    margin-bottom: 5px;
  }

  &:last-child {
    border-right: 0;
  }
}

/*------------------------------------*\
    #LARGE IMAGE
\*------------------------------------*/

.large-image {
  padding-top: 30px;
}
.large-image__inner {
  text-align: center;
}
.large-image__illustration {
  width: 374px;
  height: 417px;
  position: relative;
  z-index: 3;
}
.large-image__photo {
  height: 860px;
  margin-top: -100px;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background: url('/images/bottomedge.svg') center center/cover no-repeat;
    height: 25px;
    z-index: 1;
  }
  &::before {
    top: -1px;
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
  }
  &::after {
    bottom: -1px;
  }

  img {
    width: 100%;

    @supports (-o-object-fit:cover) or (object-fit:cover) {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
.large-image__text {
  @include horizontal-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.large-image__title {
  font-size: 140px;
  line-height: 110px;
  text-align: center;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 180px;
    line-height: 130px;
  }
}

/*------------------------------------*\
    #ABOUT
\*------------------------------------*/

.section.about {
  padding: 70px 0;
}

.about__content {
  margin: 0 auto;
  max-width: 64%;
  text-align: center;
}
.about__text {
  color: #fff;

  p:last-child {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
    #MODAL
\*------------------------------------*/

.modal {
  background-color: rgba($clr-dark, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  padding-bottom: 40px;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.modal__dialogue {
  position: absolute;
  top: 3rem;
  left: 50%;
  background-color: $clr-dark;
  max-width: 800px;
  min-width: 768px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  &--lgtop {
    top: 6rem;
  }
}
.modal__dialogue__header {
  @include flex-row;
}
.modal__dialogue__content {
  color: #fff;
  padding: 40px 100px;
}
.modal__dialogue__footer {
  padding: 45px 100px 40px;
  position: relative;
  text-align: center;

  p {
    color: #898d95;
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: url('/images/bg-diagonal.svg');
  }

  &--white {
    p {
      color: #fff;
    }
  }
}
.modal__dialogue__details {
  @include flex-row;
  background: url('/images/bg-diagonal.svg');
  padding: 40px 40px 40px 100px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 1;
}
.modal__dialogue__action {
  padding: 40px;
}
.modal__dialogue__image {
  width: 150px;
}
.modal__dialogue__text {
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 40px;
}
.modal__dialogue__title,
.modal__dialogue__subtitle {
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;

  &--center {
    text-align: center;
  }
}
.modal__dialogue__subtitle {
  margin-top: 2rem;
}
.modal__dialogue__shaded-text {
  color: #898d95;
}
.modal__dialogue__price {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 1rem;
}
.modal__dialogue__desc {
  margin-top: 1rem;

  &--lgmargin {
    margin-top: 2rem;
  }

  a {
    color: $clr-primary !important;
  }
}
.modal__dialogue__toggles {
  @include flex-row;
  background: url('/images/bg-diagonal.svg');
  border-radius: 100px;
  margin: 40px 0;
  padding: 5px;
}
.modal__dialogue__button {
  background-color: transparent;
  border: 0;
  color: $clr-primary;
  font-size: 24px;
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;

  &--toright {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
.button--toggle {
  font-size: 22px;
  line-height: 22px;
  padding: 9px 0 13px;
  margin-top: 0;
  margin: 0 0.25rem;
  width: 33.333%;
  width: calc(33.333% - 0.5rem);
  border-color: $clr-dark;
  color: $clr-primary;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    border-color: $clr-primary;
    color: #fff;
  }
}
.modal__dialogue__tab {
  display: none;

  &.active {
    display: block;
  }
}

/*------------------------------------*\
    #CTA
\*------------------------------------*/

.cta {
  margin: 80px 0 120px;

  &--article {
    margin: 30px 0 0 0;
    text-align: center;
  }
}
.cta__container {
  @include horizontal-center;
  background: url('/images/diagonalpattern.svg') repeat top center;
}
.cta__image {
  text-align: center;
  width: 175px;

  img {
    margin: 0 auto;
    width: 105px;
  }
}
.cta__content {
  color: #fff;
  width: 60%;
  padding: 30px 30px 30px 15px;
}
.cta__content__title {
  font-size: 32px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 40px;
    line-height: 34px;
  }
}
.cta__content__tagline {
  font-size: 18px;
  line-height: 26px;
  margin: 20px 0 0 0;
}
.cta__action {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 30px;
  text-align: right;
}
.cta__action__button {
  margin-top: 0;
}

/*------------------------------------*\
    #OFFER STRIP
\*------------------------------------*/

.offer-strip {
  padding: 4px 0;
}
.offer-strip__text {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  padding: 0 1rem;
}
.offer-strip__button {
  vertical-align: middle;
  color: $clr-primary !important;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: $font-header;
  font-size: 23px;
  line-height: 28px;
  margin-left: 14px;
  position: relative;
  top: -2px;
  white-space: nowrap;
  z-index: 1;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 26px;
    line-height: 32px;
  }
  
  i {
    vertical-align: middle;
  }
}

/*------------------------------------*\
    #BOOK ONLINE IFRAME
\*------------------------------------*/

body.locked {
  overflow: hidden;
  position: relative;
}
.book-online {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
  opacity: 0;
  visibility: hidden;
  background-color: rgba($clr-dark, 0.6);
  -webkit-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  transform: translateX(-120%);
  -webkit-transition: opacity 300ms ease-in-out,
    visibility 300ms ease-in-out,
    -webkit-transform 600ms ease-in-out;
  transition: opacity 300ms ease-in-out,
    visibility 300ms ease-in-out,
    -webkit-transform 600ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out,
    visibility 300ms ease-in-out,
    transform 600ms ease-in-out;
  transition: opacity 300ms ease-in-out,
    visibility 300ms ease-in-out,
    transform 600ms ease-in-out;
  transition: opacity 300ms ease-in-out,
    visibility 300ms ease-in-out,
    transform 600ms ease-in-out,
    -webkit-transform 600ms ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.book-online__wrap {
  background-color: $clr-dark;
  padding: 10px;
  position: absolute;
  width: 420px;
  max-width: 420px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: auto;

  &.locked {
    overflow: hidden;
  }
}
.book-online.active .book-online__wrap {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.book-online__iframe {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  max-width: 420px;
  height: 100%;
  height: 100vh;
  height: calc(100vh - 70px);
  background-color: $clr-dark;

  // Default state
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.book-online__title {
  font-family: $font-header;
  font-size: 28px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 30px;
  }
}
.book-online__venue {
  border-bottom: 1px dotted #D1D1D1;
  padding-bottom: 10px;
  padding-top: 10px;
}
.book-online__venue__title {
  font-size: 20px;
  font-family: $font-header;
  text-transform: uppercase;

  @supports (font-family: 'Hackney-Vector') {
    font-size: 24px;
  }
}
.book-online__venue__address {
  font-size: 14px;
}
.book-online__button {
  @extend .modal__dialogue__button;
  position: absolute;
  top: 14px;
  right: 14px;
  border: solid 1px $clr-primary;
  background-color: $clr-dark;
  z-index: 999;
}
.book-online__image {
  position: absolute;
  bottom: 40px;
  left: 420px;
  transform: scaleX(-1);
  height: 200px;
}

/*------------------------------------*\
    #GRID
\*------------------------------------*/

.flex-container {

  &--fleet {
    @include flex-grid($cols: 2, $gap: 2.5rem, $align: center);
  }
  
  &--quick-links {
    @include flex-grid($cols: 3, $gap: 1rem, $justify: center);
  }

  &--join {
    @include flex-grid($cols: 2, $gap: 3rem);
  }

  &--location {
    @include flex-grid($cols: 2, $gap: 1rem);
  }
}

.container {
  @include flex-row;
}
.container__column {
  width: 50%;
}

/*------------------------------------*\
    #MEDIA QUERIES
    We group media queries as much as 
    possible to prevent duplication and 
    keep the amount of breakpoints to 
    a minimum.
\*------------------------------------*/

@media screen and (max-width: 1200px) {

  /*------------------------------------*\
    #LINKS
  \*------------------------------------*/

  .button {
    font-size: 22px;
    line-height: 28px;
    padding: 8px 24px 12px;
  }
  .button--small {
    padding: 0 12px 4px;
  }

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .main {
    padding-top: 100px;
  }

  .inner {
    width: 96%;
    max-width: 960px;
  }
  
  .feature__title--large {
    font-size: 120px;
  }

  /*------------------------------------*\
    #HEADER
  \*------------------------------------*/

  .header__logo__image {
    width: 69px;
  }
  
  /*------------------------------------*\
    #NAV
  \*------------------------------------*/

  .nav__item {
    margin-left: 15px;
  }
  .nav__link {
    font-size: 20px;
    line-height: 24px;
  }

  /*------------------------------------*\
    #CAROUSEL
  \*------------------------------------*/

  .carousel__slide__title {
    font-size: 120px;
    line-height: 90px; 
  }
  .carousel__arrows .inner {
    max-width: 930px;
  }

  /*------------------------------------*\
    #HOMEPAGE CARDS
  \*------------------------------------*/

  .card__icon__image {
    width: 100px;
  }
  .card__title {
    font-size: 55px;
    line-height: 42px;
  }
  .card__title__two {
    font-size: 30px;
    line-height: 22px;
  }
  .card__title__three {
    font-size: 55px;
    line-height: 42px;
  }

  /*------------------------------------*\
    #LARGE IMAGE ILLUSTRATION
  \*------------------------------------*/

  .large-image__illustration {
    width: initial;
    height: 240px;
  }
  .large-image__photo {
    margin-top: -75px;
  }
}

@media screen and (max-width: 1040px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .nav__item {
    margin-left: 10px;
  }

  /*------------------------------------*\
    #CAROUSEL
  \*------------------------------------*/

  .carousel__slide__content {
    max-width: 500px;
  }
}

@media screen and (max-width: 990px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  body {
    font-size: 15px;
    line-height: 23px;
  }

  .main {
    padding-top: 90px;
  }

  .inner {
    width: 98%;
    max-width: 720px;
  }

  .feature {
    margin-bottom: 2rem;
  }
  .feature__back {
    font-size: 170px;
    line-height: 120px;
  }
  .feature__title,
  .feature__front h1,
  .feature__front h2,
  .feature__front h3,
  .feature__front h4,
  .feature__front h5,
  .feature__front h6 {
    font-size: 70px;
    line-height: 50px;
    margin-bottom: 1rem;
  }
  .feature__title--large {
    font-size: 100px;
    margin-bottom: 2.5rem;
  }
  .feature__image {
    height: 100px;
    width: 100px;
  }

  /*------------------------------------*\
    #HEADER
  \*------------------------------------*/

  .header {
    padding: 0.75rem 0;
  }
  .header__inner {
    max-width: 720px;
  }

  /*------------------------------------*\
    #NAV
  \*------------------------------------*/

  .nav {
    @include horizontal-center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .nav__list--primary {
    border-right: 1px dotted #706E7F;
    padding-right: 2rem;
  }
  .nav__item {
    &.nv-6, &.nv-7,
    &.nv-8, &.nv-9 {
      display: none;
    }
  }
  .nav__toggle {
    background-color: $clr-dark;
    border: 0;
    color: $clr-primary;
    padding: 0;
    font-size: 24px;
    margin-left: 2rem;
    display: block;
  }

  .mobile-nav {
    display: none;
    position: fixed;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $clr-dark;
    padding: 10% 20%;
    overflow-y: auto;
    z-index: 999;
    -webkit-transition:
      visibility 300ms ease-in-out,
      opacity 300ms ease-in-out;
    -o-transition:
      visibility 300ms ease-in-out,
      opacity 300ms ease-in-out;
    transition:
      visibility 300ms ease-in-out,
      opacity 300ms ease-in-out;
  }
  .nav.active .mobile-nav {
    display: block;
  }
  .mobile-nav .nav__item {
    display: block;
  }
  .mobile-nav .nav__link {
    font-size: 64px;
    line-height: 64px;
    padding: 10px 0;
    text-align: center;

    i {
      display: none;
    }
  }
  .mobile-nav .__nav__group {
    display: none;
  }
  .mobile-nav .nav__group {
    @include vertical-center;
    padding: 0;
    text-align: center;
  }
  .mobile-nav .nav__list {

    &--secondary {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      max-width: 335px;
      margin: 100px auto 0;
      padding: 0;

      .nav__item {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        -moz-column-break-inside: avoid;
        break-inside: avoid;
        display: block;
        margin-left: 0;
      }

      .nav__link {
        font-family: $font-body;
        font-size: initial;
        line-height: initial;
      }
    }
  }
  .mobile-nav .nav__item {
    margin-left: 0;
  }
  .mobile-nav .social-media {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 3rem;
  }

  /*------------------------------------*\
    #CAROUSEL
  \*------------------------------------*/

  .carousel,
  .carousel__slide {
    height: 550px;
  }
  .carousel__slide__content {
    max-width: 480px;
  }
  .carousel__arrows .inner {
    max-width: 690px;
  }

  /*------------------------------------*\
    #HOMEPAGE CARDS
  \*------------------------------------*/

  .quick-links {
    padding-bottom: 1rem;
  }
  .flex-container--quick-links > * {
    margin: 0;
    width: initial;
  }
  .card__icon {
    width: 70px;
  }
  .card__icon__image {
    height: 70px;
    width: 70px;
  }
  .card__title {
    font-size: 30px;
    line-height: 24px;
    min-width: auto;
    padding-right: 1.5rem;
  }
  .card__title__one {
    font-size: 30px;
    line-height: 22px;
  }
  .card__title__two {
    font-size: 22px;
    line-height: 22px;
  }
  .card__title__three {
    font-size: inherit;
    line-height: inherit;
  }

  /*------------------------------------*\
    #LOCATIONS (homepage)
  \*------------------------------------*/

  .location-listing__title-wrap {
    height: 28px;
  }
  .location-listing__title {
    font-size: 30px;
    line-height: 20px;
    padding: 1px 5px 7px;
  }
  .location-listing__concession {
    font-size: 24px;
    padding: 2px 3px 5px;
  }
  .location-listing__coming-soon {
    font-size: 20px;
    padding: 1px 2px 2px;
    line-height: 19px;
    bottom: -16px;
  }

  /*------------------------------------*\
    #LARGE IMAGE (homepage)
  \*------------------------------------*/

  .large-image__photo {
    height: 520px;
  }
  .large-image__illustration {
    height: auto;
    width: 150px;
  }
  .large-image__title {
    font-size: 110px;
    line-height: 85px;
    max-width: 400px;
    margin: 0 auto;
  }

  /*------------------------------------*\
    #ABOUT (homepage)
  \*------------------------------------*/

  .about__content {
    margin: 0 auto;
    max-width: 520px;
  }

  /*------------------------------------*\
    #JOIN (homepage)
  \*------------------------------------*/

  .section.join .inner {
    max-width: 520px;
  }
  .flex-container--join {
    @include flex-grid($cols:1, $gap:0);
    text-align: center;
  }
  .join__illustration {
    margin-bottom: 0;

    img {
      width: 330px;
    }
  }
  .join__text .feature--left {
    padding: 0;
    text-align: center;
  }

  /*------------------------------------*\
    #APP DOWNLOAD STRIP
  \*------------------------------------*/

  .cta {
    padding: 115px 0 80px;

    &--article {
      padding: 30px 0 0 0;
      margin-top: 0;
    }
  }
  .cta__image {
    width: 135px;
  }
  .cta__content__title {
    font-size: 30px;
    line-height: 24px;
  }
  .cta__content__tagline {
    font-size: inherit;
    line-height: inherit;
    margin-top: 0.5rem;
  }

  /*------------------------------------*\
    #FOOTER
  \*------------------------------------*/

  .footer__upper {
    padding: 80px 0;
  }
  .footer__col--eat {
    width: 25%;
  }
  .footer__col--learn {
    min-width: 50%;
  }
  .footer__col--social {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    width: 25%;
  }
  .footer__nav__link {
    font-size: inherit;
    line-height: inherit;
  }
  .footer__col .social-media__item {
    margin: 0 0 15px 0 !important;
  }
  .footer__illustration {
    margin-top: 20px;
    height: 90px;
    width: 90px;
  }

  /*------------------------------------*\
    #MASTHEAD
  \*------------------------------------*/

  .masthead {
    height: 350px;
  }
  .masthead__title {
    font-size: 90px;
    line-height: 64px;
  }
}

@media screen and (max-width: 768px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  .main {
    padding-top: 72px;
  }

  .inner {
    max-width: 560px;
  }

  .feature {
    margin-bottom: 2rem;
  }
  .feature__back {
    font-size: 100px;
    line-height: 75px;
  }
  .feature__front {
    max-width: 100%;
  }
  .feature__title,
  .feature__front h1,
  .feature__front h2,
  .feature__front h3,
  .feature__front h4,
  .feature__front h5,
  .feature__front h6 {
    font-size: 40px;
    line-height: 34px;
    margin-bottom: 0.75rem;
  }
  .feature__title--large {
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 2rem;
  }
  .feature__image {
    height: 70px;
    width: 70px;
  }

  .button {
    margin-top: 25px;
  }

  .inline-button {
    font-size: 22px;
    line-height: 30px;
  }

  .section.faqs {
    margin-bottom: 50px !important;
  }
  .section.about--homepage {
    padding-top: 40px;
  }
  .section.about--homepage .about__content {
    position: relative;
    
    &::before {
      content: '';
      top: -2rem;
      bottom: -2rem;
      right: -2rem;
      width: 1000%;
      background: url('/images/bg-diagonal.svg');
      position: absolute;
      z-index: -1;
    }
  }

  /*------------------------------------*\
      #PAGE NOT FOUND
  \*------------------------------------*/

  .page-not-found {
    padding: 50px 0;
  }
  .page-not-found__title {
    font-size: 15px;
    line-height: 23px;
  }
  .page-not-found__tagline {
    font-size: 40px;
    line-height: 34px;
  }

  /*------------------------------------*\
    #HEADER
  \*------------------------------------*/

  .header {
    padding: 0;
  }
  .header__inner {
    max-width: 540px;
  }

  /*------------------------------------*\
    #NAV
  \*------------------------------------*/

  .nav__link__text {
    display: none;
  }
  .mobile-nav {
    top: 66px; // header height
  }
  .mobile-nav .nav__link {
    font-size: 40px;
    line-height: 40px;
  }
  .mobile-nav .nav__link__text {
    display: block;
  }

  /*------------------------------------*\
    #CAROUSEL
  \*------------------------------------*/

  .carousel,
  .carousel__slide {
    height: 580px;

    &--location {
      height: 375px;
    }
  }
  .carousel__slide__overlay {
    padding: 0 1rem;
  }
  .carousel__arrows {
    bottom: 50px;
    top: initial;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    z-index: 3;

    .slick-arrow {
      position: relative;
      z-index: 9;
      width: 40px;
      height: 40px;
      background-size: cover;
    }
  }
  .carousel__dots {
    bottom: 60px;

    .slick-dots {
      padding: 0;
      margin: 0;
    }
  }
  .carousel__slide__title {
    font-size: 64px;
    line-height: 48px;
  }

  /*------------------------------------*\
    #OFFER-STRIP
  \*------------------------------------*/

  .offer-strip .inner {
    max-width: 600px;
  }
  .offer-strip__button {
    font-size: 22px;
  }

  /*------------------------------------*\
    #HOMEPAGE CARDS
  \*------------------------------------*/

  .quick-links .inner {
    max-width: 540px;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: auto;
    margin: 0 3rem;
  }
  .card__content {
    margin: 0.75rem 0 1rem;
    text-align: center;
  }
  .card__icon {
    text-align: center;
  }
  .card__arrow img {
    height: 30px;
    width: 30px;
  }
  .card__title {
    padding-right: 0;
  }

  /*------------------------------------*\
    #LARGE IMAGE (homepage)
  \*------------------------------------*/

  .large-image {
    padding-top: 6rem;
  }
  .large-image__photo {
    height: 380px;
  }
  .large-image__illustration {
    width: 90px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .large-image__title {
    font-size: 64px;
    line-height: 48px;
  }

  /*------------------------------------*\
    #APP DOWNLOAD STRIP
  \*------------------------------------*/

  .cta {
    padding: 40px 0;
    margin: 40px 0;

    &--article {
      padding: 20px 0 0 0;
      margin: 0;
    }
  }
  .cta .inner {
    max-width: 520px;
  }
  .cta__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cta__image,
  .cta__content,
  .cta__action {
    text-align: center;
    width: 100%;
  }
  .cta__image {
    img {
      width: 75px;
      margin-top: -40px;
    }
  }
  .cta__action {
    padding-top: 0;

    .button {
      margin-top: 0;
    }
  }

  /*------------------------------------*\
    #FOOTER
  \*------------------------------------*/

  .footer__upper {
    padding: 50px 0;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__col {
    text-align: center;
  }
  .footer__col--eat,
  .footer__col--learn,
  .footer__col--social {
    width: 100%;
  }
  .footer__nav--learn {
    columns: 1;
  }
  .footer__nav {
    margin: 20px 0;
  }
  .footer__title {
    font-size: 22px;
    line-height: 28px;
  }
  .footer__col .social-media {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1rem auto;
  }
  .footer__col .social-media__item {
    margin: 0 15px 0 0 !important;

    &:last-child {
      margin-right: 0 !important;
    }
  }
  .footer__illustration {
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
  .footer__copyright {
    margin: 0 0 1rem;
    text-align: center;
  }
  .footer__credit {
    text-align: center;
  }

  /*------------------------------------*\
    #HERO
  \*------------------------------------*/

  .hero {
    height: 540px;
    margin-bottom: 0;
  }
  .hero__content {
    max-width: 540px;
  }
  .hero__title {
    font-size: 64px;
    line-height: 48px;
  }

  /*------------------------------------*\
    #MODAL DIALOGUE
  \*------------------------------------*/

  .modal__dialogue {
    max-width: 540px;
    min-width: 480px;
  }
  .modal__dialogue__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .modal__dialogue__details {
    display: block;
    padding: 20px;
  }
  .modal__dialogue__image {
    width: 100%;

    img {
      width: 100%;
    }
  }
  .modal__dialogue__text {
    padding-left: 0;
    margin-top: 1rem;
  }
  .modal__dialogue__title,
  .modal__dialogue__subtitle {
    font-size: 22px;
    line-height: 26px; 
  }
  .modal__dialogue__price {
    margin: 1rem 0 !important;
  }
  .modal__dialogue__action {
    padding: 20px 20px 0 20px;
    text-align: right;
  }
  .modal__dialogue__content {
    padding: 20px;
  }
  .modal__dialogue__content p {
    margin: 1rem 0;
  }
  .modal__dialogue__toggles {
    margin: 20px 0;
  }
  .modal__dialogue__toggles .button {
    margin-top: 0;
    padding: 3px 6px 6px;
  }
  .modal__dialogue__footer {
    padding: 45px 20px 40px;
  }
}

@media screen and (max-width: 575px) {

  /*------------------------------------*\
    #BOOK ONLINE
  \*------------------------------------*/

  .book-online__wrap {
    width: 100%;
  }
  .book-online__button {
    right: 10px;
  }

  /*------------------------------------*\
    #NAV
  \*------------------------------------*/

  .nav__list--primary {
    padding-right: 1rem;
  }
  .nav__toggle {
    margin-left: 1rem;
  }
  .nav__item {
    margin-left: 1rem;
  }

  .mobile-nav {
    padding: 10%;
  }

  /*------------------------------------*\
    #HOMEPAGE CARDS
  \*------------------------------------*/

  .quick-links__title .feature__title {
    font-size: 40px;
  }
  .card {
    margin: 0 1rem;
  }

  /*------------------------------------*\
    #MODAL
  \*------------------------------------*/

  .modal__dialogue {
    max-width: 100%;
    min-width: 100%;
    top: 0;
  }

  /*------------------------------------*\
    #CTA
  \*------------------------------------*/

  .cta {
    padding: 30px 0;
    margin: 30px 0;
  }

  /*------------------------------------*\
    #FOOTER
  \*------------------------------------*/

  .footer__nav__link {
    padding: 10px;
  }
  .footer__col .social-media__item {
    margin: 0.5rem !important;
  }
}

@media screen and (max-width: 400px) {

  /*------------------------------------*\
    #TEMPLATE
  \*------------------------------------*/

  #page-wrap,
  .header {
    min-width: 300px;
  }

  .feature__title--large {
    font-size: 64px;
    line-height: 48px;
  }

  .button {
    font-size: 20px;
  }

  /*------------------------------------*\
    #NAV
  \*------------------------------------*/

  .nav__list {
    padding-right: 0;
  }
  .mobile-nav {
    padding: 10% 1rem;
  }
  .mobile-nav .nav__list--secondary {
    margin: 50px auto 0;
    max-width: 100%;
  }

  /*------------------------------------*\
    #HOMEPAGE CARDS
  \*------------------------------------*/

  .quick-links__title .feature__title {
    font-size: 30px;
  }

  /*------------------------------------*\
    #LARGE IMAGE
  \*------------------------------------*/

  .large-image {
    padding-top: 5rem;
  }

  /*------------------------------------*\
    #CAROUSEL
  \*------------------------------------*/

  .carousel,
  .carousel__slide {
    &--location {
      height: 275px;
    }
  }

  /*------------------------------------*\
    #LOCATIONS
  \*------------------------------------*/

  .locations .feature--left .feature__title {
    margin-bottom: 0;
  }
  .location-card__concession {
    left: 20px;
  }

}

@media screen and (max-width: 375px) {

  /*------------------------------------*\
    #HEADER
  \*------------------------------------*/

  .header__logo__image {
    width: 60px;
  }

  /*------------------------------------*\
    #INTRO CARDS
  \*------------------------------------*/

  .card {
    margin: 0 0.5rem;
  }

  /*------------------------------------*\
    #MODAL
  \*------------------------------------*/

  .modal__dialogue__toggles {
    border-radius: 25px;
  }
  .modal__dialogue__toggles .button {
    margin-bottom: 0.5rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

}