@function decimal-round ($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @if $mode == round {
        @return round($number * $n) / $n;
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}
@function decimal-ceil ($number, $digits: 0) {
    @return decimal-round($number, $digits, ceil);
}
@function decimal-floor ($number, $digits: 0) {
    @return decimal-round($number, $digits, floor);
}

//  GROUPING  ==========================================
.group { clear: both; padding: 0px; margin: 0px; zoom:1; /* For IE 6/7 (trigger hasLayout) */
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

$defMargin: 3%;

.cell { display: block; float:left; margin-top:0;  }
.cell:first-child { margin-left:0; }

@mixin set-equal-grid($startAt, $margin) {
	$x: ($startAt - 1)*$margin;
	$y: 100 - $x;
	$z: $y / $startAt; 
	width: decimal-round($z, 2, 'floor'); 
	margin-left: $margin;
		&:nth-child(#{$startAt - 1}n+1) { margin-left:$margin; clear:none; }
		&:nth-child(#{$startAt}n+1) { margin-left:0; clear:both; }
}

%smallCell 	{ @include set-equal-grid(6,$defMargin); }
%mediumCell { @include set-equal-grid(4,$defMargin); }
%largeCell { @include set-equal-grid(2,$defMargin); }


@mixin set-unequal-grid($groupCols,$cols,$totalCols,$margin,$firstchild) {
		
	$totalMargin: ($totalCols - 1) * $margin;
	$x: 100 - $totalMargin;							// amount to divide cols by
	$y: $x / $totalCols; 							// single col width 
	$z: ($cols*$y)+(($cols - 1) * $margin);			// col widths + margin widths
	width: decimal-round($z, 2, 'floor');
	
	@if $firstchild == 1 { margin-left: 0; }
	@if $firstchild != 1 { margin-left: $margin; }
}

// ==================================
// EXAMPLE OF USE
/*
.comp-share 		{ @include set-unequal-grid(3,1,8,$defMargin,1); background:#777; height:300px; }
.comp-content 		{ @include set-unequal-grid(3,4,8,$defMargin,0); background:#555; height:300px; }
.comp-sidebar 		{ @include set-unequal-grid(3,3,8,$defMargin,0); background:#333; height:300px; }

.portal 	{ @include set-equal-grid(8,$defMargin); background:purple; height:300px; }
*/