/*------------------------------------*\
    #RESET
\*------------------------------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { margin:0; padding:0; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;cursor:pointer}
a:focus,a:hover,a:active {outline: none}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
input,select{vertical-align:middle}

a { text-decoration:none; }
a, a:visited, a:hover, a:focus, a:active, object, embed, a img { outline: none !important;}
img { max-width: 100%;  vertical-align: middle;  border: 0;  -ms-interpolation-mode: bicubic; height:auto; }
button::-moz-focus-inner { border: 0;}

html {font-size: 100%;}
#skip-to-main { display:none; }

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(52,158,219); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

.clearfix { zoom : 1; }
[v-cloak] { display: none; }

li { clear:both; } // chrome fix
.reset--list { list-style-type: none;  margin:0; padding:0; }

/*------------------------------------*\
    #FORM ELEMENTS
\*------------------------------------*/

::-webkit-selection { background : #000; color : #fff; text-shadow : 1px 1px 1px #000; }
::-moz-selection { background : #000; color : #fff; text-shadow : 1px 1px 1px #000; }
::selection { background : #000; color : #fff; text-shadow : 1px 1px 1px #000; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { -webkit-appearance : button; border:0; outline:none; }

::-webkit-input-placeholder {font-size : .875em; line-height : 1.4; }
input:-moz-placeholder { font-size : .875em; line-height : 1.4; }

.ie7 img,
.iem7 img { -ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { box-sizing : border-box; }
input[type="search"] { -webkit-box-sizing : content-box;-moz-box-sizing : content-box; }

button::-moz-focus-inner, 
input::-moz-focus-inner { padding : 0;border : 0; }

button,
input,
select,
textarea {  margin: 0;  font-size: 100%;  vertical-align: middle;}

button,
input {  *overflow: visible;  line-height: normal;}

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0;  border: 0;}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer;  -webkit-appearance: button;}
input[type="search"] {  -webkit-box-sizing: content-box; -moz-box-sizing: content-box;  box-sizing: content-box;  -webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top;}
.clearfix { *zoom: 1;}

	textarea { resize: none; min-height:140px; }


.clearfix:before,
.clearfix:after { display: table; line-height: 0; content: "";}

.clearfix:after { clear: both; }

select { cursor:pointer; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input, .faux-field {
  display: inline-block;  padding: .75em;  font-size: 1em;  color: #000; }
.faux-field { padding:.625em 0; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid darken($clr-shade,20%);

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border:1px #000 solid;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
          -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
            -o-transition: border linear 0.2s, box-shadow linear 0.2s;
               transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="radio"],
input[type="checkbox"] {  margin: 4px 0 0;  margin-top: 1px \9;  *margin-top: 0;  line-height: normal;  cursor: pointer; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] { width: auto;}


select {  width: 80%;  background-color: #fff;  border: 1px solid #ccc; }

select[multiple], select[size] { height: auto; }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { color: #999;}


.radio input[type="radio"],
.checkbox input[type="checkbox"] {  float: left;  margin-left: -18px;}

.controls > .radio:first-child,
.controls > .checkbox:first-child { padding-top: 5px;}

.radio.inline,
.checkbox.inline { display: inline-block;  padding-top: 5px;  margin-bottom: 0;  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline { margin-left: 10px; }

input[type="checkbox"].hide_switch_input { display: none; }

.toggle_switch {
    float:left;
    margin-top: .3em;
    position: relative;
    width: 60px;
    height: 28px;
    background: #ccc;
    border: 2px solid darken(#ccc,2%);
    transition: all .1s linear;
    border-radius: 28px;
    cursor: pointer;
}

.toggle_switch:before {
    position: absolute;
    content: " ";
    top: 0; left: 0;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: #fff;
    transition: all .1s linear;
}

input[type="checkbox"].hide_switch_input:checked + label .toggle_switch {
    background: $clr-action;
    border: 2px solid darken($clr-action,1%);
    &:before {
        left: 32px;
    }
}