/*------------------------------------*\
    #SEARCH
\*------------------------------------*/


/* e.g. Search bar at top of Pages */

.search-bar {
	margin: -.25em 0 1.25em 0;
	position: relative;
}

.search-bar label {
	position: absolute;
	top: .65em;
	left: 1em;
	font-weight: $bold-weight;
	color: $clr-dark;
	cursor: pointer;
}

.search-bar input {
	width: 80%;
	max-width: 400px;
	padding-left: 100px;
}


/* Search icon in nav */

.css-shape {
	width: 40px;
	height: 40px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin-bottom: -.625em;
}

.css-search {
	transform: rotate(45deg);
}

.css-search span {
	position: absolute;
	display: block;
}

.css-search.active span {
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, width 300ms ease-in-out;
}

// circle
.css-search span:nth-child(1) {
	top: 50%;
	left: 15%;
	width: 50%;
	height: 50%;
	border: solid 3px rgba(white, .875);
	border-radius: 100%;
	margin-top: -25%;
}

// hidden line
.css-search span:nth-child(2) {
	top: 50%;
	left: 15%;
	width: 70%;
	border-bottom: solid 3px rgba(white, .875);
	margin-top: -2px;
	margin-left: 1px;
	opacity: 0;
}

// handle
.css-search span:nth-child(3) {
	top: 50%;
	right: 12%;
	width: 30%;
	border-bottom: solid 3px rgba(white, .875);
	margin-top: -2px;
}

.css-search:hover span {
	border-color: white;
}

.css-search.active span:nth-child(1) {
	opacity: 0;
	transform: scale(0, 0);
}

.css-search.active span:nth-child(2) {
	opacity: 1;
	transform: rotate(-90deg);
}

.css-search.active span:nth-child(3) {
	width: 70%;
}

.close-admin-search {
	position: absolute;
	z-index: 99999999;
	top: 4em;
	right: 4em;
	width: 30px;
	height: 40px;
	cursor: pointer;
	transform: translateY(100%);
	opacity: 0;
	transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.close-admin-search span {
	display: block;
	width: 30px;
	height: 3px;
	background: black;
	position: absolute;
	top: 50%;
	left: 0;
	transition: transform 300ms ease-in-out;
}

.close-admin-search span:first-child {
	transform: rotate(45deg);
}

.close-admin-search span:last-child {
	transform: rotate(135deg);
}

.admin-search__form,
.admin-search__history {
	min-height: 400px;
	position: fixed;
	z-index: 99999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	background: $clr-shade;
	transition: transform 600ms ease;
	padding: 4em;
}

.admin-search__form {
	transform: translateY(-100%);
	left: 90px;
}

.admin-search__history {
	background: lighten($clr-shade, 2%);
	transform: translateY(100%);
	left: 50%;
	right: 0;
}

.admin-search__form-inner,
.admin-search__history-inner {
	transform: translateY(15%);
	opacity: 0;
	transition: transform 500ms ease-out, opacity 500ms ease-out;
	transition-delay: 600ms;
}

.admin-search__history-inner {
	transform: translateY(-15%);
}

.admin-search__label {
	font-size: 2em;
	line-height: 1;
	padding-bottom: 1.75rem;
	display: inline-block;
}

.admin-search__input {
	border: initial !important;
	width: 100%;
}

.admin-search__title {
	margin-bottom: 1.25rem;
	font-weight: 400;
	color: #999;
}

.admin-search__history-item {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding: .5em 0;
	border-bottom: dashed 1px rgba(black, .125);
}

.admin-search__history-item-lbl {
	flex: 1;
	font-weight: $bold-weight;
}

.admin-search__history-item-cat {
	font-size: .85em;
}

#admin-search.active .admin-search__form,
#admin-search.active .admin-search__history {
	transform: translateY(0);
}

#admin-search.active .admin-search__form-inner,
#admin-search.active .admin-search__history-inner {
	transform: translateY(0);
	opacity: 1;
}

#admin-search.active .close-admin-search {
	transform: translateY(0);
	opacity: 1;
}

#autocomplete {
	position: relative;
	width: 100%;
}

.ui-widget-content a,
.ui-widget-header,
.ui-widget-header a {
	color: #222
}

.ui-helper-hidden {
	display: none
}

.ui-helper-hidden-accessible {
	position: absolute;
	left: -99999999px
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none
}

.ui-widget,
.ui-widget .ui-widget {
	font-size: 1em
}

.ui-helper-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .ui-helper-clearfix {
	height: 1%
}

.ui-helper-zfix,
.ui-widget-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0
}

.ui-helper-clearfix {
	display: block
}

.ui-helper-zfix {
	opacity: 0;
	filter: Alpha(Opacity=0)
}

.ui-state-disabled {
	cursor: default!important
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat
}

.ui-widget {
	font-family: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif
}

.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em
}

.ui-widget-content {
	border: 1px solid #aaa;
	background: #fff;
	color: #222
}

.ui-widget-header {
	border: 1px solid #aaa;
	background: #ccc;
	font-weight: 700
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	font-weight: 700;
	color: #666
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #666;
	text-decoration: none
}

.ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover {
	font-weight: 700;
	color: $clr-primary
}

.ui-state-hover a,
.ui-state-hover a:hover {
	color: #fff;
	text-decoration: none
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	font-weight: 700;
	color: $clr-primary
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: $clr-primary;
	text-decoration: none
}

.ui-widget :active {
	outline: 0
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #ccc;
	background: #fff;
	color: $clr-primary
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: $clr-primary
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #c06;
	background: #fff;
	color: #222
}

.ui-state-error a,
.ui-state-error-text,
.ui-widget-content .ui-state-error a,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error a,
.ui-widget-header .ui-state-error-text {
	color: #222
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: 700
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity=70);
	font-weight: 400
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none
}

.ui-icon {
	width: 16px;
	height: 16px
}

.ui-icon-carat-1-n {
	background-position: 0 0
}

.ui-icon-carat-1-ne {
	background-position: -16px 0
}

.ui-icon-carat-1-e {
	background-position: -32px 0
}

.ui-icon-carat-1-se {
	background-position: -48px 0
}

.ui-icon-carat-1-s {
	background-position: -64px 0
}

.ui-icon-carat-1-sw {
	background-position: -80px 0
}

.ui-icon-carat-1-w {
	background-position: -96px 0
}

.ui-icon-carat-1-nw {
	background-position: -112px 0
}

.ui-icon-carat-2-n-s {
	background-position: -128px 0
}

.ui-icon-carat-2-e-w {
	background-position: -144px 0
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
	background-position: -16px -16px
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px
}

.ui-icon-triangle-1-se {
	background-position: -48px -16px
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px
}

.ui-icon-triangle-1-sw {
	background-position: -80px -16px
}

.ui-icon-triangle-1-w {
	background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
	background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
	background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
	background-position: -144px -16px
}

.ui-icon-arrow-1-n {
	background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
	background-position: -16px -32px
}

.ui-icon-arrow-1-e {
	background-position: -32px -32px
}

.ui-icon-arrow-1-se {
	background-position: -48px -32px
}

.ui-icon-arrow-1-s {
	background-position: -64px -32px
}

.ui-icon-arrow-1-sw {
	background-position: -80px -32px
}

.ui-icon-arrow-1-w {
	background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
	background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
	background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
	background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
	background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
	background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
	background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
	background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
	background-position: 0 -48px
}

.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
	background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
	background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
	background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
	background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px
}

.ui-icon-arrow-4 {
	background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
	background-position: -16px -80px
}

.ui-icon-extlink {
	background-position: -32px -80px
}

.ui-icon-newwin {
	background-position: -48px -80px
}

.ui-icon-refresh {
	background-position: -64px -80px
}

.ui-icon-shuffle {
	background-position: -80px -80px
}

.ui-icon-transfer-e-w {
	background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
	background-position: -112px -80px
}

.ui-icon-folder-collapsed {
	background-position: 0 -96px
}

.ui-icon-folder-open {
	background-position: -16px -96px
}

.ui-icon-document {
	background-position: -32px -96px
}

.ui-icon-document-b {
	background-position: -48px -96px
}

.ui-icon-note {
	background-position: -64px -96px
}

.ui-icon-mail-closed {
	background-position: -80px -96px
}

.ui-icon-mail-open {
	background-position: -96px -96px
}

.ui-icon-suitcase {
	background-position: -112px -96px
}

.ui-icon-comment {
	background-position: -128px -96px
}

.ui-icon-person {
	background-position: -144px -96px
}

.ui-icon-print {
	background-position: -160px -96px
}

.ui-icon-trash {
	background-position: -176px -96px
}

.ui-icon-locked {
	background-position: -192px -96px
}

.ui-icon-unlocked {
	background-position: -208px -96px
}

.ui-icon-bookmark {
	background-position: -224px -96px
}

.ui-icon-tag {
	background-position: -240px -96px
}

.ui-icon-home {
	background-position: 0 -112px
}

.ui-icon-flag {
	background-position: -16px -112px
}

.ui-icon-calendar {
	background-position: -32px -112px
}

.ui-icon-cart {
	background-position: -48px -112px
}

.ui-icon-pencil {
	background-position: -64px -112px
}

.ui-icon-clock {
	background-position: -80px -112px
}

.ui-icon-disk {
	background-position: -96px -112px
}

.ui-icon-calculator {
	background-position: -112px -112px
}

.ui-icon-zoomin {
	background-position: -128px -112px
}

.ui-icon-zoomout {
	background-position: -144px -112px
}

.ui-icon-search {
	background-position: -160px -112px
}

.ui-icon-wrench {
	background-position: -176px -112px
}

.ui-icon-gear {
	background-position: -192px -112px
}

.ui-icon-heart {
	background-position: -208px -112px
}

.ui-icon-star {
	background-position: -224px -112px
}

.ui-icon-link {
	background-position: -240px -112px
}

.ui-icon-cancel {
	background-position: 0 -128px
}

.ui-icon-plus {
	background-position: -16px -128px
}

.ui-icon-plusthick {
	background-position: -32px -128px
}

.ui-icon-minus {
	background-position: -48px -128px
}

.ui-icon-minusthick {
	background-position: -64px -128px
}

.ui-icon-close {
	background-position: -80px -128px
}

.ui-icon-closethick {
	background-position: -96px -128px
}

.ui-icon-key {
	background-position: -112px -128px
}

.ui-icon-lightbulb {
	background-position: -128px -128px
}

.ui-icon-scissors {
	background-position: -144px -128px
}

.ui-icon-clipboard {
	background-position: -160px -128px
}

.ui-icon-copy {
	background-position: -176px -128px
}

.ui-icon-contact {
	background-position: -192px -128px
}

.ui-icon-image {
	background-position: -208px -128px
}

.ui-icon-video {
	background-position: -224px -128px
}

.ui-icon-script {
	background-position: -240px -128px
}

.ui-icon-alert {
	background-position: 0 -144px
}

.ui-icon-info {
	background-position: -16px -144px
}

.ui-icon-notice {
	background-position: -32px -144px
}

.ui-icon-help {
	background-position: -48px -144px
}

.ui-icon-check {
	background-position: -64px -144px
}

.ui-icon-bullet {
	background-position: -80px -144px
}

.ui-icon-radio-off {
	background-position: -96px -144px
}

.ui-icon-radio-on {
	background-position: -112px -144px
}

.ui-icon-pin-w {
	background-position: -128px -144px
}

.ui-icon-pin-s {
	background-position: -144px -144px
}

.ui-icon-play {
	background-position: 0 -160px
}

.ui-icon-pause {
	background-position: -16px -160px
}

.ui-icon-seek-next {
	background-position: -32px -160px
}

.ui-icon-seek-prev {
	background-position: -48px -160px
}

.ui-icon-seek-end {
	background-position: -64px -160px
}

.ui-icon-seek-first,
.ui-icon-seek-start {
	background-position: -80px -160px
}

.ui-icon-stop {
	background-position: -96px -160px
}

.ui-icon-eject {
	background-position: -112px -160px
}

.ui-icon-volume-off {
	background-position: -128px -160px
}

.ui-icon-volume-on {
	background-position: -144px -160px
}

.ui-icon-power {
	background-position: 0 -176px
}

.ui-icon-signal-diag {
	background-position: -16px -176px
}

.ui-icon-signal {
	background-position: -32px -176px
}

.ui-icon-battery-0 {
	background-position: -48px -176px
}

.ui-icon-battery-1 {
	background-position: -64px -176px
}

.ui-icon-battery-2 {
	background-position: -80px -176px
}

.ui-icon-battery-3 {
	background-position: -96px -176px
}

.ui-icon-circle-plus {
	background-position: 0 -192px
}

.ui-icon-circle-minus {
	background-position: -16px -192px
}

.ui-icon-circle-close {
	background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
	background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
	background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
	background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px
}

.ui-icon-circle-zoomin {
	background-position: -176px -192px
}

.ui-icon-circle-zoomout {
	background-position: -192px -192px
}

.ui-icon-circle-check {
	background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
	background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
	background-position: -16px -208px
}

.ui-icon-circlesmall-close {
	background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
	background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
	background-position: -64px -208px
}

.ui-icon-squaresmall-close {
	background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
	background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
	background-position: -80px -224px
}

.ui-widget-overlay {
	background: #eee;
	opacity: .8;
	filter: Alpha(Opacity=80)
}

.ui-widget-shadow {
	margin: -4px 0 0 -4px;
	padding: 4px;
	background: #aaa;
	opacity: .6;
	filter: Alpha(Opacity=60);
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

.ui-resizable {
	position: relative
}

.ui-resizable-handle {
	position: absolute;
	font-size: .1px;
	z-index: 99999;
	display: block
}

.ui-resizable-autohide .ui-resizable-handle,
.ui-resizable-disabled .ui-resizable-handle {
	display: none
}

.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%
}

.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%
}

.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px
}

.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px
}

.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px
}

.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px
}

.ui-selectable-helper {
	border: 1px dotted #000
}

.ui-accordion .ui-accordion-header {
	cursor: pointer;
	position: relative;
	margin-top: 1px;
	zoom: 1
}

.ui-accordion .ui-accordion-li-fix {
	display: inline
}

.ui-accordion .ui-accordion-header-active {
	border-bottom: 0!important
}

.ui-accordion .ui-accordion-header a {
	display: block;
	font-size: 1em;
	padding: .5em .5em .5em .7em
}

.ui-accordion a {
	zoom: 1
}

.ui-accordion-icons .ui-accordion-header a {
	padding-left: 2.2em
}

.ui-accordion .ui-accordion-header .ui-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px
}

.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	margin-top: -2px;
	position: relative;
	top: 1px;
	margin-bottom: 2px;
	overflow: auto;
	display: none;
	zoom: 1
}

.ui-accordion .ui-accordion-content-active,
.ui-menu {
	display: block
}

.ui-autocomplete {
	position: absolute;
	cursor: default
}

.ui-autocomplete-loading {
	background: url(/js/images/ui-anim_basic_16x16.gif) right center no-repeat #fff
}

* html .ui-autocomplete {
	width: 1px
}

.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0
}

.ui-menu .ui-menu {
	margin-top: -3px
}

.ui-menu .ui-menu-item {
	margin: 0;
	padding: .5em;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%
}

.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	zoom: 1;
	font-weight: 400;
	font-size: .9em;
	font-family: CartoGothicStdBook, 'Helvetica Neue', Arial, sans-serif
}

.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-hover {
	font-weight: 400;
	margin: -1px
}

.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	margin-right: .1em;
	text-decoration: none!important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible
}

.ui-button-icon-only {
	width: 2.2em
}

button.ui-button-icon-only {
	width: 2.4em
}

.ui-button-icons-only {
	width: 3.4em
}

button.ui-button-icons-only {
	width: 3.7em
}

.ui-button .ui-button-text {
	display: block;
	line-height: 1.4
}

.ui-button-text-only .ui-button-text {
	padding: .4em 1em
}

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px
}

.ui-button-text-icon .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em
}

.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em
}

input.ui-button {
	padding: .4em 1em
}

.ui-button-icon-only .ui-icon,
.ui-button-icons-only .ui-icon,
.ui-button-text-icon .ui-icon,
.ui-button-text-icons .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px
}

.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px
}

.ui-button-icons-only .ui-button-icon-primary,
.ui-button-text-icon .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary {
	left: .5em
}

.ui-button-icons-only .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary {
	right: .5em
}

.ui-buttonset {
	margin-right: 7px
}

.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em
}

button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0
}

.ui-dialog {
	position: absolute;
	padding: .2em;
	width: 300px;
	overflow: hidden
}

.ui-dialog .ui-dialog-titlebar {
	padding: .5em 1em .3em;
	position: relative
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 16px .2em 0
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0;
	padding: 1px;
	height: 18px
}

.ui-dialog .ui-dialog-titlebar-close span {
	display: block;
	margin: 1px
}

.ui-dialog .ui-dialog-titlebar-close:focus,
.ui-dialog .ui-dialog-titlebar-close:hover {
	padding: 0
}

.ui-dialog .ui-dialog-content {
	border: 0;
	padding: .5em 1em;
	background: 0 0;
	overflow: auto;
	zoom: 1
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0;
	background-image: none;
	margin: .5em 0 0;
	padding: .3em 1em .5em .4em
}

.ui-dialog .ui-dialog-buttonpane button {
	float: right;
	margin: .5em .4em .5em 0;
	cursor: pointer;
	padding: .2em .6em .3em;
	line-height: 1.4em;
	width: auto;
	overflow: visible
}

.ui-dialog .ui-resizable-se {
	width: 14px;
	height: 14px;
	right: 3px;
	bottom: 3px
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move
}

.ui-slider {
	position: relative;
	text-align: left
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0
}

.ui-slider-horizontal {
	height: .8em
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0
}

.ui-slider-vertical {
	width: .8em;
	height: 100px
}

.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em
}

.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0
}

.ui-tabs {
	padding: 0;
	zoom: 1
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	top: 1px;
	margin: 0;
	border-bottom: 0!important;
	padding: 0;
	white-space: nowrap
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0;
	text-decoration: none
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 1px;
	background: #FFF
}

.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	cursor: text
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 0;
	background: 0 0
}

.ui-tabs .ui-tabs-hide {
	position: absolute;
	left: -10000px
}

.ui-datepicker {
	width: 220px;
	padding: 0
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .1em 0
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em
}

.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover {
	top: 1px
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px
}

.ui-datepicker .ui-datepicker-next {
	right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 1px
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month-year {
	width: 100%
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%
}

.ui-datepicker table {
	width: 220px;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: 700;
	border: 0
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
	text-align: center
}

.ui-datepicker td a,
.ui-datepicker td span {
	display: block;
	padding: .2em;
	text-decoration: none
}

.ui-datepicker td a.ui-state-default,
.ui-datepicker td span.ui-state-default {
	border: 0;
	background: #FFF
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em;
	width: auto;
	overflow: visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-multi .ui-datepicker-group,
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left
}

.ui-datepicker.ui-datepicker-multi {
	width: auto
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%
}

.ui-datepicker-rtl {
	direction: rtl
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px
}

.ui-datepicker-cover {
	display: none;
	display: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 200px;
	height: 200px
}

.ui-progressbar {
	height: 2em;
	text-align: left
}

.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%
}

.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px
}

* html .ui-autocomplete {
	height: 300px
}

.ui-menu {
	top: 0 !important;
	width: 100% !important;
}

.ui-widget-content {
	border: initial;
	border-top: solid 1px rgba(black, .6);
}

.ui-autocomplete-category {
	padding: .5em;
	color: #bbb;
	letter-spacing: 1px;
	font-size: .875em;
}

.ui-menu-item {
	cursor: pointer;
	&:hover {
		background: #f0f0f0;
	}
}

@media print {
	#header,
	#nav {
		display: none;
	}
	#dashboard {
		padding-left: 0;
	}
	.page-headers {
		display: none;
	}
	.form-with-actions {
		padding: 0;
		margin: 0;
	}
	.form__field {
		margin: 0;
	}
	.row,
	.orders-list .header-row {
		box-shadow: none;
		margin-bottom: 0;
	}
	.form-actions {
		display: none;
	}
}