/*------------------------------------*\
	#ADDITIONAL.SCSS
	If you need something that isn't covered by core.scss 
	then add it into this stylesheet instead.
\*------------------------------------*/

.cms-login {
  background-color: #000;
}
.cms-login__form {
  background: url('/images/diagonalpattern.svg');
  border: 0;
}
button#toggle-password,
.cms-login__form__label,
.cms-login__form__label .fa {
  color: #fff;
}
.cms-login__form__input {
  background-color: #303034 !important;
  border: none !important;
  color: #fff;
}


/**
  Independent Errors that aren't covered by validate-form
  @example
    <div class="form__field">
      <label class="form__field__label" for=""></label>
      <input class="form__field__input" name="" id="" type="" value="" />
      <div id="" class="input_errors"></div>
  </div>
*/
.input_errors {
  width: 70%;
  margin-left: 30%;
}
// Error added into input errors by js
.input_errors .error {
  color: #e74035;
}