/*------------------------------------*\
	#ADDITIONAL.SCSS
	If you need something that isn't covered by core.scss 
	then add it into this stylesheet instead.
\*------------------------------------*/
.cms-login {
  background-color: #000; }

.cms-login__form {
  background: url("/images/diagonalpattern.svg");
  border: 0; }

button#toggle-password,
.cms-login__form__label,
.cms-login__form__label .fa {
  color: #fff; }

.cms-login__form__input {
  background-color: #303034 !important;
  border: none !important;
  color: #fff; }

/*# sourceMappingURL=additional.css.map */
