/*------------------------------------*\
	#CORE.SCSS
	Do not touch this scss file - This is purely the core CMS styles
	e.g. (login, search, Pages, Articles, Image Library, etc)
	If you need to add extra/specific classes/styles 
	to your project, add it to additional.scss
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/* === FONT SIZES === */
/* === COLOURS *clr-xxx* === */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/*------------------------------------*\
    #IMPORTS
\*------------------------------------*/
.group {
  clear: both;
  padding: 0px;
  margin: 0px;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  .group:before, .group:after {
    content: "";
    display: table; }
  .group:after {
    clear: both; }

.cell {
  display: block;
  float: left;
  margin-top: 0; }

.cell:first-child {
  margin-left: 0; }

/*
.comp-share 		{ @include set-unequal-grid(3,1,8,$defMargin,1); background:#777; height:300px; }
.comp-content 		{ @include set-unequal-grid(3,4,8,$defMargin,0); background:#555; height:300px; }
.comp-sidebar 		{ @include set-unequal-grid(3,3,8,$defMargin,0); background:#333; height:300px; }

.portal 	{ @include set-equal-grid(8,$defMargin); background:purple; height:300px; }
*/
/*------------------------------------*\
    #RESET
\*------------------------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  cursor: pointer; }

a:focus, a:hover, a:active {
  outline: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

a {
  text-decoration: none; }

a, a:visited, a:hover, a:focus, a:active, object, embed, a img {
  outline: none !important; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  height: auto; }

button::-moz-focus-inner {
  border: 0; }

html {
  font-size: 100%; }

#skip-to-main {
  display: none; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #349edb;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.clearfix {
  zoom: 1; }

[v-cloak] {
  display: none; }

li {
  clear: both; }

.reset--list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/*------------------------------------*\
    #FORM ELEMENTS
\*------------------------------------*/
::-webkit-selection {
  background: #000;
  color: #fff;
  text-shadow: 1px 1px 1px #000; }

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: 1px 1px 1px #000; }

::selection {
  background: #000;
  color: #fff;
  text-shadow: 1px 1px 1px #000; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  border: 0;
  outline: none; }

::-webkit-input-placeholder {
  font-size: .875em;
  line-height: 1.4; }

input:-moz-placeholder {
  font-size: .875em;
  line-height: 1.4; }

.ie7 img,
.iem7 img {
  -ms-interpolation-mode: bicubic; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

.clearfix {
  *zoom: 1; }

textarea {
  resize: none;
  min-height: 140px; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

select {
  cursor: pointer; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input, .faux-field {
  display: inline-block;
  padding: .75em;
  font-size: 1em;
  color: #000; }

.faux-field {
  padding: .625em 0; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #c6c6bf; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border: 1px #000 solid;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

select {
  width: 80%;
  background-color: #fff;
  border: 1px solid #ccc; }

select[multiple], select[size] {
  height: auto; }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input[type="checkbox"].hide_switch_input {
  display: none; }

.toggle_switch {
  float: left;
  margin-top: .3em;
  position: relative;
  width: 60px;
  height: 28px;
  background: #ccc;
  border: 2px solid #c7c7c7;
  transition: all .1s linear;
  border-radius: 28px;
  cursor: pointer; }

.toggle_switch:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #fff;
  transition: all .1s linear; }

input[type="checkbox"].hide_switch_input:checked + label .toggle_switch {
  background: #08cd92;
  border: 2px solid #08c88f; }
  input[type="checkbox"].hide_switch_input:checked + label .toggle_switch:before {
    left: 32px; }

/*------------------------------------*\
    #ANIMATIONS
\*------------------------------------*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
/*------------------------------------*\
    #SEARCH
\*------------------------------------*/
/* e.g. Search bar at top of Pages */
.search-bar {
  margin: -.25em 0 1.25em 0;
  position: relative; }

.search-bar label {
  position: absolute;
  top: .65em;
  left: 1em;
  font-weight: 500;
  color: #2d3b42;
  cursor: pointer; }

.search-bar input {
  width: 80%;
  max-width: 400px;
  padding-left: 100px; }

/* Search icon in nav */
.css-shape {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: -.625em; }

.css-search {
  transform: rotate(45deg); }

.css-search span {
  position: absolute;
  display: block; }

.css-search.active span {
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, width 300ms ease-in-out; }

.css-search span:nth-child(1) {
  top: 50%;
  left: 15%;
  width: 50%;
  height: 50%;
  border: solid 3px rgba(255, 255, 255, 0.875);
  border-radius: 100%;
  margin-top: -25%; }

.css-search span:nth-child(2) {
  top: 50%;
  left: 15%;
  width: 70%;
  border-bottom: solid 3px rgba(255, 255, 255, 0.875);
  margin-top: -2px;
  margin-left: 1px;
  opacity: 0; }

.css-search span:nth-child(3) {
  top: 50%;
  right: 12%;
  width: 30%;
  border-bottom: solid 3px rgba(255, 255, 255, 0.875);
  margin-top: -2px; }

.css-search:hover span {
  border-color: white; }

.css-search.active span:nth-child(1) {
  opacity: 0;
  transform: scale(0, 0); }

.css-search.active span:nth-child(2) {
  opacity: 1;
  transform: rotate(-90deg); }

.css-search.active span:nth-child(3) {
  width: 70%; }

.close-admin-search {
  position: absolute;
  z-index: 99999999;
  top: 4em;
  right: 4em;
  width: 30px;
  height: 40px;
  cursor: pointer;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out; }

.close-admin-search span {
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  position: absolute;
  top: 50%;
  left: 0;
  transition: transform 300ms ease-in-out; }

.close-admin-search span:first-child {
  transform: rotate(45deg); }

.close-admin-search span:last-child {
  transform: rotate(135deg); }

.admin-search__form,
.admin-search__history {
  min-height: 400px;
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background: #f6f6f5;
  transition: transform 600ms ease;
  padding: 4em; }

.admin-search__form {
  transform: translateY(-100%);
  left: 90px; }

.admin-search__history {
  background: #fbfbfa;
  transform: translateY(100%);
  left: 50%;
  right: 0; }

.admin-search__form-inner,
.admin-search__history-inner {
  transform: translateY(15%);
  opacity: 0;
  transition: transform 500ms ease-out, opacity 500ms ease-out;
  transition-delay: 600ms; }

.admin-search__history-inner {
  transform: translateY(-15%); }

.admin-search__label {
  font-size: 2em;
  line-height: 1;
  padding-bottom: 1.75rem;
  display: inline-block; }

.admin-search__input {
  border: initial !important;
  width: 100%; }

.admin-search__title {
  margin-bottom: 1.25rem;
  font-weight: 400;
  color: #999; }

.admin-search__history-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: .5em 0;
  border-bottom: dashed 1px rgba(0, 0, 0, 0.125); }

.admin-search__history-item-lbl {
  flex: 1;
  font-weight: 500; }

.admin-search__history-item-cat {
  font-size: .85em; }

#admin-search.active .admin-search__form,
#admin-search.active .admin-search__history {
  transform: translateY(0); }

#admin-search.active .admin-search__form-inner,
#admin-search.active .admin-search__history-inner {
  transform: translateY(0);
  opacity: 1; }

#admin-search.active .close-admin-search {
  transform: translateY(0);
  opacity: 1; }

#autocomplete {
  position: relative;
  width: 100%; }

.ui-widget-content a,
.ui-widget-header,
.ui-widget-header a {
  color: #222; }

.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  position: absolute;
  left: -99999999px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-widget,
.ui-widget .ui-widget {
  font-size: 1em; }

.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .ui-helper-clearfix {
  height: 1%; }

.ui-helper-zfix,
.ui-widget-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0; }

.ui-helper-clearfix {
  display: block; }

.ui-helper-zfix {
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-state-disabled {
  cursor: default !important; }

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif; }

.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em; }

.ui-widget-content {
  border: 1px solid #aaa;
  background: #fff;
  color: #222; }

.ui-widget-header {
  border: 1px solid #aaa;
  background: #ccc;
  font-weight: 700; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  font-weight: 700;
  color: #666; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #666;
  text-decoration: none; }

.ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover {
  font-weight: 700;
  color: #2dbbe9; }

.ui-state-hover a,
.ui-state-hover a:hover {
  color: #fff;
  text-decoration: none; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  font-weight: 700;
  color: #2dbbe9; }

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #2dbbe9;
  text-decoration: none; }

.ui-widget :active {
  outline: 0; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #ccc;
  background: #fff;
  color: #2dbbe9; }

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #2dbbe9; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #c06;
  background: #fff;
  color: #222; }

.ui-state-error a,
.ui-state-error-text,
.ui-widget-content .ui-state-error a,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error a,
.ui-widget-header .ui-state-error-text {
  color: #222; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: 700; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: 400; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

.ui-icon {
  width: 16px;
  height: 16px; }

.ui-icon-carat-1-n {
  background-position: 0 0; }

.ui-icon-carat-1-ne {
  background-position: -16px 0; }

.ui-icon-carat-1-e {
  background-position: -32px 0; }

.ui-icon-carat-1-se {
  background-position: -48px 0; }

.ui-icon-carat-1-s {
  background-position: -64px 0; }

.ui-icon-carat-1-sw {
  background-position: -80px 0; }

.ui-icon-carat-1-w {
  background-position: -96px 0; }

.ui-icon-carat-1-nw {
  background-position: -112px 0; }

.ui-icon-carat-2-n-s {
  background-position: -128px 0; }

.ui-icon-carat-2-e-w {
  background-position: -144px 0; }

.ui-icon-triangle-1-n {
  background-position: 0 -16px; }

.ui-icon-triangle-1-ne {
  background-position: -16px -16px; }

.ui-icon-triangle-1-e {
  background-position: -32px -16px; }

.ui-icon-triangle-1-se {
  background-position: -48px -16px; }

.ui-icon-triangle-1-s {
  background-position: -64px -16px; }

.ui-icon-triangle-1-sw {
  background-position: -80px -16px; }

.ui-icon-triangle-1-w {
  background-position: -96px -16px; }

.ui-icon-triangle-1-nw {
  background-position: -112px -16px; }

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px; }

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px; }

.ui-icon-arrow-1-n {
  background-position: 0 -32px; }

.ui-icon-arrow-1-ne {
  background-position: -16px -32px; }

.ui-icon-arrow-1-e {
  background-position: -32px -32px; }

.ui-icon-arrow-1-se {
  background-position: -48px -32px; }

.ui-icon-arrow-1-s {
  background-position: -64px -32px; }

.ui-icon-arrow-1-sw {
  background-position: -80px -32px; }

.ui-icon-arrow-1-w {
  background-position: -96px -32px; }

.ui-icon-arrow-1-nw {
  background-position: -112px -32px; }

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px; }

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px; }

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px; }

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px; }

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px; }

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px; }

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px; }

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px; }

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px; }

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px; }

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px; }

.ui-icon-arrow-4 {
  background-position: 0 -80px; }

.ui-icon-arrow-4-diag {
  background-position: -16px -80px; }

.ui-icon-extlink {
  background-position: -32px -80px; }

.ui-icon-newwin {
  background-position: -48px -80px; }

.ui-icon-refresh {
  background-position: -64px -80px; }

.ui-icon-shuffle {
  background-position: -80px -80px; }

.ui-icon-transfer-e-w {
  background-position: -96px -80px; }

.ui-icon-transferthick-e-w {
  background-position: -112px -80px; }

.ui-icon-folder-collapsed {
  background-position: 0 -96px; }

.ui-icon-folder-open {
  background-position: -16px -96px; }

.ui-icon-document {
  background-position: -32px -96px; }

.ui-icon-document-b {
  background-position: -48px -96px; }

.ui-icon-note {
  background-position: -64px -96px; }

.ui-icon-mail-closed {
  background-position: -80px -96px; }

.ui-icon-mail-open {
  background-position: -96px -96px; }

.ui-icon-suitcase {
  background-position: -112px -96px; }

.ui-icon-comment {
  background-position: -128px -96px; }

.ui-icon-person {
  background-position: -144px -96px; }

.ui-icon-print {
  background-position: -160px -96px; }

.ui-icon-trash {
  background-position: -176px -96px; }

.ui-icon-locked {
  background-position: -192px -96px; }

.ui-icon-unlocked {
  background-position: -208px -96px; }

.ui-icon-bookmark {
  background-position: -224px -96px; }

.ui-icon-tag {
  background-position: -240px -96px; }

.ui-icon-home {
  background-position: 0 -112px; }

.ui-icon-flag {
  background-position: -16px -112px; }

.ui-icon-calendar {
  background-position: -32px -112px; }

.ui-icon-cart {
  background-position: -48px -112px; }

.ui-icon-pencil {
  background-position: -64px -112px; }

.ui-icon-clock {
  background-position: -80px -112px; }

.ui-icon-disk {
  background-position: -96px -112px; }

.ui-icon-calculator {
  background-position: -112px -112px; }

.ui-icon-zoomin {
  background-position: -128px -112px; }

.ui-icon-zoomout {
  background-position: -144px -112px; }

.ui-icon-search {
  background-position: -160px -112px; }

.ui-icon-wrench {
  background-position: -176px -112px; }

.ui-icon-gear {
  background-position: -192px -112px; }

.ui-icon-heart {
  background-position: -208px -112px; }

.ui-icon-star {
  background-position: -224px -112px; }

.ui-icon-link {
  background-position: -240px -112px; }

.ui-icon-cancel {
  background-position: 0 -128px; }

.ui-icon-plus {
  background-position: -16px -128px; }

.ui-icon-plusthick {
  background-position: -32px -128px; }

.ui-icon-minus {
  background-position: -48px -128px; }

.ui-icon-minusthick {
  background-position: -64px -128px; }

.ui-icon-close {
  background-position: -80px -128px; }

.ui-icon-closethick {
  background-position: -96px -128px; }

.ui-icon-key {
  background-position: -112px -128px; }

.ui-icon-lightbulb {
  background-position: -128px -128px; }

.ui-icon-scissors {
  background-position: -144px -128px; }

.ui-icon-clipboard {
  background-position: -160px -128px; }

.ui-icon-copy {
  background-position: -176px -128px; }

.ui-icon-contact {
  background-position: -192px -128px; }

.ui-icon-image {
  background-position: -208px -128px; }

.ui-icon-video {
  background-position: -224px -128px; }

.ui-icon-script {
  background-position: -240px -128px; }

.ui-icon-alert {
  background-position: 0 -144px; }

.ui-icon-info {
  background-position: -16px -144px; }

.ui-icon-notice {
  background-position: -32px -144px; }

.ui-icon-help {
  background-position: -48px -144px; }

.ui-icon-check {
  background-position: -64px -144px; }

.ui-icon-bullet {
  background-position: -80px -144px; }

.ui-icon-radio-off {
  background-position: -96px -144px; }

.ui-icon-radio-on {
  background-position: -112px -144px; }

.ui-icon-pin-w {
  background-position: -128px -144px; }

.ui-icon-pin-s {
  background-position: -144px -144px; }

.ui-icon-play {
  background-position: 0 -160px; }

.ui-icon-pause {
  background-position: -16px -160px; }

.ui-icon-seek-next {
  background-position: -32px -160px; }

.ui-icon-seek-prev {
  background-position: -48px -160px; }

.ui-icon-seek-end {
  background-position: -64px -160px; }

.ui-icon-seek-first,
.ui-icon-seek-start {
  background-position: -80px -160px; }

.ui-icon-stop {
  background-position: -96px -160px; }

.ui-icon-eject {
  background-position: -112px -160px; }

.ui-icon-volume-off {
  background-position: -128px -160px; }

.ui-icon-volume-on {
  background-position: -144px -160px; }

.ui-icon-power {
  background-position: 0 -176px; }

.ui-icon-signal-diag {
  background-position: -16px -176px; }

.ui-icon-signal {
  background-position: -32px -176px; }

.ui-icon-battery-0 {
  background-position: -48px -176px; }

.ui-icon-battery-1 {
  background-position: -64px -176px; }

.ui-icon-battery-2 {
  background-position: -80px -176px; }

.ui-icon-battery-3 {
  background-position: -96px -176px; }

.ui-icon-circle-plus {
  background-position: 0 -192px; }

.ui-icon-circle-minus {
  background-position: -16px -192px; }

.ui-icon-circle-close {
  background-position: -32px -192px; }

.ui-icon-circle-triangle-e {
  background-position: -48px -192px; }

.ui-icon-circle-triangle-s {
  background-position: -64px -192px; }

.ui-icon-circle-triangle-w {
  background-position: -80px -192px; }

.ui-icon-circle-triangle-n {
  background-position: -96px -192px; }

.ui-icon-circle-arrow-e {
  background-position: -112px -192px; }

.ui-icon-circle-arrow-s {
  background-position: -128px -192px; }

.ui-icon-circle-arrow-w {
  background-position: -144px -192px; }

.ui-icon-circle-arrow-n {
  background-position: -160px -192px; }

.ui-icon-circle-zoomin {
  background-position: -176px -192px; }

.ui-icon-circle-zoomout {
  background-position: -192px -192px; }

.ui-icon-circle-check {
  background-position: -208px -192px; }

.ui-icon-circlesmall-plus {
  background-position: 0 -208px; }

.ui-icon-circlesmall-minus {
  background-position: -16px -208px; }

.ui-icon-circlesmall-close {
  background-position: -32px -208px; }

.ui-icon-squaresmall-plus {
  background-position: -48px -208px; }

.ui-icon-squaresmall-minus {
  background-position: -64px -208px; }

.ui-icon-squaresmall-close {
  background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px; }

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px; }

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px; }

.ui-widget-overlay {
  background: #eee;
  opacity: .8;
  filter: Alpha(Opacity=80); }

.ui-widget-shadow {
  margin: -4px 0 0 -4px;
  padding: 4px;
  background: #aaa;
  opacity: .6;
  filter: Alpha(Opacity=60);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.ui-resizable {
  position: relative; }

.ui-resizable-handle {
  position: absolute;
  font-size: .1px;
  z-index: 99999;
  display: block; }

.ui-resizable-autohide .ui-resizable-handle,
.ui-resizable-disabled .ui-resizable-handle {
  display: none; }

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0; }

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0; }

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%; }

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%; }

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px; }

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px; }

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px; }

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px; }

.ui-selectable-helper {
  border: 1px dotted #000; }

.ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1; }

.ui-accordion .ui-accordion-li-fix {
  display: inline; }

.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important; }

.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: 0.5em 0.5em 0.5em 0.7em; }

.ui-accordion a {
  zoom: 1; }

.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px; }

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  zoom: 1; }

.ui-accordion .ui-accordion-content-active,
.ui-menu {
  display: block; }

.ui-autocomplete {
  position: absolute;
  cursor: default; }

.ui-autocomplete-loading {
  background: url(/js/images/ui-anim_basic_16x16.gif) right center no-repeat #fff; }

* html .ui-autocomplete {
  width: 1px; }

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0; }

.ui-menu .ui-menu {
  margin-top: -3px; }

.ui-menu .ui-menu-item {
  margin: 0;
  padding: .5em;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%; }

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  zoom: 1;
  font-weight: 400;
  font-size: .9em;
  font-family: CartoGothicStdBook, "Helvetica Neue", Arial, sans-serif; }

.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-hover {
  font-weight: 400;
  margin: -1px; }

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: .1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible; }

.ui-button-icon-only {
  width: 2.2em; }

button.ui-button-icon-only {
  width: 2.4em; }

.ui-button-icons-only {
  width: 3.4em; }

button.ui-button-icons-only {
  width: 3.7em; }

.ui-button .ui-button-text {
  display: block;
  line-height: 1.4; }

.ui-button-text-only .ui-button-text {
  padding: 0.4em 1em; }

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px; }

.ui-button-text-icon .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em; }

.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em; }

input.ui-button {
  padding: 0.4em 1em; }

.ui-button-icon-only .ui-icon,
.ui-button-icons-only .ui-icon,
.ui-button-text-icon .ui-icon,
.ui-button-text-icons .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px; }

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px; }

.ui-button-icons-only .ui-button-icon-primary,
.ui-button-text-icon .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary {
  left: 0.5em; }

.ui-button-icons-only .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary {
  right: 0.5em; }

.ui-buttonset {
  margin-right: 7px; }

.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.ui-dialog {
  position: absolute;
  padding: .2em;
  width: 300px;
  overflow: hidden; }

.ui-dialog .ui-dialog-titlebar {
  padding: .5em 1em .3em;
  position: relative; }

.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.1em 16px 0.2em 0; }

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 19px;
  margin: -10px 0 0;
  padding: 1px;
  height: 18px; }

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px; }

.ui-dialog .ui-dialog-titlebar-close:focus,
.ui-dialog .ui-dialog-titlebar-close:hover {
  padding: 0; }

.ui-dialog .ui-dialog-content {
  border: 0;
  padding: .5em 1em;
  background: 0 0;
  overflow: auto;
  zoom: 1; }

.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0;
  background-image: none;
  margin: .5em 0 0;
  padding: 0.3em 1em 0.5em 0.4em; }

.ui-dialog .ui-dialog-buttonpane button {
  float: right;
  margin: .5em .4em .5em 0;
  cursor: pointer;
  padding: .2em .6em .3em;
  line-height: 1.4em;
  width: auto;
  overflow: visible; }

.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px; }

.ui-draggable .ui-dialog-titlebar {
  cursor: move; }

.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

.ui-slider-horizontal {
  height: 0.8em; }

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -0.6em; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -0.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

.ui-tabs {
  padding: 0;
  zoom: 1; }

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0; }

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  top: 1px;
  margin: 0;
  border-bottom: 0 !important;
  padding: 0;
  white-space: nowrap; }

.ui-tabs .ui-tabs-nav li a {
  padding: 0;
  text-decoration: none; }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  margin-bottom: 0;
  padding-bottom: 1px;
  background: #FFF; }

.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  cursor: text; }

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer; }

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 0;
  background: 0 0; }

.ui-tabs .ui-tabs-hide {
  position: absolute;
  left: -10000px; }

.ui-datepicker {
  width: 220px;
  padding: 0; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.1em 0; }

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover {
  top: 1px; }

.ui-datepicker .ui-datepicker-prev {
  left: 2px; }

.ui-datepicker .ui-datepicker-next {
  right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px; }

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker table {
  width: 220px;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: 700;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px;
  text-align: center; }

.ui-datepicker td a,
.ui-datepicker td span {
  display: block;
  padding: .2em;
  text-decoration: none; }

.ui-datepicker td a.ui-state-default,
.ui-datepicker td span.ui-state-default {
  border: 0;
  background: #FFF; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-multi .ui-datepicker-group,
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%; }

.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-datepicker-cover {
  display: none;
  display: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 200px;
  height: 200px; }

.ui-progressbar {
  height: 2em;
  text-align: left; }

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%; }

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px; }

* html .ui-autocomplete {
  height: 300px; }

.ui-menu {
  top: 0 !important;
  width: 100% !important; }

.ui-widget-content {
  border: initial;
  border-top: solid 1px rgba(0, 0, 0, 0.6); }

.ui-autocomplete-category {
  padding: .5em;
  color: #bbb;
  letter-spacing: 1px;
  font-size: .875em; }

.ui-menu-item {
  cursor: pointer; }
  .ui-menu-item:hover {
    background: #f0f0f0; }

@media print {
  #header,
  #nav {
    display: none; }

  #dashboard {
    padding-left: 0; }

  .page-headers {
    display: none; }

  .form-with-actions {
    padding: 0;
    margin: 0; }

  .form__field {
    margin: 0; }

  .row,
  .orders-list .header-row {
    box-shadow: none;
    margin-bottom: 0; }

  .form-actions {
    display: none; } }
/*------------------------------------*\
    #FONTS
\*------------------------------------*/
body {
  font: normal 16px/1.5625 -apple-system, BlinkMacSystemFont, San Francisco, "Roboto", Roboto, Segoe UI, Helvetica Neue, "Source Sans Pro", "Helvetica", Arial, sans-serif;
  color: #666; }

h1,
h2,
h3,
h4,
h5,
input,
button,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, "Roboto", Roboto, Segoe UI, Helvetica Neue, "Source Sans Pro", "Helvetica", Arial, sans-serif;
  color: #2d3b42; }

/*------------------------------------*\
    #STANDARD
\*------------------------------------*/
body {
  background: #f6f6f5; }

a {
  color: #2dbbe9; }

.inner {
  width: 94%;
  max-width: 90em;
  margin: 0 auto; }

.wrap, .file-box, .gallery-list,
.files-list, .gallery-list li,
.files-list li {
  float: left;
  width: 100%; }

.required {
  color: #e74035;
  font-weight: 300; }

#page-wrap {
  min-width: 320px; }

p {
  margin: 0 0 1em 0; }

.button {
  background: #08cd92;
  border: 1px #08cd92 solid;
  color: #fff !important;
  padding: .825em 1em;
  border-radius: 4px;
  display: inline-block;
  font-weight: 500; }

.button:hover {
  background: #09e6a3;
  color: #fff !important; }

.button .fa {
  opacity: .75;
  margin-right: .25em; }

.button:hover .fa {
  opacity: 1; }

.button--outlined {
  border: 1px #2d3b42 solid;
  color: #2d3b42 !important;
  background: none; }

/*------------------------------------*\
    #LOGIN
\*------------------------------------*/
.cms-login {
  height: 100vh;
  background: #e8e8e5;
  display: flex;
  align-items: center;
  justify-content: center; }
  .cms-login__inner {
    max-width: 400px; }
  .cms-login__logo {
    text-align: center;
    padding-bottom: 1em;
    animation: fadeInUp 1s both .25s; }
    .cms-login__logo img {
      max-width: 200px; }
  .cms-login__error {
    color: #e74035;
    text-align: center; }
  .cms-login__form {
    border: 1px #f6f6f5 solid;
    background: #fff;
    border-radius: 4px;
    padding: 2em;
    animation: fadeIn 1s both .25s;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.125); }
    .cms-login__form__input {
      width: 100%;
      padding: 2.5em 1em 1em .75em !important;
      border: 1px rgba(45, 59, 66, 0.2) solid; }
      .cms-login__form__input.error {
        border: 2px solid #e74035; }
    .cms-login__form__field {
      margin: 1em 0;
      position: relative; }
      .cms-login__form__field label.error {
        display: block;
        color: #e74035;
        font-weight: bold;
        top: .7em;
        right: 1em;
        left: auto;
        width: auto; }
    .cms-login__form__label {
      position: absolute;
      pointer-events: none;
      font-size: .875em;
      top: .75em;
      left: 1.125em;
      color: #2d3b42;
      width: 100%;
      transition: all ease 0.5s;
      z-index: 99; }
    .cms-login__form__label .fa {
      margin-right: .25em;
      color: #2d3b42; }
    .cms-login__form__button {
      padding: 1em 2em; }
    .cms-login__form__input:-webkit-autofill {
      background: #f6f6f5; }

.password-wrapper {
  position: relative;
  margin-bottom: 1em; }

button#toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  padding: .5rem .75rem;
  position: absolute;
  top: 2px;
  right: 2px; }

button#toggle-password:focus {
  outline: none;
  box-shadow: none; }

.need_help {
  float: right;
  margin-top: 1em; }

@media screen and (max-height: 440px) {
  .cms-login {
    display: block;
    height: auto;
    padding: 2rem 0; } }
/*------------------------------------*\
    #HEADER / NAV
\*------------------------------------*/
#nav-toggle {
  display: none; }

#header {
  float: left;
  width: 80px;
  background: #2d3b42;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center; }

.header__logo {
  float: left;
  padding: 0 1.5em;
  margin: 1em 0; }

.header__link {
  float: left;
  width: 100%;
  color: #fff;
  padding: .5em;
  margin: .125em 0; }
  .header__link .fa {
    font-size: 1.5em; }
  .header__link b {
    font-weight: 400;
    text-transform: uppercase;
    font-size: .6em;
    opacity: 0;
    display: block; }
  .header__link:hover b {
    opacity: 1; }

.header__link--signout {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  padding-top: .75em; }
  .header__link--signout b {
    opacity: 1; }

.header__link--signout:hover {
  background: #e74035; }

.dev-site-notice {
  text-transform: uppercase;
  font-size: 9px;
  line-height: 1.5;
  padding-top: 11px;
  text-align: center;
  margin: 1.5em 0 0 0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.325);
  display: inline-block; }

.nav-toggle {
  display: none; }

#nav {
  float: left;
  width: 220px;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 80px; }

#nav:before {
  width: 220px;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 80px;
  content: '';
  z-index: 7; }

#nav:before {
  background: #263237; }

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0 .5em;
  width: 220px;
  z-index: 8; }

@media screen and (min-height: 680px) {
  .main-nav {
    position: fixed;
    left: 80px; } }
.main-nav-grouping {
  margin: 1em 0;
  border-bottom: 1px #ccc solid;
  padding-bottom: 1em; }

.main-nav-grouping:first-child {
  margin-top: 0; }

.main-nav-grouping span {
  padding: .5em 0;
  display: block;
  font-weight: 500; }

#nav .fa-angle-down {
  display: none; }

.nav__item {
  margin: .25em 0; }
  .nav__item__group {
    margin: .5em 0; }

.nav__item .fa {
  color: rgba(255, 255, 255, 0.25);
  width: 30px;
  text-align: center;
  font-weight: 300;
  font-size: .9em; }
  .nav__item .fa.fa-caret-down, .nav__item .fa.fa-caret-up {
    float: right;
    width: auto;
    margin-top: .375rem;
    color: #2dbbe9; }

.nav__link {
  color: white;
  padding: .575em .375em .575em .125em;
  display: block;
  font-weight: 300;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer; }

.nav__link:hover {
  color: #2dbbe9; }

.nav__item.active .nav__link {
  font-weight: 500;
  color: white; }

.nav__item.active .fa {
  color: #2dbbe9; }

.nav__item__title {
  color: white;
  padding: .575em .75em;
  display: block;
  font-weight: 300;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.075);
  background: rgba(255, 255, 255, 0.2);
  background: -moz-linear-gradient("top", rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.075) 100%);
  background: -webkit-linear-gradient("top", rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.075) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.075) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=0); }
  .nav__item__title.active {
    border-radius: 4px 4px 0 0;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px rgba(255, 255, 255, 0.1) dashed; }

.nav__item__title.active, .sub-nav {
  background: rgba(255, 255, 255, 0.1); }

.sub-nav {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: .25em;
  border-radius: 0 0 4px 4px; }
  .sub-nav .nav__item {
    margin: 0; }

footer {
  display: none; }

/*------------------------------------*\
    #DASHBOARD
\*------------------------------------*/
#dashboard {
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 0 298px;
  z-index: 1;
  min-height: 100vh;
  background-color: #f6f6f5; }

.dashboard-box {
  float: left;
  width: 100%;
  padding-top: 18em;
  background: #f6f6f5 url(/admin/images/dominik-schroder-14534.jpg) no-repeat top center;
  background-size: 100%; }

.dev-site .dashboard-box {
  background-image: url(/admin/images/pixel-dominik-schroder-14534.jpg); }

.dashboard-pad {
  float: left;
  width: 100%;
  padding: 1em 2.25em; }

.welcome {
  margin: 0 0 .625em 0; }
  .welcome__logo {
    float: left;
    text-align: center;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 1em;
    margin-top: -.625em; }
  .welcome__title {
    color: #2d3b42;
    font-size: 1.875em;
    line-height: 1.2;
    padding-top: .075em;
    font-weight: 300; }
  .welcome__text {
    font-size: 1.3em;
    margin-top: .25em; }

.last-updated {
  margin-bottom: 3%;
  margin-top: 1em;
  padding: 0; }
  .last-updated .row {
    padding-right: 1em; }

.last-updated__title {
  padding: 1em 1.25em;
  margin: 0;
  background: #2d3b42;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  font-weight: 500; }

/*------------------------------------*\
    #PAGE HEADERS
\*------------------------------------*/
.page-headers {
  float: left;
  width: 100%;
  padding: 1em 2.25em; }
  .page-headers__title {
    float: left;
    font-size: 1.875em;
    line-height: 1.2;
    padding-top: .075em;
    font-weight: 300;
    color: #999; }
    .page-headers__title .fa {
      margin-right: .125em;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 60px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 30px;
      color: #fff;
      text-align: center; }
    .page-headers__title .fa-angle-right {
      background: none;
      color: #dededa;
      width: 16px;
      margin-left: 4px; }
    .page-headers__title__parentlink {
      display: inline-block; }
      .page-headers__title__parentlink a:hover {
        text-decoration: underline; }
  .page-headers .button {
    float: right;
    margin-left: 1em;
    margin-top: .625em;
    font-size: .875rem; }

.form-with-actions {
  max-width: 1300px; }

/*------------------------------------*\
    #ROWS
\*------------------------------------*/
.row {
  float: right;
  width: 100%;
  background: #fff;
  color: #2d3b42;
  padding: .4em 0 .675em 1em;
  margin: .5rem 0 0 0;
  border-radius: 4px;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.075); }

.row-draft {
  background: none !important;
  box-shadow: none; }

.row__title {
  padding: .25em 19em .125em 0;
  line-height: 1.2;
  position: relative; }
  .row__title__lastupdated {
    display: block;
    font-style: normal;
    font-size: .875em;
    color: #999;
    padding-top: .25em; }
  .row__title__type {
    background: #f6f6f5;
    color: #95958a;
    text-transform: uppercase;
    padding: .2em .3em;
    font-size: .75em;
    display: inline-block;
    margin-right: .25em; }
  .row__title__name {
    font-size: 1.25em;
    line-height: 1.25;
    font-weight: 500;
    display: inline-block;
    margin: .125rem 0;
    color: #2d3b42; }
  .row__title__slug {
    font-size: .875em;
    color: rgba(45, 59, 66, 0.675);
    display: inline-block; }

.row__status {
  width: 80px;
  float: right;
  text-align: center;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  text-transform: capitalize;
  font-size: .875rem;
  color: #999; }

.row__actions {
  position: absolute;
  top: .825rem;
  right: 6.25rem;
  margin-right: 0; }
  .row__actions .button {
    font-size: .875rem;
    margin-left: .5rem; }
  .row__actions .button--edit {
    color: #08cd92 !important; }
  .row__actions .button--delete {
    color: #e74035 !important; }
  .row__actions .button--edit,
  .row__actions .button--delete {
    background: none !important;
    border: 0; }
  .row__actions .button--delete:hover {
    color: #e74035 !important; }

.ir-2 {
  width: 98.5%;
  border-color: #ff9800; }

.ir-3 {
  width: 97%;
  border-color: #ffec19; }

.ir-4 {
  width: 95.5%;
  border-color: #2AF598; }

.ir-5 {
  width: 94%;
  border-color: #08B3E5; }

.menu-section {
  font-size: larger;
  font-weight: bold;
  margin-top: 1em; }

.ingredients.tag-input-boxes,
.veg-ingredients.tag-input-boxes,
.vegan-ingredients.tag-input-boxes,
.gf-ingredients.tag-input-boxes,
.df-ingredients.tag-input-boxes {
  border-top: 1px solid #ccc; }

.ingredients__list {
  border-top: 1px solid #ccc; }

label.tag-input-box.false:hover {
  background-color: unset !important; }

label.tag-input-box.false {
  cursor: default; }

/*------------------------------------*\
    #FORM STYLES
\*------------------------------------*/
.form-actions {
  float: left;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  box-shadow: none;
  clear: both;
  padding: 1em;
  transition: background .3s linear;
  pointer-events: none; }

.form-actions.visible {
  pointer-events: auto;
  background: #18b2e5;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5), 0px -20px 20px rgba(0, 0, 0, 0.15) inset; }

.form-actions .msg {
  float: left;
  padding: 0 1em 0 300px; }

.form-actions .change-alert {
  opacity: 0; }

.form-actions.visible .change-alert {
  opacity: 1; }

.form-actions .msg b {
  color: #fff; }

.form-actions .msg .fa {
  background: #ffd42a;
  color: #2d3b42;
  font-size: .625em;
  padding: .25m;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  margin-right: .5em; }

.form-actions .action-note {
  font-size: .875em;
  display: none; }

.form-actions .action-note b {
  color: #333; }

.form-actions__save {
  pointer-events: auto;
  float: right;
  background: #08cd92;
  color: #fff;
  position: absolute;
  bottom: 1em;
  right: 2em;
  font-weight: 500;
  font-size: 1.3em;
  padding: .875em 1em;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }

.form-actions__save .fa {
  margin-right: .25em; }

.form-actions__save:hover {
  background: #12f6b2; }

.form-with-actions {
  margin-top: 1em;
  margin-bottom: 4em;
  padding: 1em 2.25em; }

.form__group {
  float: left;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.075); }
  .form__group__legend {
    font-size: 1.2em;
    margin-bottom: .5em;
    color: #2d3b42;
    font-weight: 500;
    width: 100%;
    background: #fdfdfd;
    border-bottom: 1px #f6f6f5 solid;
    padding: .75em 1em;
    border-radius: 4px 4px 0 0; }

.form__select {
  display: block;
  line-height: 1.3;
  padding: .6em 1.4em .6em .8em;
  width: auto;
  max-width: 70%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%; }
.form__select::-ms-expand {
  display: none; }
.form__select:hover {
  border-color: #888; }
.form__select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none; }
.form__select option {
  font-weight: normal; }
.form__select.error {
  border-color: #e74035; }

#parent-page-select {
  float: right;
  width: 100%;
  background: #eeeeec;
  border-radius: 4px;
  padding: 1.5rem;
  max-width: 300px;
  margin: 1.5rem 0 1rem 0; }
  #parent-page-select .form__select {
    max-width: 100%;
    margin: .5rem  0; }

.frm_latlong .button, .frm_getpass .button {
  float: right;
  margin: .5em 0 0 0;
  font-size: .875em; }

.form__field {
  float: left;
  width: 100%;
  clear: both;
  margin: 1em 0;
  position: relative;
  padding: 0 1.5em; }
  .form__field__label {
    float: left;
    width: 30%;
    padding: .75em;
    padding-right: 2.5%;
    color: #777;
    text-align: right;
    font-size: 1em;
    line-height: normal;
    vertical-align: middle; }
  .form__field__input, .form__field__textarea {
    width: 70%; }
    .form__field__input.error, .form__field__textarea.error {
      border: 2px solid #e74035; }
  .form__field__textarea {
    height: 300px; }
  .form__field label.error {
    display: block;
    color: #e74035;
    font-weight: bold;
    margin-left: 30%; }

.seo-content .form__field__textarea {
  height: 90px;
  min-height: auto; }

.seo-content {
  padding: 0 1.25rem 1.25rem 1.25rem; }
  .seo-content__preview {
    border: 1px #eaeae8 solid;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
    padding: 1rem;
    margin-top: .5rem; }
    .seo-content__preview__metaurl {
      color: #202124;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif; }
    .seo-content__preview__metatitle {
      color: #1a0dab;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      margin: .125rem 0; }
    .seo-content__preview__metadescription {
      color: #4d5156;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif; }

.seo-toggle {
  position: absolute;
  top: 1.125rem;
  right: 1.25rem;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  color: #2dbbe9; }

.seo-toggle b {
  font-weight: normal; }

.seo-toggle .fa {
  opacity: .5;
  margin-left: .5rem; }

.seo-toggle-content {
  display: none;
  padding: 1em 1em 0 1em; }

/*------------------------------------*\
    #ADMIN HELP
\*------------------------------------*/
.admin-help {
  font-size: 1em;
  color: #999;
  border-bottom: 1px #999 dashed;
  position: absolute;
  top: .75em;
  right: 2.25em; }

.admin-help .fa {
  opacity: .5; }

.admin-help:hover {
  color: #2dbbe9;
  border-bottom-color: #2dbbe9; }

/*------------------------------------*\
    #TAGS
\*------------------------------------*/
.tag-input-box-wrap {
  width: 70%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear .2s, box-shadow linear .2s;
  display: inline-block;
  padding: 0; }
  .tag-input-box-wrap .tags {
    float: left;
    width: 100%;
    padding-bottom: .3em;
    border-bottom: 1px solid #ccc; }
    .tag-input-box-wrap .tags:empty {
      border-bottom: none;
      padding-bottom: 0; }
    .tag-input-box-wrap .tags span {
      display: block;
      float: left;
      margin: .25em .25em 0 .25em;
      padding: .3em .5em;
      border-radius: 3px;
      background-color: #ff8080;
      color: #fff;
      white-space: nowrap; }
      .tag-input-box-wrap .tags span .fa-times {
        cursor: pointer; }
  .tag-input-box-wrap input[type="text"] {
    width: 100% !important;
    display: block;
    border: none;
    box-shadow: none;
    background: none; }
    .tag-input-box-wrap input[type="text"]:focus {
      outline: none;
      box-shadow: none; }
  .tag-input-box-wrap .tag-error {
    padding: 0 1em;
    background: #ff8080;
    color: #fff; }
  @media screen and (max-width: 740px) {
    .tag-input-box-wrap {
      width: 100%; } }

.tag-input-boxes {
  max-height: 300px;
  overflow-y: scroll; }

label.tag-input-box {
  float: left;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #f6f6f5;
  cursor: pointer; }
  label.tag-input-box:last-child {
    border-bottom: none; }
  label.tag-input-box:hover {
    background-color: #f2f2f2; }
  label.tag-input-box input {
    display: none; }
  label.tag-input-box i {
    width: 1em; }
  label.tag-input-box .fa-square-o {
    display: inline-block; }
  label.tag-input-box .fa-check-square-o {
    display: none; }
  label.tag-input-box input:checked ~ .fa-square-o {
    display: none; }
  label.tag-input-box input:checked ~ .fa-check-square-o {
    display: inline-block;
    color: #08cd92; }

/*------------------------------------*\
    #IMAGE LIBRARY & FILE MANAGER
\*------------------------------------*/
/*.rsi-pop { z-index: 3; text-align: center; padding: .5em; border: 10px solid #fff; position: absolute; top:-1em; right: .5em; width: 100%; max-width: 450px; background: #efefef; box-shadow:0px 0px 6px rgba(0,0,0,.25); animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both; transform: translate3d(0, 0, 0); backface-visibility: hidden; perspective: 1000px; }
.rsi-pop h3 { padding: 0 1em; font-size: 1.1em; clear: both; }
.rsi-pop button { float: none; clear: none; margin: .5em; }*/
.rsi-pop .button--cancel {
  border: 1px solid #ccc;
  background: #ccc; }

.rsi-pop .button--cancel:hover {
  background: #d4d4d4; }

.uploader-image-note {
  padding: .5em 1em 1em 1em; }

.current-image {
  margin: 0;
  padding: .5em 1.5em 1.5em 1.5em;
  position: relative;
  display: flex; }

.current-image .pad {
  display: flex; }

.current-image__image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 57%;
  margin-right: 3%;
  border: 10px white solid;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"); }

.current-image__details {
  float: left;
  width: 40%;
  padding: 1.5em;
  background: #f9f9f9;
  overflow-wrap: break-word;
  border: 1px #ddd solid; }
  .current-image__details b {
    color: #2d3b42; }

.current-image .delete {
  margin: 0;
  font-size: .75em; }

.update-image {
  font-size: 1em;
  color: #2d3b42;
  font-weight: normal;
  width: 100%;
  border: 1px #ddd solid;
  border-left: 0;
  border-right: 0;
  background: #fff;
  padding: .75em 1.25em; }

.update-image p {
  margin: 0; }

.current-image .rsi-pop {
  top: -1em;
  right: -1em; }

@media screen and (max-width: 600px) {
  .current-image .pad {
    display: block; }

  .current-image__image {
    float: left;
    width: 100%;
    max-width: 100%;
    margin: 0; }

  .current-image__details {
    float: left;
    width: 100%;
    margin-top: .5em; } }
.image-sorting {
  float: right;
  margin-top: 1.25rem;
  margin-right: 200px; }

.image_library_modal .image-sorting {
  margin-right: 300px; }

.image-sorting__title, .image-sorting__option {
  display: inline-block; }

.image-sorting__option {
  position: relative; }

.image-sorting__option__radio {
  position: absolute;
  visibility: hidden; }

.image-sorting__title {
  margin-right: 1rem;
  font-weight: bold; }

.image-sorting__option__label {
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  padding-left: 30px;
  margin-right: 1rem;
  position: relative; }

.image-sorting__option__fancyradio {
  display: block;
  position: absolute;
  border: 4px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }

.image-sorting__option__fancyradio::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 13px;
  width: 13px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear; }

.image-sorting__option:hover .image-sorting__option__fancyradio {
  border-color: black; }

input[type=radio]:checked ~ .image-sorting__option__fancyradio {
  border-color: #08cd92; }

input[type=radio]:checked ~ .image-sorting__option__fancyradio::before {
  background: #08cd92; }

input[type=radio]:checked ~ .image-sorting__option__label {
  color: #08cd92; }

#file-manager, #image-library {
  position: relative; }

.image_library_bg,
.file_manager_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  background-color: rgba(20, 20, 20, 0.7); }

.image_library_modal,
.file_manager_modal {
  display: none;
  position: fixed;
  top: 2em;
  left: 2em;
  bottom: 2em;
  right: 2em;
  z-index: 100001;
  background-color: #f0f0f0; }
  .image_library_modal .image-library-wrap,
  .image_library_modal .file-manager-wrap,
  .file_manager_modal .image-library-wrap,
  .file_manager_modal .file-manager-wrap {
    height: 100%;
    overflow: hidden; }
  .image_library_modal h1,
  .file_manager_modal h1 {
    font-size: 2em;
    line-height: 1.2; }

#file-manager h1 .fa,
#image-library h1 .fa {
  background: rgba(0, 0, 0, 0.1);
  margin-right: .125em;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: #fff;
  text-align: center; }

.close-btn {
  display: inline-block;
  background: #f00;
  color: #fff;
  padding: .3em .7em;
  border-radius: 5px;
  margin-left: 2em; }

.image-library-nav,
.file-manager-nav {
  position: absolute;
  top: 1.5em;
  right: 2.25em; }

.image-library-nav a,
.file-manager-nav a {
  float: left;
  padding: .75em 1em;
  font-size: .875em; }

.image-library-nav a.active,
.file-manager-nav a.active {
  display: block; }

.image-library-tab,
.file-manager-tab {
  display: none;
  height: 100%; }

.image-library-tab.active,
.file-manager-tab.active {
  display: block; }

.image-library-tab.upload input[type="file"],
.file-manager-tab.upload input[type="file"] {
  display: none; }

.image-library-tab.manage .tab-content,
.file-manager-tab.manage .tab-content {
  height: calc(100% - 116px);
  overflow-y: scroll;
  position: relative;
  padding-bottom: 3em; }
  .image-library-tab.manage .tab-content.normal-overflow,
  .file-manager-tab.manage .tab-content.normal-overflow {
    height: auto;
    overflow-y: auto; }
  .image-library-tab.manage .tab-content .tab-inner,
  .file-manager-tab.manage .tab-content .tab-inner {
    height: 100%; }

.file-manager-tab.manage .tab-content .tab-inner {
  background: #fff;
  padding: 1em; }

.tab-content {
  padding: 1.5% 2% 1em 2%; }

.image_uploader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em; }

.image_uploader_wrap {
  padding: 1.5em; }

.file_uploader__group {
  padding: 1.5em; }

#image_uploader_progress,
#file_uploader_progress {
  width: 100%;
  height: 10px;
  background: #efefef;
  overflow: hidden; }
  #image_uploader_progress span,
  #file_uploader_progress span {
    display: block;
    width: 0;
    height: 10px;
    transition: all 0.2s linear; }
    #image_uploader_progress span.processing,
    #file_uploader_progress span.processing {
      background: #f7e999; }
    #image_uploader_progress span.done,
    #file_uploader_progress span.done {
      background: #08cd92; }

.image_progress_details,
.file_progress_details {
  padding-top: .5em;
  opacity: 0;
  transition: opacity 0.2s linear; }

.image_uploader[data-step="2"],
.file_uploader[data-step="2"] {
  display: none; }

.image_upload_button, .image_save_btn {
  float: right; }

.image-type-filters {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-top: 1em; }

.image-type-filters a {
  padding: 1em .5em;
  display: inline-block; }

.image-box {
  width: 14vw;
  height: 12vw;
  padding: 0 1em;
  margin: .5vw .5vw .5vw .5vw;
  text-align: center;
  float: left;
  cursor: pointer;
  background: #fff;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.125);
  border: 1em #fff solid !important;
  border-top-width: 3.5em !important;
  border-bottom-width: 1em !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 3; }

.image-box::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"); }

.image-box-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.image-box .fa-file-pdf-o, .image-box .fa-file-doc-o {
  display: inline-block;
  background: #c30b15;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
  margin: .5em 0 0 0; }

.image-box .fa-file-doc-o {
  background-color: #295595; }

.image-box span {
  display: block;
  padding: 1.5em 1em 1em 1em;
  border: 1px #ddd solid;
  margin-top: -1em; }

.image-box p {
  position: absolute;
  top: -2.675em;
  left: 0;
  background: #fff;
  color: #000;
  width: 100%;
  text-align: center;
  box-sizing: content-box;
  margin: 0;
  font-size: .875em;
  line-height: 1.2; }

.image-box strong {
  background: orange;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: 2px;
  display: inline-block;
  font-size: 11px; }

.file-box {
  line-height: 1.3;
  padding: .8em 1em .8em 0;
  position: relative;
  border: 1px solid #f0f0f0;
  border-top: 0; }
  .file-box:first-child {
    border-top: 1px solid #f0f0f0; }
  .file-box:nth-child(odd) {
    background: #f6f6f6; }
  .file-box .button--cancel {
    background: #babab2;
    border-color: #babab2;
    color: #2d3b42; }
  .file-box .file-box-icon {
    width: 10%;
    margin-left: 0;
    max-width: 80px;
    padding: .2em 1em 0;
    text-align: center; }
    .file-box .file-box-icon .fa {
      display: inline-block;
      background: #2d3b42;
      color: #fff;
      border-radius: 50px;
      line-height: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 1.2em; }
    .file-box .file-box-icon .fa-file-pdf-o {
      background: #c30b15; }
    .file-box .file-box-icon .fa-file-word-o {
      background: #295595; }
    .file-box .file-box-icon .fa-file-excel-o {
      background: #008a00; }
  .file-box .file-box-details {
    width: 60%;
    margin-left: 0%;
    position: relative; }
    .file-box .file-box-details .file-box-title {
      color: #2d3b42;
      display: block;
      font-size: 1.2em;
      line-height: 1.3;
      font-weight: bold; }
  .file-box .file-box-size {
    width: 10%;
    margin-left: 0%;
    padding-top: 1em; }
  .file-box .file-box-actions {
    float: right; }
    .file-box .file-box-actions button:first-child {
      margin-right: 1em; }
    .file-box .file-box-actions .button--delete {
      background: #e74035;
      border-color: #e74035; }

.image-editor {
  width: calc(100% - 4em);
  position: fixed;
  top: 2em;
  left: 100%;
  bottom: 2em;
  overflow: hidden;
  transition: left .3s linear; }
  .image-editor.full-height {
    width: calc(100%);
    /*top:3.575em; */
    top: 0;
    bottom: 0; }
  .image-editor .image-editor-inner {
    width: 50%;
    height: 100%;
    position: relative;
    padding: 2em;
    float: right;
    background: #f0f0f0;
    box-shadow: -100px 0px 100px rgba(0, 0, 0, 0.2); }
    .image-editor .image-editor-inner .image-editor-details {
      height: calc(100% - 2em);
      overflow-y: scroll; }
    .image-editor .image-editor-inner .confirm-image-delete {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f0f0f0; }
      .image-editor .image-editor-inner .confirm-image-delete .confirm-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        text-align: center; }
        .image-editor .image-editor-inner .confirm-image-delete .confirm-inner #cancel-image-delete {
          background: #ccc;
          border-color: #ccc;
          margin-right: 1em; }
        .image-editor .image-editor-inner .confirm-image-delete .confirm-inner #cancel-image-delete:hover {
          background: #d4d4d4; }
  .image-editor .image-editor-bg {
    width: 50%;
    height: 100%;
    float: left; }
  .image-editor.open {
    left: 2em; }
  .image-editor.open.full-height {
    left: 0; }
  .image-editor .image-details-preview {
    height: 100%;
    max-height: 40%;
    border: 20px #fff solid;
    background: #fff;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
  .image-editor .image-details-text {
    padding: 1em 0;
    text-align: center; }
  .image-editor .image-details-text h2, .image-editor .image-detail-snippet {
    display: inline-block;
    margin: 0 .5em;
    padding-right: 1em;
    border-right: 1px rgba(0, 0, 0, 0.125) solid; }
  .image-editor .image-detail-snippet:last-child {
    border-right: 0; }
  .image-editor .image-detail-snippet b {
    color: #2d3b42; }
  .image-editor .frm_section {
    width: 100%;
    margin-bottom: 0; }
    .image-editor .frm_section label {
      width: 20%; }
    .image-editor .frm_section input {
      width: 80%; }

.image-update-msg,
.file-update-msg {
  padding: 1em;
  color: #fff;
  text-align: center; }
  .image-update-msg.success,
  .file-update-msg.success {
    background: #08cd92; }
  .image-update-msg.error,
  .file-update-msg.error {
    background: #e74035; }

.image-details-fields {
  float: left;
  width: 100%;
  background: #fff;
  border-radius: 4px; }

.image-details-options,
.file-details-options {
  text-align: right;
  padding: 1em 0 0 0; }
  .image-details-options button,
  .file-details-options button {
    float: right;
    margin: 0 0 0 .2em;
    clear: none; }
    .image-details-options button#cancel-image, .image-details-options button#cancel-file,
    .file-details-options button#cancel-image,
    .file-details-options button#cancel-file {
      float: left;
      margin: 0;
      background: #ccc;
      border-color: #ccc;
      font-weight: 400; }
    .image-details-options button#cancel-image:hover, .image-details-options button#cancel-file:hover,
    .file-details-options button#cancel-image:hover,
    .file-details-options button#cancel-file:hover {
      background: #d4d4d4; }
    .image-details-options button#delete-image, .image-details-options button#delete-file,
    .file-details-options button#delete-image,
    .file-details-options button#delete-file {
      float: left;
      margin: 0 0 0 .5em; }
  .image-details-options .button--delete,
  .file-details-options .button--delete {
    background: #fff;
    border-color: #fff;
    color: #e74035 !important; }

.file-editor {
  display: none;
  text-align: right; }
  .file-editor input {
    width: 100%;
    max-width: 300px;
    margin: 0 1em; }
  .file-editor button:last-child {
    margin-left: 1em; }
  .file-editor button.cancel {
    background: #ccc;
    border: 1px solid #ccc; }
  .file-editor button.cancel:hover {
    background: #d4d4d4; }

/*------------------------------------*\
    #ALERTS
\*------------------------------------*/
.alert {
  float: left;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #000;
  color: #fff;
  padding: 1.675rem;
  padding-left: 10%;
  font-size: 1.25em;
  text-align: center;
  z-index: 999; }

.alert.success {
  background-color: #08cd92;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.alert.error {
  background-color: #e74035; }

/*------------------------------------*\
    #FANCYBOX
\*------------------------------------*/
.fancybox-inner .button--delete {
  background: #fff;
  border-color: #fff;
  color: #e74035 !important;
  float: right; }
  .fancybox-inner .button--delete:hover {
    background: #e74035 !important;
    border-color: #e74035 !important;
    color: #fff !important; }

.fancybox-overlay {
  position: relative; }

.fancybox-overlay:after {
  position: absolute;
  bottom: 2em;
  right: 50%;
  margin-right: -40px;
  background: #999;
  color: #fff;
  float: right;
  border-radius: 80px;
  line-height: 80px;
  width: 80px;
  height: 80px;
  text-align: center;
  content: "\f00d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 3em;
  z-index: 999;
  cursor: pointer; }

/*------------------------------------*\
    #POPUP
\*------------------------------------*/
.rsi-pop {
  z-index: 3;
  text-align: center;
  padding: 1rem;
  border: 10px solid #fff;
  position: absolute;
  top: -1em;
  right: .5em;
  width: 100%;
  max-width: 450px;
  background: #efefef;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

.rsi-pop h3 {
  padding: 0 1rem 1rem 1rem;
  font-size: 1.3em;
  clear: both; }

.rsi-pop button {
  float: none;
  clear: none;
  margin: .5em; }

.rsi-pop button.cancel {
  border: 1px solid #ccc;
  background: #ccc; }

.rsi-pop button.cancel:hover {
  background: #d4d4d4; }

@keyframes shake {
  10%,
	90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
	80% {
    transform: translate3d(2px, 0, 0); }
  30%,
	50%,
	70% {
    transform: translate3d(-3px, 0, 0); }
  40%,
	60% {
    transform: translate3d(3px, 0, 0); } }
/*------------------------------------*\
    #Image Gallery & File Selector
\*------------------------------------*/
.image-options, .file-options {
  float: left;
  width: 100%;
  padding: 1.5rem; }

.image-option,
.file-option {
  display: block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  width: 48.5%;
  margin-left: 3%;
  padding: 1em;
  background: #f6f6f5;
  border-radius: 4px; }
  .image-option:nth-child(1n+1),
  .file-option:nth-child(1n+1) {
    margin-left: 3%;
    clear: none; }
  .image-option:nth-child(2n+1),
  .file-option:nth-child(2n+1) {
    margin-left: 0;
    clear: both; }
  .image-option b,
  .file-option b {
    font-size: 1.125em;
    margin: .5em 0 0 0;
    float: left;
    color: #2d3b42; }
  .image-option .button,
  .file-option .button {
    float: right;
    margin: 0 !important; }
  .image-option .upload-image,
  .file-option .upload-image {
    margin-bottom: 1em; }
  .image-option__title,
  .file-option__title {
    width: 49.5%;
    margin-left: 1%;
    line-height: 1.3; }
    .image-option__title:nth-child(1n+1),
    .file-option__title:nth-child(1n+1) {
      margin-left: 1%;
      clear: none; }
    .image-option__title:nth-child(2n+1),
    .file-option__title:nth-child(2n+1) {
      margin-left: 0;
      clear: both; }

.gallery-drag-info {
  padding: 1rem;
  margin: 0; }

.gallery-list,
.files-list {
  border-top: 1px dashed #f6f6f5;
  border-bottom: 1px dashed #f6f6f5;
  list-style: none;
  padding: 0; }
  .gallery-list li,
  .files-list li {
    position: relative;
    padding: 0 2rem;
    border-bottom: 1px dashed #f6f6f5; }
    .gallery-list li:last-child,
    .files-list li:last-child {
      border-bottom: none; }
    .gallery-list li.moving,
    .files-list li.moving {
      border: 1px solid #ccc;
      background: #fff; }
  .gallery-list.empty-gallery, .gallery-list.no-files,
  .files-list.empty-gallery,
  .files-list.no-files {
    border: none; }
  .gallery-list .empty-gallery-msg,
  .gallery-list .no-files-msg,
  .files-list .empty-gallery-msg,
  .files-list .no-files-msg {
    padding-left: .5em;
    border-left: 5px solid #fec606;
    border-bottom: 1px solid #fec606; }
    .gallery-list .empty-gallery-msg i,
    .gallery-list .no-files-msg i,
    .files-list .empty-gallery-msg i,
    .files-list .no-files-msg i {
      color: #fec606; }

.gallery-image-handle,
.file-item-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 100%;
  background: #fff;
  color: #fff;
  border-right: 1px solid #fff; }

.ui-sortable .gallery-image-handle,
.ui-sortable .file-item-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 100%;
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 10%, #eeeeee 90%);
  background: -webkit-linear-gradient(top, #fefefe 10%, #eeeeee 90%);
  background: linear-gradient(top, #fefefe 10%, #eeeeee 90%);
  color: #666;
  border-right: 1px solid #eee;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }
  .ui-sortable .gallery-image-handle:active,
  .ui-sortable .file-item-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing; }
  .ui-sortable .gallery-image-handle i,
  .ui-sortable .file-item-handle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.gallery-image-preview {
  float: left;
  width: 100%;
  max-width: 150px;
  min-height: 90px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.125);
  margin: .5em .2em .5em .375em; }

.file-item-icon {
  margin: .8em .2em .5em 1em;
  max-width: 50px;
  float: left;
  text-align: center; }
  .file-item-icon .fa {
    display: inline-block;
    background: #2d3b42;
    color: #fff;
    border-radius: 50px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.2em; }
  .file-item-icon .fa-file-pdf-o {
    background: #c30b15; }
  .file-item-icon .fa-file-word-o {
    background: #295595; }
  .file-item-icon .fa-file-excel-o {
    background: #008a00; }

.gallery-image-text,
.file-item-text {
  float: left;
  padding: .5em;
  width: 35%; }
  @media screen and (max-width: 1350px) {
    .gallery-image-text,
    .file-item-text {
      width: 30%; } }
  @media screen and (max-width: 1280px) {
    .gallery-image-text,
    .file-item-text {
      width: 40%; } }
  .gallery-image-text p,
  .file-item-text p {
    margin: 0;
    padding: .2em .5em; }

.file-item-text {
  width: auto; }
  .file-item-text p {
    line-height: 1.3;
    padding: .3em .5em; }

.gallery-image-actions,
.file-item-actions {
  float: right;
  text-align: right;
  padding-top: 1.4em; }
  @media screen and (max-width: 820px) {
    .gallery-image-actions,
    .file-item-actions {
      padding-bottom: 1em; } }
  .gallery-image-actions .action,
  .file-item-actions .action {
    clear: none;
    margin-right: .5em; }

.file-item-actions {
  padding-top: .5em; }

.current-image .delete, .gallery-image-actions .delete, .file-item-actions .delete,
.confirm-rsi {
  background: #e74035;
  border-color: #e74035; }
  .current-image .delete:hover, .gallery-image-actions .delete:hover, .file-item-actions .delete:hover,
  .confirm-rsi:hover {
    background: #e74035;
    border-color: #e74035; }

.change-file-note {
  padding: 1rem; }

/*------------------------------------*\
    #TINYMCE
\*------------------------------------*/
#tinymce {
  background: #fff;
  padding: 1.5em; }

#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce h5 {
  margin-bottom: 1rem;
  line-height: 1.3; }
#tinymce h1 {
  font-size: 2.5em; }
#tinymce h2 {
  font-size: 2em; }
#tinymce h3 {
  font-size: 1.675em; }
#tinymce h4 {
  font-size: 1.3em; }
#tinymce h5 {
  font-size: 1em; }

.mce-tinymce {
  float: left;
  width: 70% !important;
  margin-left: 30% !important;
  box-sizing: border-box; }

.mce-tinymce button {
  background: transparent;
  color: #333;
  margin: 0;
  padding: 4px 8px;
  border: 0;
  font-size: 14px;
  float: none; }

/*------------------------------------*\
    #MISC
\*------------------------------------*/
.social-handle {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 30px;
  background: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1) inset;
  text-align: center;
  margin-left: .5em;
  margin-right: -.5em; }

#menu_order {
  width: 80px; }

.permissions-list {
  width: 70%;
  display: inline-block;
  line-height: 1.8; }

.permissions-list input {
  margin-top: 0; }

.permissions-list label {
  float: none;
  width: auto;
  cursor: pointer;
  padding: .75rem; }

/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 1480px) {
  #nav, #nav:before, .main-nav {
    width: 190px; }

  #dashboard {
    padding-left: 268px; } }
@media screen and (max-width: 1200px) {
  .dashboard-box {
    padding-top: 12rem; } }
@media screen and (max-width: 1000px) {
  #header {
    width: 70px; }

  .header__logo {
    padding: 0 1.25rem; }

  #nav, #nav:before {
    left: 70px; }

  #nav, #nav:before, .main-nav {
    width: 164px; }

  .nav__link {
    font-size: .9rem; }

  #dashboard {
    padding-left: 234px; }

  .page-headers, .dashboard-pad {
    padding: 1rem 1.5rem; } }
@media screen and (max-width: 900px) {
  #header {
    float: left;
    width: 100%;
    height: 65px;
    background: #35464e; }

  .header__logo {
    width: 64px;
    padding: 0 1em; }

  .header__link {
    width: 90px;
    margin: 3px 0 0 0; }

  #admin-search-toggle {
    margin-top: -4px; }

  .header__link--signout {
    left: auto;
    right: 0; }

  .dev-site-notice {
    float: right;
    margin-top: .675em;
    margin-right: 100px; }

  .header__link b {
    opacity: 1; }

  #nav,
  #nav::before {
    top: 0;
    left: 0;
    width: 180px; }

  .main-nav {
    width: 180px;
    left: auto;
    top: 65px; }

  #dashboard {
    padding-left: 180px;
    top: 65px; } }
@media screen and (max-width: 800px) {
  .dashboard-box {
    padding-top: 6rem; }

  #nav, #nav:before {
    display: none; }

  .header__link {
    width: auto; }

  #dashboard {
    padding-left: 0; }

  .page-headers, .dashboard-pad, .form-with-actions {
    padding: 1rem; }

  .form-actions__save {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 2em;
    font-size: 1rem; }

  .form-actions .msg {
    padding: 0; }

  .form__field {
    margin: 0 0 1.5rem 0; }

  .form__field__label {
    text-align: left;
    padding: .75rem 0; }

  .form__field__label,
  .form__field__input,
  .form__field__textarea,
  .form__select {
    width: 100%; }

  .admin-help {
    right: 2rem; }

  .seo-toggle-content {
    padding: 0; }

  .mce-tinymce {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 3rem !important; }

  .image-option {
    width: 100%;
    margin: 0 0 1rem 0 !important; } }
@media screen and (max-width: 600px) {
  .image_uploader {
    display: block; } }
@media screen and (max-width: 480px) {
  .cms-login {
    width: 100%;
    background: white;
    padding: 0; }
    .cms-login__form {
      box-shadow: none;
      border: 0;
      padding: 1.5em .5em; } }

/*# sourceMappingURL=core.css.map */
