/*------------------------------------*\
	#CORE.SCSS
	Do not touch this scss file - This is purely the core CMS styles
	e.g. (login, search, Pages, Articles, Image Library, etc)
	If you need to add extra/specific classes/styles 
	to your project, add it to additional.scss
\*------------------------------------*/

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$font-header : -apple-system, BlinkMacSystemFont, San Francisco, 'Roboto', Roboto, Segoe UI, Helvetica Neue, 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
$font-body : $font-header;
$font-caps : $font-body;

/* === FONT SIZES === */

$font-xxl :     2.5em;
$font-xl :      2em;
$font-large :   1.675em;
$font-medium :  1.3em;
$bold-weight :  500;

/* === COLOURS *clr-xxx* === */

$clr-dark :         #2d3b42;
$clr-primary :      #2dbbe9;
$clr-primary-shade: #23e9f5;
$clr-secondary :    #2E3D5A; 
$clr-third :        #e34444;
$clr-text :         #444;
$clr-action :       #08cd92;
$clr-error :        #e74035;
$clr-shade :        #f6f6f5;
$row-hot1 :         #f6412D;
$row-hot2 :         #ff9800;
$row-hot3 :         #ffec19;
$row-cold1 :        #2AF598;
$row-cold2 :        #08B3E5;
$border-radius :    4px;

/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

@mixin standard-transition() {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

@mixin standard-gradient($from, $to, $deg) {
	background: $from;
	background: -moz-linear-gradient($deg, $from 0%, $to 100%);
	background: -webkit-linear-gradient($deg, $from 0%, $to 100%);
	@if $deg=="top" {
		background: linear-gradient(to bottom, $from 0%, $to 100%);
	}
	@if $deg=="-45deg" {
		background: linear-gradient(135deg, $from 0%, $to 100%);
	}
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=0);
}

@mixin circle($unit) {
	width: $unit;
	height: $unit;
	border-radius: $unit;
}

@mixin type-caps() {
	text-transform: uppercase;
	font-family: $font-caps;
	font-weight: normal;
}

@mixin grid($columns) {
	display: grid;
	grid-template-columns: $columns;
	/*display: -ms-grid; -ms-grid-columns:$columns;*/
}

/*------------------------------------*\
    #IMPORTS
\*------------------------------------*/

@import 'grid';
@import '_reset';
@import '_animations';
@import '_search';

/*------------------------------------*\
    #FONTS
\*------------------------------------*/

body {
	font: normal 16px/1.5625 $font-header;
	color: #666;
}

h1,
h2,
h3,
h4,
h5,
input,
button,
select,
textarea {
	font-family: $font-header;
	color: $clr-dark;
}


/*------------------------------------*\
    #STANDARD
\*------------------------------------*/
body {
	background: $clr-shade;
}

a {
	color: $clr-primary;
}

.inner {
	width: 94%;
	max-width: 90em;
	margin: 0 auto;
}

.wrap {
	float: left;
	width: 100%;
}

.required {
	color: $clr-error;
	font-weight: 300;
}

#page-wrap {
	min-width: 320px;
}

p {
	margin: 0 0 1em 0;
}

.button {
	background: $clr-action;
	border: 1px $clr-action solid;
	color: #fff !important;
	padding: .825em 1em;
	border-radius: $border-radius;
	display: inline-block;
	font-weight: $bold-weight;
}

.button:hover {
	background: lighten($clr-action, 5%);
	color: #fff !important;
}

.button .fa {
	opacity: .75;
	margin-right: .25em;
}

.button:hover .fa {
	opacity: 1
}

.button--outlined {
	border: 1px $clr-dark solid;
	color: $clr-dark !important;
	background:none;
}

/*------------------------------------*\
    #LOGIN
\*------------------------------------*/

.cms-login {
	height: 100vh;
	background: darken($clr-shade, 6%);
	display: flex;
  	align-items: center;
	  justify-content: center;
	  
	  &__inner {
		  // cms-login__inner
		  max-width:400px;
	  }

	  &__logo {
		  //.cms-login__logo
		text-align: center;
		padding-bottom: 1em;
		animation: fadeInUp 1s both .25s;
		img {
			max-width: 200px;
		}
	}
	&__error {
		// cms-login__error
		color:$clr-error;
		text-align:center;
	}

	&__form {
		// cms-login__form
		border: 1px $clr-shade solid;
		background: #fff;
		border-radius: $border-radius;
		padding: 2em;
		animation: fadeIn 1s both .25s;
		box-shadow: 1px 2px 4px rgba(black, .125);

		&__input {
			// cms-login__form__input
			width: 100%;
			padding: 2.5em 1em 1em .75em !important;
			border: 1px rgba($clr-dark, .2) solid;
			&.error {
				border:2px solid $clr-error;
			}
		}
		
		
		&__field {
			// .cms-login__form__field
			margin: 1em 0;
			position: relative;
			label.error {
				display:block;
				color: $clr-error;;
				font-weight:bold;
				top: .7em;
				right: 1em;
				left: auto;
				width: auto;
			}
		}
	
		&__label {
			// .cms-login__form__label
			position: absolute;
			pointer-events: none;
			font-size: .875em;
			top: .75em;
			left: 1.125em;
			color: $clr-dark;
			width: 100%;
			transition: all ease 0.5s;
			z-index: 99;
		}
		
		&__label .fa {
			margin-right: .25em;
			color: $clr-dark;
		}
		
		
		
		&__button {
			padding: 1em 2em;
		}
		
		&__input:-webkit-autofill {
			background: $clr-shade;
		}
		
		
	}
	
	
}
.password-wrapper{
	position:relative;
	margin-bottom:1em;
}
button#toggle-password{
	background:none;
	border:none;
	cursor:pointer;
	font-size:1em;
	font-weight:300;
	padding:.5rem .75rem;
	position:absolute;
	top:2px;
	right:2px;
}
button#toggle-password:focus{
	outline:none;
	box-shadow:none;
}

.need_help {
	float: right;
	margin-top: 1em;
}
@media screen and (max-height: 440px) {
	.cms-login {
		display:block;
		height:auto;
		padding:2rem 0;
	}
}

/*------------------------------------*\
    #HEADER / NAV
\*------------------------------------*/

#nav-toggle {
	display: none;
}

$headerSize: 80px;
#header {
	float: left;
	width: $headerSize;
	background: $clr-dark;
	color: #fff;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index:10;
	text-align: center;
}

.header__logo {
	float: left;
	padding: 0 1.5em;
	margin: 1em 0;
}

.header__link {
	float: left;
	width: 100%;
	color: #fff;
	padding: .5em;
	margin: .125em 0;
	.fa {
		font-size: 1.5em;
	}
	b {
		font-weight: 400;
		text-transform: uppercase;
		font-size: .6em;
		opacity: 0;
		display: block;
	}
	&:hover {
		b {
			opacity: 1;
		}
	}
}

.header__link--signout {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
	padding-top: .75em;
	b {
		opacity: 1;
	}
}

.header__link--signout:hover {
	background: $clr-error;
}

.dev-site-notice {
	text-transform: uppercase;
	font-size: 9px;
	line-height: 1.5;
	padding-top: 11px;
	text-align: center;
	margin: 1.5em 0 0 0;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	background: rgba(#000, .5);
	color: rgba(#fff, .325);
	display: inline-block;
}

.nav-toggle {
	display: none;
}



$navSize: 220px;
#nav {
	float: left;
	width: $navSize;
	height: 100%;
	min-height: 100vh;
	position: absolute;
	z-index:9;
	top: 0;
	left: $headerSize;
}

#nav:before {
	width: $navSize;
	height: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: $headerSize;
	content: '';
	z-index:7;
}

#nav:before {
	background: darken($clr-dark, 3.5%);
}

.main-nav {
	// position: absolute;
	position: relative;
	top: 0;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0 .5em;
	width: $navSize;
	z-index:8;
}

// Get the size of main-nav, you can make it fixed...
$main-nav-height: 680px;
@media screen and (min-height: $main-nav-height) {
	.main-nav {
		// position: fixed;
		// left: $headerSize;
	}
}

.main-nav-grouping {
	margin: 1em 0;
	border-bottom: 1px #ccc solid;
	padding-bottom: 1em;
}

.main-nav-grouping:first-child {
	margin-top: 0;
}

.main-nav-grouping span {
	padding: .5em 0;
	display: block;
	font-weight: $bold-weight;
}

#nav .fa-angle-down {
	display: none;
}

.nav__item {
	margin:.25em 0;
	&__group {
		margin:.5em 0;
	}
}
.nav__item .fa {
	color: rgba(white, .25);
	width: 30px;
	text-align: center;
	font-weight: 300;
	font-size: .9em;
	&.fa-caret-down, &.fa-caret-up {
		float:right;
		width:auto;
		margin-top:.375rem;
		color: $clr-primary;
	}
}

.nav__link {
	color: white;
	padding: .575em .375em .575em .125em;
	display: block;
	font-weight: 300;
	font-size: 1em;
	border-radius: $border-radius;
	cursor: pointer;
}

.nav__link:hover {
	color: #2dbbe9;
}

.nav__item.active .nav__link {
	font-weight: $bold-weight;
	color: white;
}

.nav__item.active .fa {
	color: $clr-primary;
}

.nav__item__title {
	color: white;
	padding: .575em .75em;
	display: block;
	font-weight: 300;
	font-size: 1em;
	border-radius: $border-radius;
	cursor: pointer;
	background:rgba(white,.075);
	@include standard-gradient(rgba(white,.2), rgba(white,.075), "top");
	&.active {
		border-radius: $border-radius $border-radius 0 0;
		
		color:rgba(white,.5);
		border-bottom: 1px rgba(white,.1) dashed;
	}
}
.nav__item__title.active, .sub-nav {
	background:rgba(white,.1);
}
.sub-nav {
	display:none;
	list-style-type: none;
	margin: 0;
	padding:.25em;
	border-radius: 0 0 $border-radius $border-radius;
	.nav__item {
		margin:0;
	}
}

footer {
	display: none;
}

/*------------------------------------*\
    #DASHBOARD
\*------------------------------------*/


#dashboard {
	float: left;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0 0 298px;
	z-index: 1;
	min-height: 100vh;
	background-color: $clr-shade;
}

.dashboard-box {
	float: left;
	width: 100%;
	padding-top: 18em;
	background: $clr-shade url(/admin/images/dominik-schroder-14534.jpg) no-repeat top center;
	background-size: 100%;
}
.dev-site .dashboard-box {
	background-image: url(/admin/images/pixel-dominik-schroder-14534.jpg);
}

.dashboard-pad {
	float: left;
	width: 100%;
	padding: 1em 2.25em;
}


.welcome {
	margin: 0 0 .625em 0;

	&__logo {
		// .welcome__logo
		float: left;
		text-align: center;
		border-radius: 100px;
		width: 100px;
		height: 100px;
		background-color: #fff;
		background-size: 80%;
		background-position: center center;
		background-repeat: no-repeat;
		margin-right: 1em;
		margin-top: -.625em;
	}

	&__title {
		// .welcome__title
		color: $clr-dark;
		font-size: 1.875em;
		line-height: 1.2;
		padding-top: .075em;
		font-weight: 300;
	}

	&__text {
		// .welcome__text
		font-size: 1.3em;
		margin-top: .25em;
	}
}

.last-updated {
	margin-bottom: $defMargin;
	margin-top: 1em;
	padding: 0;
	.row {
		padding-right: 1em;
	}
}

.last-updated__title {
	padding: 1em 1.25em;
	margin: 0;
	background: $clr-dark;
	border-radius: $border-radius;
	color: #fff;
	font-size: 1em;
	font-weight: $bold-weight;
}

/*------------------------------------*\
    #PAGE HEADERS
\*------------------------------------*/
.page-headers {
	float: left;
	width: 100%;
	padding: 1em 2.25em;
	//@include standard-gradient(#fff, $clr-shade, "top");
	&__title {
		// .page-headers__title
		float: left;
		font-size: 1.875em;
		line-height: 1.2;
		padding-top: .075em;
		font-weight: 300;
		color: #999;
		.fa {
			margin-right: .125em;
			background: rgba(black, .1);
			border-radius: 60px;
			width: 60px;
			height: 60px;
			line-height: 60px;
			font-size: 30px;
			color: #fff;
			text-align: center;
		}
		.fa-angle-right {
			background: none;
			color: darken($clr-shade, 10%);
			width: 16px;
			margin-left: 4px;
		}

		&__parentlink {
			// .page-headers__title__parentlink
			display: inline-block;
			a:hover {
				text-decoration: underline;
			}
		}
		
	}
	.button {
		float: right;
		margin-left: 1em;
		margin-top: .625em;
		font-size:.875rem;
	}
}

.form-with-actions { max-width:1300px; }
/*------------------------------------*\
    #ROWS
\*------------------------------------*/
.row {
	float: right; // for indents
	width: 100%;
	background: #fff;
	color: $clr-dark;
	padding: .4em 0 .675em 1em;
	margin: .5rem 0 0 0;
	border-radius: $border-radius;
	position: relative;
	box-shadow: 1px 2px 4px rgba(black, .075);
}
.row-draft {
	background: none !important;
	box-shadow: none;
}
.row__title {
	padding: .25em 19em .125em 0;
	line-height: 1.2;
	position: relative;
	&__lastupdated {
		display: block;
		font-style: normal;
		font-size: .875em;
		color: #999;
		padding-top: .25em;
	}
	&__type {
		// .row__title__type
		background: $clr-shade;
		color: darken($clr-shade, 40%);
		text-transform: uppercase;
		padding: .2em .3em;
		font-size: .75em;
		display: inline-block;
		margin-right: .25em;
	}
	&__name {
		// .row__title__name
		font-size: 1.25em;
		line-height: 1.25;
		font-weight: 500;
		display: inline-block;
		margin: .125rem 0;
		color: #2d3b42;
	}
	&__slug {
		font-size: .875em;
		color: rgba($clr-dark, .675);
		display: inline-block;
	}
}

.row__status {
	width: 80px;
	float: right;
	text-align: center;
	position: absolute;
	top: 1.5rem;
	right: 1rem;
	text-transform: capitalize;
	font-size: .875rem;
	color: #999;
}

.row__actions {
	position: absolute;
	top: .825rem;
	right: 6.25rem;
	margin-right: 0;
	.button {
		font-size:.875rem;
		margin-left:.5rem;
	}
	.button--edit {
		color: $clr-action !important;
	}
	.button--delete {
		color: $clr-error !important;
	}
	
	.button--edit,
	.button--delete {
		background: none !important;
		border: 0;
	}
	
	.button--delete:hover {
		color: $clr-error !important;
	}

}

// Indents for row on index pages
.ir-2 {
	width: 98.5%;
	border-color: $row-hot2;
}

.ir-3 {
	width: 97%;
	border-color: $row-hot3;
}

.ir-4 {
	width: 95.5%;
	border-color: $row-cold1;
}

.ir-5 {
	width: 94%;
	border-color: $row-cold2;
}

.menu-section {
	font-size: larger;
	font-weight: bold;
	margin-top: 1em;
}

.ingredients.tag-input-boxes,
.veg-ingredients.tag-input-boxes,
.vegan-ingredients.tag-input-boxes,
.gf-ingredients.tag-input-boxes,
.df-ingredients.tag-input-boxes {
	border-top: 1px solid #ccc;
}

.ingredients__list {
	border-top: 1px solid #ccc;
}

label.tag-input-box.false:hover {
	background-color: unset !important;	
}

label.tag-input-box.false {
	cursor: default;
}

/*------------------------------------*\
    #FORM STYLES
\*------------------------------------*/

.form-actions {
	float: left;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	color: #fff;
	box-shadow: none;
	clear: both;
	padding: 1em;
	transition: background .3s linear;
	pointer-events: none;
}

.form-actions.visible {
	pointer-events: auto;
	background: darken($clr-primary, 5%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, .5), 0px -20px 20px rgba(0, 0, 0, .15) inset;
}

.form-actions .msg {
	float: left;
	padding: 0 1em 0 300px;
}

.form-actions .change-alert {
	opacity: 0;
}

.form-actions.visible .change-alert {
	opacity: 1;
}

.form-actions .msg b {
	color: #fff;
}

.form-actions .msg .fa {
	background: #ffd42a;
	color: $clr-dark;
	font-size: .625em;
	padding: .25m;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 20px;
	margin-right: .5em;
}

.form-actions .action-note {
	font-size: .875em;
	display: none;
}

.form-actions .action-note b {
	color: #333;
}

.form-actions__save {
	pointer-events: auto;
	float: right;
	background: $clr-action;
	color:#fff;
	position: absolute;
	bottom: 1em;
	right: 2em;
	font-weight: $bold-weight;
	font-size: 1.3em;
	padding: .875em 1em;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
}

.form-actions__save .fa {
	margin-right: .25em;
}

.form-actions__save:hover {
	background: lighten($clr-action, 10%);
}

.form-with-actions {
	margin-top: 1em;
	margin-bottom: 4em;
	padding: 1em 2.25em;
}

.form__group {
	float: left;
	width:100%;
	background: #fff;
	border-radius: 4px;
	margin-bottom:1rem;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.075);
	&__legend {
		// .frm_section legend
		font-size: 1.2em;
		margin-bottom: .5em;
		color: #2d3b42;
		font-weight: 500;
		width: 100%;
		background: #fdfdfd;
		border-bottom: 1px #f6f6f5 solid;
		padding: .75em 1em;
		border-radius: 4px 4px 0 0;
	}
}
.form {
	&__select {
		// form__select
		display: block;
		line-height: 1.3;
		padding: .6em 1.4em .6em .8em;
		width: auto;
		max-width: 70%;
		box-sizing: border-box;
		margin: 0;
		border: 1px solid #aaa;
		box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
		border-radius: $border-radius;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #fff;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
		background-repeat: no-repeat, repeat;
		background-position: right .7em top 50%, 0 0;
		background-size: .65em auto, 100%;
	}
	
	&__select::-ms-expand {
		display: none;
	}
	
	&__select:hover {
		border-color: #888;
	}
	
	&__select:focus {
		border-color: #aaa;
		box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
		box-shadow: 0 0 0 3px -moz-mac-focusring;
		color: #222;
		outline: none;
	}
	
	&__select option {
		font-weight: normal;
	}

	&__select.error {
		border-color:$clr-error;

	}
}

#parent-page-select {
	float:right;
	width:100%;
	background:darken($clr-shade,3.5%);
	border-radius: $border-radius;
	padding:1.5rem;
	max-width:300px;
	margin:1.5rem 0 1rem 0;
	.form__select {
		max-width:100%;
		margin:.5rem  0;
	}
}

.frm_latlong .button, .frm_getpass .button {
    float: right;
    margin: .5em 0 0 0;
    font-size: .875em;
}

.form__field {
	float: left;
	width: 100%;
	clear: both;
	margin: 1em 0;
	position: relative;
	padding: 0 1.5em;

	
	&__label {
		// .form__field__label
		float: left;
		width: 30%;
		padding: .75em;
		padding-right: 2.5%;
		color: #777;
		text-align: right;
		font-size: 1em;
		line-height: normal;
		vertical-align: middle;
	}
	&__input,
	&__textarea {
		width: 70%;
		&.error {
			border:2px solid $clr-error;

		}
	}
	&__textarea {
		height: 300px;
	}

	label.error {
		display:block;
		color: $clr-error;;
		font-weight:bold;
		margin-left:30%;
	}
	
}

.seo-content .form__field__textarea {
	height: 90px;
	min-height: auto;
}
.seo-content {
	padding: 0 1.25rem 1.25rem 1.25rem;
	&__preview {
		// seo-content__preview
		border:1px darken($clr-shade,5%) solid;
		border-radius: $border-radius;
		box-shadow: 2px 2px 2px rgba(black,.075);
		padding:1rem;
		margin-top:.5rem;
		&__metaurl {
			color:#202124;
			font-size:14px;
			font-family: Arial, Helvetica, sans-serif;
		}
		&__metatitle {
			color:#1a0dab;
			font-size:20px;
			font-family: Arial, Helvetica, sans-serif;
			margin:.125rem 0;
		}
		&__metadescription {
			color: #4d5156;
			font-size:14px;
			font-family: Arial, Helvetica, sans-serif;
		}
	}
}
.seo-toggle {
	position: absolute;
	top:1.125rem; 
	right:1.25rem;
	font-size: 1em;
	cursor: pointer;
	padding: 0;
	color:$clr-primary;
}
.seo-toggle b {
	font-weight: normal;
	
}
.seo-toggle .fa {
	opacity:.5;
	margin-left:.5rem;
}
.seo-toggle-content {
	display: none;
	padding: 1em 1em 0 1em;
}
/*------------------------------------*\
    #ADMIN HELP
\*------------------------------------*/
.admin-help {
	font-size: 1em;
	color: #999;
	border-bottom: 1px #999 dashed;
	position: absolute;
	top: .75em;
	right: 2.25em;
}

.admin-help .fa {
	opacity: .5;
}

.admin-help:hover {
	color: $clr-primary;
	border-bottom-color: $clr-primary;
}
/*------------------------------------*\
    #TAGS
\*------------------------------------*/

.tag-input-box-wrap {
	width: 70%;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border linear .2s, box-shadow linear .2s;
	display: inline-block;
	padding: 0;
	.tags {
		float: left;
		width: 100%;
		padding-bottom: .3em;
		border-bottom: 1px solid #ccc;
		&:empty {
			border-bottom: none;
			padding-bottom: 0;
		}
		span {
			display: block;
			float: left;
			margin: .25em .25em 0 .25em;
			padding: .3em .5em;
			border-radius: 3px;
			background-color: lighten(#f00, 25%);
			color: #fff;
			white-space: nowrap;
			.fa-times {
				cursor: pointer;
			}
		}
	}
	input[type="text"] {
		width: 100% !important;
		display: block;
		border: none;
		box-shadow: none;
		background: none;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.tag-error {
		padding: 0 1em;
		background: lighten(#f00, 25%);
		color: #fff;
	}
	@media screen and (max-width: 740px) {
		width: 100%;
	}
}

.tag-input-boxes {
	max-height: 300px;
	overflow-y: scroll;
}

label.tag-input-box {
	float:left; 
	padding:1rem;
	width: 100%;
	border-bottom: 1px solid $clr-shade;
	cursor: pointer;
	&:last-child {
		border-bottom: none;
	}
	&:hover {
		background-color: lighten(#ccc, 15%);
	}
	input {
		display: none;
	}
	i {
		width: 1em;
	}
	.fa-square-o {
		display: inline-block;
	}
	.fa-check-square-o {
		display: none;
	}
	input:checked~.fa-square-o {
		display: none;
	}
	input:checked~.fa-check-square-o {
		display: inline-block;
		color: $clr-action;
	}
}

/*------------------------------------*\
    #IMAGE LIBRARY & FILE MANAGER
\*------------------------------------*/

/*.rsi-pop { z-index: 3; text-align: center; padding: .5em; border: 10px solid #fff; position: absolute; top:-1em; right: .5em; width: 100%; max-width: 450px; background: #efefef; box-shadow:0px 0px 6px rgba(0,0,0,.25); animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both; transform: translate3d(0, 0, 0); backface-visibility: hidden; perspective: 1000px; }
.rsi-pop h3 { padding: 0 1em; font-size: 1.1em; clear: both; }
.rsi-pop button { float: none; clear: none; margin: .5em; }*/
.rsi-pop .button--cancel { border: 1px solid #ccc; background: #ccc; }
.rsi-pop .button--cancel:hover { background: lighten(#ccc,3%); }

.uploader-image-note { padding:.5em 1em 1em 1em; }
.current-image {  margin:0;     padding: .5em 1.5em 1.5em 1.5em; position: relative;  display: flex;}
.current-image .pad {  display: flex;} 
    .current-image__image { flex: 1; display: flex; align-items: center; justify-content: center; max-width: 57%; margin-right: 3%; border: 10px white solid; box-shadow: 0 0 4px rgba(0,0,0,.125); 
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");}
    .current-image__details { float:left; width:40%;  padding:1.5em;  background:#f9f9f9;  overflow-wrap: break-word;  border: 1px #ddd solid; b { color:$clr-dark; }  }
	.current-image .delete { margin:0; font-size:.75em; }
	.update-image {
		font-size: 1em;
    color: #2d3b42;
    font-weight: normal;
    width: 100%;
    border: 1px #ddd solid;
    border-left: 0;
    border-right: 0;
    background: #fff;
    padding: .75em 1.25em;
	}
    .update-image p { margin:0; }
    .current-image .rsi-pop { top: -1em; right: -1em; }
   

@media screen and (max-width: 600px) {
    .current-image .pad { display:block; }
    .current-image__image { float:left; width:100%; max-width:100%; margin:0; }
    .current-image__details { float:left;  width:100%; margin-top:.5em; }
}

.image-sorting { float:right; margin-top:1.25rem; margin-right:200px; }
    .image_library_modal .image-sorting { margin-right: 300px; }
.image-sorting__title, .image-sorting__option { display:inline-block; }
.image-sorting__option { position: relative; }

.image-sorting__option__radio {
    position: absolute;
    visibility: hidden;
}

.image-sorting__title {
    margin-right:1rem;
    font-weight:bold;
}

.image-sorting__option__label {
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    padding-left:30px;
    margin-right:1rem;
    //z-index: 1;
    position: relative;
}

.image-sorting__option__fancyradio{
    display: block;
    position: absolute;
    border: 4px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
    //z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.image-sorting__option__fancyradio::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 13px;
    width: 13px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.image-sorting__option:hover .image-sorting__option__fancyradio {
    border-color:black;
}

input[type=radio]:checked ~ .image-sorting__option__fancyradio {
    border-color:#08cd92;
}

input[type=radio]:checked ~ .image-sorting__option__fancyradio::before{
    background: #08cd92;
}

input[type=radio]:checked ~ .image-sorting__option__label {
    color: #08cd92;
}

#file-manager, #image-library { position:relative; }
.image_library_bg,
.file_manager_bg {
    display: none;
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    z-index: 100000;
    background-color: rgba(20, 20, 20, .7);
}

.image_library_modal,
.file_manager_modal {
    display: none;
    position: fixed;
    top: 2em; left: 2em;
    bottom: 2em; right: 2em;
    z-index: 100001;
    background-color: #f0f0f0;
    
    .image-library-wrap,
    .file-manager-wrap {
        height: 100%;
        overflow: hidden;
    }
    
    h1 { font-size: 2em; line-height: 1.2;  }
	  

}

#file-manager h1 .fa,
#image-library h1 .fa { background:rgba(black,.1); margin-right:.125em; border-radius:60px; width:60px; height:60px; line-height:60px; font-size:30px; color:#fff; text-align:center; }

.close-btn { display: inline-block; background: #f00; color: #fff; padding: .3em .7em; border-radius: 5px; margin-left: 2em; }

.image-library-nav,
.file-manager-nav { position: absolute; top: 1.5em; right:2.25em;  }
	.image-library-nav a,
	.file-manager-nav a {  float:left; padding:.75em 1em; font-size: .875em; }
		.image-library-nav a.active,
		.file-manager-nav a.active { display:block; }
		
.image-library-tab,
.file-manager-tab { display: none; height: 100%; }
.image-library-tab.active,
.file-manager-tab.active { display: block; }
.image-library-tab.upload input[type="file"],
.file-manager-tab.upload input[type="file"] { display: none; }
.image-library-tab.manage .tab-content,
.file-manager-tab.manage .tab-content {
    height: calc(100% - 116px);
    overflow-y: scroll;
    position: relative;
    padding-bottom: 3em;
    
    &.normal-overflow { height: auto; overflow-y: auto; }
    
    .tab-inner { height: 100%; }
}

.file-manager-tab.manage .tab-content .tab-inner {
    background: #fff;
    padding: 1em;
}

.tab-content { padding:$defMargin/2 $defMargin/1.5 1em $defMargin/1.5;  }

.image_uploader { display:grid;grid-template-columns:1fr 1fr; grid-gap:2em; }
//.popup_column { @include set-equal-grid(2,$defMargin);  }
.image_uploader_wrap { padding:1.5em; }
.file_uploader__group  { padding:1.5em; }
#image_uploader_progress,
#file_uploader_progress {
    width: 100%;
    height: 10px;
    background: #efefef;
    overflow: hidden;

    span {
        display: block;
        width: 0;
        height: 10px;
        transition: all 0.2s linear;
        
        &.processing { background: #f7e999; }
        &.done { background: #08cd92; }
    }
}

.image_progress_details,
.file_progress_details { padding-top: .5em; opacity: 0; transition: opacity 0.2s linear; }

.image_uploader[data-step="2"],
.file_uploader[data-step="2"] {
    display: none;
}

.image_upload_button, .image_save_btn { float:right; }

.image-type-filters { float:left; width:100%; border-bottom: 1px solid #ccc; margin-top:1em; }
	.image-type-filters a { padding:1em .5em; display:inline-block; }
	.image-box {
        width: 14vw;
        height: 12vw;
        padding: 0 1em;
        margin: .5vw .5vw .5vw .5vw;
        text-align: center;
        float: left;
        //word-break: break-all;
        cursor: pointer;
        //overflow: auto;
        background:#fff; 
        box-shadow:2px 2px 1px rgba(0,0,0,.125);
        border:1em #fff solid !important;
        border-top-width: 3.5em !important;
        border-bottom-width: 1em !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        z-index: 3;
    }
    .image-box::after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    }
    .image-box-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .image-box .fa-file-pdf-o, .image-box .fa-file-doc-o { display:inline-block; background:#c30b15; color:#fff; width:50px; height:50px; border-radius:50px; line-height:50px; text-align:center; font-size:1.5em; margin:.5em 0 0 0; }
    .image-box .fa-file-doc-o { background-color:#295595; }
    .image-box span { display:block; padding:1.5em 1em 1em 1em; border:1px #ddd solid; margin-top:-1em; }
    
    .image-box p {
        position: absolute;
        top:-2.675em;
        left:0;
        background: #fff;
        //border-left: .5em #fff solid !important;
        //border-right: .5em #fff solid !important;
        color: #000;
        width: 100%;
        text-align: center;
        //box-shadow: 2px 2px 1px rgba(0,0,0,.125);
        box-sizing: content-box;
        margin:0;
        font-size:.875em; line-height:1.2; 
	}
	.image-box strong {
		background: orange;
		color: #fff;
		text-transform: uppercase;
		padding: 2px 4px;
		border-radius: 2px;
		margin-left: 2px;
		display: inline-block;
		font-size: 11px;
	}

.file-box {
    @extend .wrap;
    line-height: 1.3;
    padding: .8em 1em .8em 0;
    position: relative;
    
    border: 1px solid #f0f0f0; border-top:0;
    &:first-child { border-top: 1px solid #f0f0f0; }
    
    &:nth-child(odd) { background: #f6f6f6; }
	
	
	.button--cancel {
		background:darken($clr-shade,25%);
		border-color:darken($clr-shade,25%);
		color:$clr-dark;
	}
    .file-box-icon {
        @include set-unequal-grid(4,1,10,0%,1);
		max-width:80px;
        padding: .2em 1em 0;
        text-align: center;
        .fa { display:inline-block; background: $clr-dark; color: #fff; border-radius: 50px; line-height: 40px; width: 40px; height: 40px; text-align: center; font-size: 1.2em; }
        .fa-file-pdf-o { background: #c30b15; }
        .fa-file-word-o { background: #295595; }
        .fa-file-excel-o { background: #008a00; }
    }
    
    .file-box-details {
        @include set-unequal-grid(4,6,10,0%,0);
        position: relative;
        .file-box-title {
            color: $clr-dark;
            display: block; font-size: 1.2em; line-height: 1.3; font-weight: bold;
        }
    }
    
    .file-box-size {
        @include set-unequal-grid(4,1,10,0%,0);
        padding-top: 1em;
    }
    
    .file-box-actions {
		float:right;
		button:first-child { margin-right: 1em; }
		
		.button--delete {
			background:$clr-error;
			border-color:$clr-error;
		}
    }
}

.image-editor {
    width: calc(100% - 4em);
    position: fixed;
    top: 2em;
    left:100%;
    bottom: 2em;
    overflow: hidden;
    
    transition: left .3s linear;
    
	&.full-height { width: calc(100%); /*top:3.575em; */ top:0; bottom:0; }
	
    .image-editor-inner {
        width: 50%;
        height: 100%;
        position: relative;
        padding: 2em;
        float: right;
        background: #f0f0f0;
		box-shadow:-100px 0px 100px rgba(0,0,0,.2);
        
        .image-editor-details {
            height: calc(100% - 2em); 
            overflow-y: scroll;
        }
        
        .confirm-image-delete {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f0f0f0;
            
            .confirm-inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
                
                #cancel-image-delete { background: #ccc; border-color: #ccc; margin-right: 1em; }
                #cancel-image-delete:hover { background: lighten(#ccc,3%); }
            }
        }
    }
    
	.image-editor-bg {
        width: 50%;
        height: 100%;
        float: left;
    }
    
    &.open {
        left: 2em;
    }
    
    &.open.full-height {
        left: 0; 
    }
    
    .image-details-preview {
        height: 100%;
        max-height: 40%;
        border:20px #fff solid;
		background:#fff;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
	.image-details-text { padding:1em 0; text-align:center; }
	.image-details-text h2, .image-detail-snippet { display:inline-block; margin:0 .5em; padding-right:1em; border-right:1px rgba(0,0,0,.125) solid;   }
	.image-detail-snippet:last-child { border-right:0; }
	.image-detail-snippet b { color:#2d3b42; }
	
    .frm_section {
        width: 100%;
        margin-bottom: 0;
        
        label { width: 20%; }
        input { width: 80%; }
    }
}

.image-update-msg,
.file-update-msg {
    padding: 1em;
    color: #fff;
    text-align: center;
    
    &.success { background: $clr-action; }
    &.error { background: $clr-error; }
}
.image-details-fields {
	float: left;
	width:100%;
    background: #fff;
    border-radius: 4px;
}
.image-details-options,
.file-details-options {
    text-align: right;
    padding: 1em 0 0 0;
    
    button {
        float: right;
        margin: 0 0 0 .2em;
        clear: none;
        
        &#cancel-image,
        &#cancel-file { float: left; margin: 0; background: #ccc; border-color: #ccc; font-weight:400;}
        &#cancel-image:hover,
        &#cancel-file:hover { background: lighten(#ccc,3%); }
        &#delete-image,
        &#delete-file { float: left; margin: 0 0 0 .5em; }
	}
	
	.button--delete {
		background:#fff;
		border-color:#fff;
		color: $clr-error !important;
	}
}

.file-editor {
    display: none;
    text-align: right;
    
    //label { font-weight: bold; }
    
    input {
        width: 100%;
        max-width: 300px;
        margin: 0 1em;
    }
    
    button {
        &:last-child { margin-left: 1em; }
        &.cancel { background: #ccc; border: 1px solid #ccc; }
        &.cancel:hover { background: lighten(#ccc,3%); }
    }
}


/*------------------------------------*\
    #ALERTS
\*------------------------------------*/
.alert {
	float: left;
	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
	background: #000;
	color: #fff;
	padding: 1.675rem;
	padding-left: 10%;
	font-size: 1.25em;
	text-align: center;
	z-index: 999;
}

.alert.success {
	background-color: $clr-action;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.alert.error {
	background-color: $clr-error;
}

/*------------------------------------*\
    #FANCYBOX
\*------------------------------------*/
.fancybox-inner {
	.button--delete {
		background:#fff;
		border-color:#fff;
		color:$clr-error !important;
		float:right;
		&:hover {
			background:$clr-error !important;
			border-color:$clr-error !important;
			color:#fff !important;
		}
	}
}

.fancybox-overlay {
	position: relative;
}

.fancybox-overlay:after {
	position: absolute;
	bottom: 2em;
	right: 50%;
	margin-right: -40px;
	background: #999;
	color: #fff;
	float: right;
	border-radius: 80px;
	line-height: 80px;
	width: 80px;
	height: 80px;
	text-align: center;
	content: "\f00d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 3em;
	z-index: 999;
	cursor: pointer;
}

/*------------------------------------*\
    #POPUP
\*------------------------------------*/

.rsi-pop {
	z-index: 3;
	text-align: center;
	padding:1rem;
	border: 10px solid #fff;
	position: absolute;
	top: -1em;
	right: .5em;
	width: 100%;
	max-width: 450px;
	background: #efefef;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
	animation: shake 0.6s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.rsi-pop h3 {
	padding: 0 1rem 1rem 1rem;
	font-size: 1.3em;
	clear: both;
}

.rsi-pop button {
	float: none;
	clear: none;
	margin: .5em;
}

.rsi-pop button.cancel {
	border: 1px solid #ccc;
	background: #ccc;
}

.rsi-pop button.cancel:hover {
	background: lighten(#ccc, 3%);
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-3px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(3px, 0, 0);
	}
}

/*------------------------------------*\
    #Image Gallery & File Selector
\*------------------------------------*/
.image-options, .file-options {
    float:left;
    width:100%;
    padding:1.5rem;
}
.image-option,
.file-option {
	display: block; float:left; margin-top:0;
	margin-bottom:0;
    @include set-equal-grid(2,$defMargin);  padding:1em; 
    background:$clr-shade; border-radius:4px;
    b { font-size:1.125em; margin:.5em 0 0 0; float:left; color:$clr-dark; }
	.button { float:right;  margin:0 !important;}
		.upload-image { margin-bottom:1em; }
    &__title {
		// .image-option__title
        @include set-equal-grid(2,1%);
        line-height: 1.3;
    }
}
.gallery-drag-info {
	padding:1rem;
	margin:0;
}
.gallery-list,
.files-list {
    @extend .wrap;
	border-top: 1px dashed $clr-shade;

    border-bottom: 1px dashed $clr-shade;
    list-style: none;
    padding:0;
    
    li {
        @extend .wrap;
        position: relative;
        padding:0 2rem;
        border-bottom: 1px dashed $clr-shade;
        &:last-child { border-bottom: none; }
        &.moving { border: 1px solid #ccc; background: #fff; }
    }
    
    &.empty-gallery,
    &.no-files {
        border: none;
    }
    
    .empty-gallery-msg,
    .no-files-msg {
        padding-left: .5em;
        border-left: 5px solid #fec606;
        border-bottom: 1px solid #fec606;
        
        i { color: #fec606; }
    }
}

.gallery-image-handle,
.file-item-handle {
    position: absolute; top: 0; left: 0; width: 26px; height: 100%;
    background: #fff;
    color: #fff;
    border-right: 1px solid #fff;
}

.ui-sortable .gallery-image-handle,
.ui-sortable .file-item-handle {
    position: absolute; top: 0; left: 0; width: 26px; height: 100%;
    
    background: #fefefe;
    background: -moz-linear-gradient(top,  #fefefe 10%, #eeeeee 90%);
    background: -webkit-linear-gradient(top,  #fefefe 10%, #eeeeee 90%);
    background: linear-gradient(top,  #fefefe 10%, #eeeeee 90%);
    
    color: #666;
    
    border-right: 1px solid #eee;
    
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    
    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
    
    i { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
}

.gallery-image-preview {
    float: left;
    width: 100%;
    max-width: 150px;
    min-height: 90px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,.125);
    margin: .5em .2em .5em .375em;
}

.file-item-icon {
    margin: .8em .2em .5em 1em;
    max-width: 50px;
    float: left;
    text-align: center;
    .fa { display:inline-block; background: $clr-dark; color: #fff; border-radius: 50px; line-height: 40px; width: 40px; height: 40px; text-align: center; font-size: 1.2em; }
    .fa-file-pdf-o { background: #c30b15; }
    .fa-file-word-o { background: #295595; }
    .fa-file-excel-o { background: #008a00; }
}

.gallery-image-text,
.file-item-text {
    float: left; padding: .5em; width: 35%;
    @media screen and (max-width: 1350px) { width: 30%; }
    @media screen and (max-width: 1280px) { width: 40%; }
    p { margin: 0; padding: .2em .5em; }
}

.file-item-text {
    width: auto;
    p { line-height: 1.3; padding: .3em .5em;}
}

.gallery-image-actions,
.file-item-actions {
    float: right; text-align: right; padding-top: 1.4em;
    @media screen and (max-width: 820px) { padding-bottom: 1em; }
	.action { clear: none; margin-right: .5em; }
	
}

.file-item-actions {
    padding-top: .5em;
}

.current-image .delete, .gallery-image-actions .delete, .file-item-actions .delete,
.confirm-rsi { 
	background: $clr-error; border-color:$clr-error;
	&:hover {
		background: $clr-error; border-color:$clr-error;
	}

}
.change-file-note {
	padding:1rem;
}
/*------------------------------------*\
    #TINYMCE
\*------------------------------------*/
#tinymce {
	background: #fff;
	padding: 1.5em;
}

#tinymce {
    h1,
	h2,
	h3,
	h4,
	h5 {
		margin-bottom: 1rem;
		line-height: 1.3;
    }
    
    h1 {
        font-size: $font-xxl;
    }
    
    h2 {
        font-size: $font-xl;
    }
    
    h3 {
        font-size: $font-large;
    }
    
    h4 {
        font-size: $font-medium;
    }
    
    h5 {
        font-size: 1em;
    }
}
.mce-tinymce {
	float: left;
	width: 70% !important;
	margin-left:30% !important;
	box-sizing: border-box;
}
.mce-tinymce button {
	background: transparent;
	color: #333;
	margin: 0;
	padding: 4px 8px;
	border: 0;
	font-size: 14px;
	float: none;
}

/*------------------------------------*\
    #MISC
\*------------------------------------*/
.social-handle {
	width: 30px;
	height: 30px;
	line-height: 30px !important;
	border-radius: 30px;
	background: white;
	box-shadow: 0px 0px 8px rgba(black, .1) inset;
	text-align: center;
	margin-left: .5em;
	margin-right: -.5em;
}
#menu_order {
    width: 80px;
}
.permissions-list {
	width: 70%;
	display: inline-block;
	line-height: 1.8;
}

.permissions-list input {
	margin-top: 0;
}

.permissions-list label {
	float: none;
	width: auto;
	cursor: pointer;
	padding:.75rem;
}

.row__actions .button--clone {
	color: orange !important;
}
/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 1480px) {
	
	#nav, #nav:before, .main-nav {
		width: 190px;
	}
	#dashboard {
		padding-left:268px;
	}
}
@media screen and (max-width: 1200px) {
	.dashboard-box {
		padding-top:12rem;
	}
	
}
@media screen and (max-width: 1000px) {

	#header {
		width:70px;
	}
	.header__logo {
		padding:0 1.25rem;
	}
	#nav, #nav:before {
		left:70px;
	}
	#nav, #nav:before, .main-nav {
		width: 164px;
	}
	.nav__link {
		font-size:.9rem;
	}
	
	#dashboard {
		padding-left:234px;
	}

	.page-headers, .dashboard-pad {
		padding:1rem 1.5rem;
	}
}

@media screen and (max-width: 900px) {
	#header {
		float: left;
		width: 100%;
		height: 65px;
		background:lighten($clr-dark,4%);
	}
	.header__logo {
		width: 64px;
		padding: 0 1em;
	}
	.header__link {
		width: 90px;
		margin: 3px 0 0 0;
	}
	#admin-search-toggle {
		margin-top: -4px;
	}
	.header__link--signout {
		left: auto;
		right: 0;
	}
	.dev-site-notice {
		float: right;
		margin-top: .675em;
		margin-right: 100px;
	}
	.header__link b {
		opacity: 1;
	}
	#nav,
	#nav::before {
		top: 0;
		left: 0;
		width: 180px;
	}
	.main-nav {
		width: 180px;
		left: auto;
		top: 65px;
	}
	#dashboard {
		padding-left: 180px;
		top: 65px;
	}
}
@media screen and (max-width: 800px) {
	.dashboard-box {
		padding-top:6rem;
	}
	// Make Dashboard 100%
	#nav, #nav:before {
		display: none;
	}
	.header__link {
		width:auto;
	}
	#dashboard {
		padding-left:0;
	}
	.page-headers, .dashboard-pad, .form-with-actions {
		padding:1rem;
	}
	.form-actions__save {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 2em;
		font-size:1rem;
	}
	.form-actions .msg {
		padding: 0;
	}
	// Full fields
	.form__field {
		margin:0 0 1.5rem 0;
		
	}
	.form__field__label {
		text-align:left;
		padding:.75rem 0;
	}
	.form__field__label,
	.form__field__input,
	.form__field__textarea,
	.form__select { width:100%; }
	.admin-help {
		right:2rem;
	}
	.seo-toggle-content {
		padding:0;
	}
	.mce-tinymce {
		width: 100% !important;
		margin-left:0 !important;
		margin-top:3rem !important;
	}
	.image-option {
		width:100%;
		margin:0 0 1rem 0 !important;
	}
}
@media screen and (max-width: 600px) {
	.image_uploader {
		display:block;
	}
}
@media screen and (max-width: 480px) {
	.cms-login {
		width: 100%;
		background: white;
		padding: 0;
		&__form {
			// .cms-login__form
			box-shadow: none;
			border:0;
			padding: 1.5em .5em;
		}
	}
	
}