/* #region Hackney Vector */
/*
Font: 		Hackney
Style: 		Vector
URL: 		https://www.youworkforthem.com/font/T11371/hackney-hand-painted-svg-font
Foundry: 	Ellen Luff
Foundry: 	https://www.youworkforthem.com/designer/1024/ellen-luff
Copyright:	EllenLuff.2019
Version: 	17
Created:	October 14, 2019
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Hackney-Vector';
	src: url('../../fonts/hackney-vector.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

.font-hackney-vector {
  font-family: $font-header;
}
/* #endregion Hackney Vector */

/* #region icomoon font */
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?9ep0r6');
  src:  url('../../fonts/icomoon.eot?9ep0r6#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?9ep0r6') format('truetype'),
    url('../../fonts/icomoon.woff?9ep0r6') format('woff'),
    url('../../fonts/icomoon.svg?9ep0r6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-left:before {
  content: "\e900"; }

.icon-arrow-right:before {
  content: "\e901"; }

.icon-bars:before {
  content: "\e902"; }

.icon-burger:before {
  content: "\e903"; }

.icon-calendar-plus:before {
  content: "\e904"; }

.icon-calendar:before {
  content: "\e905"; }

.icon-chevron-double-left:before {
  content: "\e906"; }

.icon-chevron-double-right:before {
  content: "\e907"; }

.icon-chevron-left:before {
  content: "\e908"; }

.icon-chevron-right:before {
  content: "\e909"; }

.icon-circle-chevron-right:before {
  content: "\e90a"; }

.icon-circle-cross:before {
  content: "\e90b"; }

.icon-circle-information:before {
  content: "\e92a"; }

.icon-circle-tick:before {
  content: "\e90c"; }

.icon-circle:before {
  content: "\e90d"; }

.icon-clock:before {
  content: "\e90e"; }

.icon-cursor-click:before {
  content: "\e90f"; }

.icon-deliveroo:before {
  content: "\e910"; }

.icon-disabled-access:before {
  content: "\e911"; }

.icon-drink:before {
  content: "\e912"; }

.icon-envelope:before {
  content: "\e913"; }

.icon-face:before {
  content: "\e914"; }

.icon-information:before {
  content: "\e915"; }

.icon-list:before {
  content: "\e916"; }

.icon-magnifying-glass-minus:before {
  content: "\e917"; }

.icon-magnifying-glass-plus:before {
  content: "\e918"; }

.icon-magnifying-glass:before {
  content: "\e919"; }

.icon-map-pin:before {
  content: "\e91a"; }

.icon-minus:before {
  content: "\e91b"; }

.icon-phone:before {
  content: "\e91c"; }

.icon-plus:before {
  content: "\e91d"; }

.icon-shop:before {
  content: "\e91e"; }

.icon-star:before {
  content: "\e91f"; }

.icon-tick:before {
  content: "\e920"; }

.icon-times:before {
  content: "\e921"; }

.icon-van:before {
  content: "\e922"; }

.icon-wifi:before {
  content: "\e923"; }

.icon-facebook:before {
  content: "\e924"; }

.fa-icon-whatsapp:before {
  background: url('/icons/whatsapp-brands.svg') center; }

.icon-instagram:before {
  content: "\e925"; }

.icon-spotify:before {
  content: "\e926"; }

.icon-twitter:before {
  content: "\e927"; }

.icon-linkedin:before {
  content: "\e928"; }

.icon-messenger:before {
  content: "\e929"; }

.icon-dog:before {
  content: "\e92b"; }
 
.icon-outdoor-seating:before {
  content: "\e92c"; }
 
.icon-halal:before {
  content: "\e92d"; }
  